[2022-03-13 05:12] stephaniestahlberg commented on #140
## 3/15/22  Meeting agenda

### Prework to prep for meeting

### New items

- [ ] Define a reporting format for usability testing findings
- [ ] Agree on a plan for the UXD-UXR working session on Friday
- [ ] Discuss CMS research testing schedule

### Notes from meeting

### Task items

[2022-03-13 06:37] stephaniestahlberg commented on #160
Yes, confirmed.

[2022-03-13 19:13] sharadgaurav7 commented on #151
@Aveline-art , will you please re-write the objective and explain why do we need the 3rd party sign-in, or what is it going to accomplish.
NOT URGENT :)

[2022-03-13 19:59] sdimran opened #181 "Onboard & Offboard: Product"
### Dependency
- When a new PM joins or leaves the team (see this issue for updates on the recruitment process #218 )

### Overview
We need to have a checklist of items to do when a product manager onboard and offboards so that the process can be consistent and fast.

### Date Updated
(insert date you created this issue and keep updating the date each time the org template change are integrated)

[2022-03-13 20:32] sdimran commented on #164
Hi @jenchuu, we had some discussions with Bonnie today around this issue and have some feedback, please see below. the numbers reflect which step above I am referring too:

1. we can remove the mentions about meeting zoom links from CoP

2. Reviewed this one with Bonnie and reworded the step for clarity. i have included the note in figma as well beside this screen :
       - Select which roles you

[2022-03-14 00:03] janzenmolina commented on #172
@sdimran After meeting with the design team, I believe it's still necessary. I'll update the action items list soon with more details about the components that will be created for this issue.

[2022-03-14 16:22] ExperimentsInHonesty commented on #164
I gave some rewording to the pms

2. Select which roles you are interested in and input your weekly availability to see all your project matches.   Explore the results to see if the skills and other details are a good fit.

[2022-03-15 00:26] Aveline-art commented on #39
### Agenda for March 14, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Weekly check-in
  - [ ] What have I worked on this week?
  - [ ] What am I working on now?
  - [ ] What blockers do I have?
  - [ ] What do I plan to work on in the future?

[2022-03-15 23:25] jenchuu commented on #135
## Mar 15, 2022 Agenda and Notes

### Prework
- [ ] Create issue for Design System additions
- [ ] Create issue for footer color
- [ ] Create issue for mobile filter design
- [ ] Create issue for Availability filter design (pop up, etc.)

### Roll Call

#### Recurring items: Happens on the UX/UI meeting
 - [ ] Review [Issues in progress](https://github.com/hackforla/CivicTechJobs/projects/1#column

[2022-03-15 23:34] jenchuu opened #182 "Change Footer Color"
### Overview

As a UX Designer, we need to ensure consist use of the color palette throughout the website. We need to change the color of the footer (and potentially the color of the button used in footer) to ensure consistency, currently it is not a color that is in our color palette.

### Action Items

- [x] Change color of footer (comply with WCAG)
- [x] Potentially change color of button used

[2022-03-15 23:49] jenchuu opened #183 "Design Filters for mobile"
### Overview

As a UX Designer we need to ensure mobile filters are easy to use. For this issue, we will ideate and design the filters for mobile.

### Action Items

- [ ] Gather mobile filter inspiration
- [ ] Ideate mobile filter solutions (wireframe)
- [ ] Annotate wireframes
- [ ] Present to UXD team for feedback
- [ ] Decide mobile filter design

### Resources/Instructions

[Resources](https:

[2022-03-15 23:54] jenchuu opened #184 "Design "Availability" filter"
### Overview

As a UX Designer we need to ensure users can quickly and intuitively change their availability when on the search results page. For this issue, we will ideate and design the Availability filter.

### Action Items

- [ ] Gather availability scheduler / filter inspiration
- [ ] Ideate mobile filter solutions (wireframe)
- [ ] Annotate wireframes
- [ ] Present to UXD team for feedback
-

[2022-03-15 23:59] sdimran commented on #16
## [03/15/2022 ]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Grace](https://github.com/hackforla/CivicTechJobs/issues/assigned/graceerya)
       - [ ] [Jen](ht

[2022-03-16 00:06] stephaniestahlberg commented on #144
Here is a preview of findings from the user research on the new volunteer flow. Full presentation with insights and recommendations to come later.

* Overall, users really like the feel and look of the designs, including the images used, and the general user flow was clear.
* However, there is a loophole in the flow: from the homepage, users can go straight to log in and then sign up with an accou

[2022-03-16 00:25] jenchuu opened #185 "Add Secondary Ghost Button to Design System"
### Overview

As a UX Designer, we need to ensure consistency across the website and design faster. For this issue, we will add the Secondary button (ghost button) variant to the design system.

### Action Items

- [ ] Find where Secondary buttons used in page designs
- [ ] Create components of Secondary button in "Pending Components to Design System" black rectangle
- [ ] Make variants
- [ ] Chec

[2022-03-16 00:26] jenchuu opened #186 "Add Tertiary Button to Design System"
### Overview

As a UX Designer, we need to ensure consistency across the website and design faster. For this issue, we will add the Tertiary button (bolded, underlined copy) variant to the design system.

### Action Items

- [ ] Find where tertiary buttons used in page designs
- [ ] Create components of Tertiary button in "Pending Components to Design System" black rectangle
- [ ] Make variants
-

[2022-03-16 19:42] ExperimentsInHonesty commented on #101
Please add to our next agenda
Let's discuss you adding this [CTA](https://docs.google.com/presentation/d/1UDHwTQ1C3y01CiNS0mvPjNBHJFlm2Txs/preview) to your team agenda

[2022-03-17 02:50] #132 closed

[2022-03-20 18:28] sharadgaurav7 commented on #186
@jenchuu , can you please add the right feature label

[2022-03-20 18:29] sharadgaurav7 commented on #185
@jenchuu can you please add the right feature label

[2022-03-20 18:29] sharadgaurav7 commented on #184
@jenchuu can you please add the right feature label

[2022-03-20 18:30] sharadgaurav7 commented on #183
@jenchuu can you please add the right feature label

[2022-03-20 18:31] sharadgaurav7 commented on #182
@jenchuu can you please add the right feature label

[2022-03-20 18:34] sharadgaurav7 commented on #51
Date:
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] size, ending at (0/0)
   - [x] features, ending at (6/0)
   - [x] role, ending at (1/1)

[2022-03-20 18:37] sharadgaurav7 commented on #101
## [03/20/22] Agenda  and notes

### Prework
- [ ] issue for audit #51

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Sharad](https://github.com/hackforla/CivicTechJobs/issues/a

[2022-03-21 03:27] stephaniestahlberg commented on #140
## 3/22/22  Meeting agenda

### Prework to prep for meeting

### New items

- [ ] Introduce ourselves and the project to a potential new team member (Lihui)
- [ ] Discuss the usability testing findings presentation - what went well, any changes for the future
- [ ] Updates on CMS research
- [ ] Schedule a meeting to work on CMS analysis and generate list of insights and recommendations

### Notes

[2022-03-21 15:23] jenchuu commented on #80
Edited mobile hamburger menu:
<img width="437" alt="CTJ hamburger menu items (mobile)2" src="https://user-images.githubusercontent.com/88695763/159293503-53c42cd0-eb5e-4159-9f98-b40151563a1b.png">

[2022-03-21 15:24] jenchuu commented on #122
@sharadgaurav7 @sdimran Can't we keep the pages/screens the same for both log ins?

[2022-03-21 15:25] #173 closed

[2022-03-21 15:26] #160 closed

[2022-03-21 15:49] jenchuu commented on #164
@ExperimentsInHonesty @sdimran @sharadgaurav7 Thank you for the feedback. To confirm, we are getting rid of the step asking new volunteers to sign up with an account?

[2022-03-21 23:59] NickTSA commented on #163
@jenchuu @Aveline-art Should this have a similar background file for mobile view as well?

[2022-03-22 02:44] Aveline-art commented on #163
@jenchuu I'm not sure what happened to this, but @NickTSA pointed out that we also would need to provide the grouped image in mobile as well, since the mobile version is not directly proportionate. I'm sorry; it has completely escaped my mind.

@NickTSA I'm going to unassign you and return this back to design. Feel free to look for another issue to take.

[2022-03-22 14:40] Aveline-art commented on #78
Update March 22, 2022:

Research stage is complete. The current implementation plan for a staging environment involves

- Set up our technologies for production; this is done since the staging environment should closely follow production, only that the database is not the one used for production
- Using nginex as our webserver
- Using Amazon EC2 to upload our docker container
  - Add other service

[2022-03-22 14:42] Aveline-art commented on #64
Hi @slavdefense ! I see that this issue has been assigned for over two weeks already. Can we get a progress update on it just so the team knows where we are at and how we can help move this issue along.

* Progress: "What is the current status of your project? What have you completed and what is left to do?"
* Blockers: "Difficulties or errors encountered."
* Availability: "How much time will you

[2022-03-22 23:18] sdimran commented on #172
@janzenmolina can you please add the additional details as mentioned above in your comment and let us know so that we can move this from new issue approval to the prioritized backlog?

[2022-03-22 23:26] jenchuu commented on #163
@NickTSA @Aveline-art No worries! This has been fixed; please take a look at the Figma and let me know if this work for you guys now.
Grouped Light tan and Tan background for both Desktop and Mobile is labeled: Background

Ex below
<img width="619" alt="Background (Light tan and Tan elements)" src="https://user-images.githubusercontent.com/88695763/159592602-e0563a7c-31b6-483d-817f-2e6890e03210.pn

[2022-03-22 23:28] sdimran commented on #185
@jenchuu could you explain what a ghost button is for clarification?

[2022-03-22 23:29] sdimran commented on #186
@jenchuu could you also explain what the tertiary button is? also should the first action item read : Find where Tertiary buttons used in page designs ?

[2022-03-22 23:35] jenchuu commented on #135
## Mar 22, 2022 Agenda and Notes

### Prework
- [ ] Finish affinity mapping session with UXRs

### Roll Call

#### Recurring items: Happens on the UX/UI meeting
 - [ ] Review [Issues in progress](https://github.com/hackforla/CivicTechJobs/projects/1#column-10928272)
 - [ ] Accountability and Support Check
    - [ ] Review assignments for each Designer

#### New Items
- [ ] Create issues for design

[2022-03-22 23:46] sdimran commented on #80
@jenchuu @sharadgaurav7 and I compared notes and had a discussion -- can we make the "Team Lead/Post a role" button read as "CMS Log in" and have a tooltip on the top right with the description : "If you are a team lead/PM at HackforLA, use this to post a role/view the dashboard". lets plan to go live with this version of the nav bar and see the feedback

[2022-03-22 23:53] sdimran commented on #122
@jenchuu agreed, we can use the same screens and designs but for the CMS log-in there may be an extra step depending on how authentication for projects will work. after discussions with @sharadgaurav7 @Aveline-art , we are trying to work through the account creation process for projects at hackforLA. project emails already exist unlike user emails so the account creation flow that users go through

[2022-03-23 01:42] stephaniestahlberg commented on #144
Final slide deck with insights and recommendations is [here](https://docs.google.com/presentation/d/15R3H1Jox6h7voPr4hoxTI0SqCesmMxBVaaE58YnKS1s/edit#slide=id.p1). Presented to the team on 3/22/22.

[2022-03-23 01:42] #144 closed

[2022-03-23 01:44] stephaniestahlberg commented on #179
@sdimran @sharadgaurav7 We have completed the CMS interviews and I will now work on analyzing the responses that are relevant for metrics discussions. So I will move this issue to "In progress."

[2022-03-23 02:19] janzenmolina commented on #172
@sdimran Details added, should be ready to move now

[2022-03-23 10:09] thomasdemoner commented on #35
Expunge Assist: https://github.com/hackforla/expunge-assist/issues/340

[2022-03-23 23:54] stephaniestahlberg commented on #179
Findings from CMS research that are relevant for creating CMS metrics that compare the current recruiting system to the new CTJ system:

- HfLA volunteers use a variety of methods for recruiting new team members. So if we ask only about the Github roles board, we might miss their preferred/most used methods.

- Other recruiting methods mentioned during interviews: Slack channels, attending a CoP m

[2022-03-25 01:24] graceerya commented on #182
I have revised the desktop and header footers so that the blue background color adheres to the current dark blue we have in the design system. I also made the button white instead of light blue to comply with WCAG; this color choice may potentially change. The "Donate" button has been made larger on the desktop footer to improve readability.
<img width="293" alt="image" src="https://user-images.gi

[2022-03-26 00:33] jenchuu commented on #185
@sdimran Sure, ghost button is button that has an outline but no solid fill. Companies sometimes use these as secondary buttons.

[2022-03-26 00:34] jenchuu commented on #186
@sdimran Tertiary button = third level of buttons. Primary, secondary, tertiary
and fixed that thanks!

[2022-03-26 00:50] jenchuu commented on #80
@sdimran @sharadgaurav7
Changed to CMS Log in. Can you explain why you think a tooltip is needed? I don't see the need or fit here... I can see that description fitting better on the CMS Log in page at top once a user clicks on the button.

Please see revised nav bar items below:
<img width="998" alt="CTJ nav bar items (desktop) 2" src="https://user-images.githubusercontent.com/88695763/160217877-

[2022-03-26 01:01] sdimran commented on #80
Looks good @jenchuu. with regards to the tooltip, this was to give users some clarity in case they were wondering what CMS log in means, but also agree that having that description at the top of the log in page itself once clicked would satisfy that. we can go with your suggestion(this can include a link to the normal user log in page where they should have gone). thoughts @sharadgaurav7

[2022-03-26 02:06] stephaniestahlberg commented on #145
The research team has concluded the research with 11 participants from different CoPs. We are working on analyzing the findings now to create a presentation for the team.

[2022-03-27 16:05] sdimran commented on #51
Date:
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at (0/0)
   - [ ] features, ending at (0/0)
   - [ ] role, ending at (0/0)

[2022-03-27 16:19] sdimran commented on #16
## [Date ]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Grace](https://github.com/hackforla/CivicTechJobs/issues/assigned/graceerya)
       - [ ] [Jen](https://

[2022-03-28 15:40] jenchuu commented on #182
This looks great. Let's roll with it for now! Please change on design system and use component on landing page/other pages.

[2022-03-29 00:28] Aveline-art commented on #39
### Agenda for March 29, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Weekly check-in
  - [ ] What have I worked on this week?
  - [ ] What am I working on now?
  - [ ] What blockers do I have?
  - [ ] What do I plan to work on in the future?
- [ ] Discuss the staging environment

[2022-03-29 03:42] stephaniestahlberg commented on #140
## 3/29/22  Meeting agenda

### New items

- [ ] Discuss the CMS presentation
- [ ] Answer questions the new team members might have

### Notes from meeting

[2022-03-29 20:34] Aveline-art commented on #78
Current directory structure:

[code]
*<p style="text-align: center;">Overall project structure</p>*

[2022-03-29 23:30] sdimran commented on #145
@stephaniestahlberg @Dendorable the wireframe and research is completed, can we create a new issue to track the presentation of the findings this way we can mark this as done as it is a dependency for #179 which is in progress

[2022-03-29 23:32] sdimran commented on #179
@stephaniestahlberg im going to move this into the ice box until we have reviewed the findings from #145. please see my comment on it. if we are okay to track the presentation in a separate ticket we can close #145 and clear the dependency on it. but until then i will move this back into the ice box. let me know if you have any questions

[2022-03-29 23:36] sdimran commented on #172
This is good to work on. thanks for adding the details @janzenmolina you can assign this to yourself at your convenience.

[2022-03-29 23:39] #145 closed

[2022-03-29 23:45] stephaniestahlberg opened #188 "Presentation of CMS research findings"
### Dependency

- [x] #145

### Overview

As a researcher, we need to analyze the findings from our research and prepare a presentation that includes insights and recommendations to deliver to the team.

### Action Items

- [x] Analyze the findings from the research
- [x] Prepare a slide deck for presentation
- [x] Present insights and recommendations to the team

### Resources/Instructions

[Reso

[2022-03-30 00:14] stephaniestahlberg commented on #179
#145 has been closed now. When you move this issue to prioritized backlog, I will assign myself. Thanks.

[2022-03-30 00:35] Aveline-art commented on #50
I am taking this issue as this must be done concurrently with my work on #78

[2022-03-30 00:49] jenchuu commented on #135
## Mar 29, 2022 Agenda and Notes

### Roll Call

#### Recurring items: Happens on the UX/UI meeting
 - [ ] Review [Issues in progress](https://github.com/hackforla/CivicTechJobs/projects/1#column-10928272)
 - [ ] Accountability and Support Check
    - [ ] Review assignments for each Designer

#### New Items
- [ ] Wireframe solutions to make "how to join" process clear and easily findable for new v

[2022-03-30 00:52] jenchuu commented on #135
## [DATE] Agenda and Notes

### Prework
- [ ] Add prework here

### Roll Call

#### Recurring items: Happens on the UX/UI meeting
 - [ ] Review (https://github.com/hackforla/CivicTechJobs/projects/1#column-10928272)
 - [ ] Accountability and Support Check
    - [ ] Review assignments for each Designer

#### New Items
-

#### Task items from Team meeting to review
- [ ]
  - [ ] Carry forward the "N

[2022-03-30 16:18] Aveline-art opened #189 "Research using Service Workers as a caching mechanism"
### Dependency

- [x] #78
- [x] #77
- [ ] login page design issue (tbd)
- [ ] all dev issues concerning qualifer and login page (tbd)

### Overview

As a developer we need to investigate technology that can solve problems for our application. For this issue we will research and forward a proposal for how Service Workers can help us achieve our MVP.

### Action Items

- [ ] Read the instructions be

[2022-03-30 16:26] Aveline-art opened #190 "Add lazy loading capabilities to our codebase"
### Dependency

- [x] #50

### Overview

As a developer, we ideally would optimize our website's loading whenever possible. For this issue we will leverage webpack and react to lazily load our assets.

### Action Items

- [ ] Find areas on our website where lazy loading can added
- [ ] Add lazy loading to our codebase

### Resources/Instructions

Note: Although lazy loading is quite powerful, it s

[2022-03-30 20:39] Aveline-art commented on #78
Update Mar 30, 2022

- Got application layer (gunicorn) and server layer (nginx) to work with docker
- Webpack is not building production files correctly during the dockerfile's build step, will debug

[2022-03-30 21:38] Aveline-art commented on #165
Update March 30, 2022: Completed the hosting and GHA requirements. The only work left is to move over all missing documentation from the wiki to the documentation repo.

[2022-03-31 17:16] Aveline-art commented on #39
### Agenda for April 05, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Weekly check-in
  - [ ] What have I worked on this week?
  - [ ] What am I working on now?
  - [ ] What blockers do I have?
  - [ ] What do I plan to work on in the future?
- [ ] Rethinking the frontend directory
  - [ ] A lot of the django files in there serves no purpose
  - [ ] Most of the fro

[2022-03-31 17:39] Aveline-art commented on #77
Note to team:

- I have added this issue as a dependency for #189, since it involves research and testing once we have several pages up (namely, qualifer, login, and possibly more). Since issues to create these pages are somewhat far-off, I could not add those issues as further dependencies on #189. I recommend adding issues about the qualifier/login page as dependencies for #189 when they are rea

[2022-03-31 19:43] Aveline-art opened #192 "Create bash script to run shortened version of useful commands"
### Overview

As a developer, we need to make development friendly so that less time is spent on debugging and more time on building a valuable product. For this issue we will leverage bash scripting to quickly run our cumbersome commands.

### Action Items

- [ ] Develop a script (or series of scripts), that can be customized to run shortened commands (see below for more info)

### Resources/Inst

[2022-04-01 14:29] Aveline-art commented on #78
### Update April 1, 2022

- Finished with everything as far as our side is concerned.
  - One thing I could not test was https settings since I need a valid ssl certification for it (there are options to create a dummy, however, but the process is rather complex)
  - Therefore, ssl certs should be tested once we are live
- The next steps are:
  - Create a demo on what kind of AWS tools we can use

[2022-04-01 22:12] jenchuu opened #193 "(Roles) Qualifier page revisions"
### Overview

As a designer, we will delete the banner to decrease confusion and options user can take on page so user focuses on main task of filling out desired roles.

### Action Items

- [x] Delete banner
- [x] Ideate feedback of what it'll look like when user selects one vs multiple roles
- [x] Log ideations and which are best solution(s) and why in GitHub comments below
- [x] Present for fee

[2022-04-01 22:20] jenchuu opened #194 "(Calendar) Qualifier page revisions"
### Overview

As a designer, we need to make it intuitive and easy for users to select their availability on the calendar. Here we will fix the calendar availability blocks / instructions.

### Action Items

- [x] Ideate ways to make it intuitive users are selecting their AVAILABILITY (ex. change block color from blue to green, onboarding tooltip on calendar that says "drag to select hours" guidin

[2022-04-01 22:32] jenchuu opened #195 "(Skills) Search results page revisions"
### Overview

As a designer, we need to ensure new volunteers understand what skills are required and what skills they'll learn through volunteering on the project cards on the search results page. We will replace or change the tooltip to a tertiary button tooltip ("Are skills required?") or use similar language of CMS pages ("required" or "willing to learn").

### Action Items

- [ ] Ideate ways

[2022-04-01 22:36] jenchuu opened #196 "(Meeting Times) Search results page revisions"
### Overview

As a designer, we need to ensure new volunteers understand the meetings on the project cards are mandatory. We will fix the copy to include "mandatory" somewhere.

### Action Items

- [ ] Fix Meetings Times to include "mandatory" somewhere
- [ ] Log ideations and which are best solution(s) and why in GitHub comments below
- [ ] Present for feedback
- [ ] Decide and implement in Figma

[2022-04-01 22:40] jenchuu opened #197 "(Banner) Search results page revisions"
### Overview

As a designer, we need users to read the banner to ensure they understand the next steps to join as a volunteer. We will fix the banner and its copy to draw more attention to it and give better clarity over next steps in "how to join" process.

### Action Items

- [x] Ideate ways to draw more attention to banner (ex. change color, tooltip, change banner to alert, change copy to "This

[2022-04-01 23:11] jenchuu opened #198 "(Filter) Search results page revisions"
### Overview

As a designer, we need to present applied filters in digestible way and ensure not too lengthy. We will design what the applied filter section looks like when many time availabilities and other filters are selected (and iterate on applied filter design if necessary).

### Action Items

- [x] Design applied filters based on availability filled out on calendar
- [x] Ideate ways to keep

[2022-04-01 23:21] jenchuu opened #199 "(Availability filter) Search results page revisions"
### Overview

As a designer, we need to allow new volunteers to easily and quickly change their availability from the search page. We will design the Availability filter.

### Action Items

- [x] Ideate ways for user to easily change availability via filter (ex. modal pop up window with calendar, in filter drop down list days and can enter time ranges manually, etc.)
- [x] Log ideations and which

[2022-04-02 00:04] stephaniestahlberg commented on #196
To be discussed: Let's make sure to incorporate CMS research findings into this one. One relevant finding is that some teams may not have a specific meeting time that is required. One participant told us that their development team requires that people attend at least one development meeting a week, and they can pick which meeting they attend. Another example from a different CMS research particip

[2022-04-02 00:08] stephaniestahlberg commented on #195
The CMS research has some findings that are relevant for the language around Skills. Let's discuss after we present.

[2022-04-02 03:38] Aveline-art opened #200 "React 18 migration"
### Dependency

- [x] #74
- [x] #96

### Overview

As a developer, we should utilize the newest technologies as it is more performant and offer enhanced features to support our work. For this issue, we will migrate from React 17 to 18.

### Action Items

- [x] Read the resources below to get updates on React18.
- [x] Migrate over the React18, making code changes as needed. These changes are requir

[2022-04-02 03:39] Aveline-art commented on #200
Note to team: migrating to React18 will break our product on Internet Explorer (the browser). Please consider that before moving this issue forward.

[2022-04-02 21:02] stephaniestahlberg commented on #179
Metrics that will compare the new Civic Tech Jobs recruiting process to the old recruiting process at Hack for LA:

•	Number of recruiting challenges that people face
•	Satisfaction rate with the recruiting process

Examples of impact that we will be able to claim with these metrics:

•	CTJ reduced the number of recruiting challenges by X% for those doing the recruiting and by X% for those joining

[2022-04-02 21:52] sdimran commented on #179
Hi @stephaniestahlberg , my mistake for missing this -- we can move this over to in progress based on our discussion today

[2022-04-03 02:55] stephaniestahlberg commented on #179
Our comparative metrics for CMS were finalized during the meeting with the PMs today, and they are listed in my previous comment above. I am closing this issue and will start working on the survey that will collect data for these metrics.

[2022-04-03 02:55] #179 closed

[2022-04-03 02:58] stephaniestahlberg commented on #180
@sdimran @sharadgaurav7 The dependency on this issue has been closed and I would like to start working on this issue now. Can you move it out of the ice box? Thanks.

[2022-04-03 04:26] stephaniestahlberg opened #206 "Collect data and analyze results for CTJ metrics survey - CMS"
### Dependency

- [x] #180

### Overview

As a researcher, we need to analyze the results from the survey for PMs and Leads on Hack for LA's current process for filling open roles in their teams to inform our CTJ metrics.

### Action Items

- [x] Advertise the survey until we get enough responses (aiming for at least 30)
- [x] Analyze overall survey results
- [x] Prepare a summary to present to th

[2022-04-03 17:06] sdimran commented on #101
## [4/3/22] Agenda  and notes

### Prework
- [ ] issue for audit #51

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Sharad](https://github.com/hackforla/CivicTechJobs/issues/ass

[2022-04-03 17:07] sharadgaurav7 commented on #195
@stephaniestahlberg , please update this issue with the findings so the UX team will keep records of what was included and why.

[2022-04-03 17:09] sdimran commented on #51
Date: 4/3/22
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at
   - [ ] features, ending at
   - [ ] role, ending at
   - [ ] m

[2022-04-03 17:10] sdimran commented on #16
## [4/3/22]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Grace](https://github.com/hackforla/CivicTechJobs/issues/assigned/graceerya)
       - [ ] [Jen](https:/

[2022-04-03 17:19] sdimran commented on #193
@stephaniestahlberg , from the research, was one of the other concerns that users did not understand what the wording of the blurb was referring too while they were on the qualifier page? this would line up with the knowledge gap we discussed regarding "how to join". the current text of "Please log in or attend onboarding with Hack for LA to see full details of available opportunities." without th

[2022-04-03 17:28] sdimran commented on #184
Hi @jenchuu what's the difference between #199 and this issue? looks like it covers the same item

[2022-04-03 17:29] sdimran commented on #199
@jenchuu  what is the difference between #184  and this issue? looks to cover the same functionality

[2022-04-03 19:46] sdimran commented on #200
@Aveline-art  can you still add the necessary labels before we put this into the icebox -- sharad and i can then review it accordingly for the details. Thanks!

[2022-04-03 22:26] Aveline-art commented on #200
There's probably no need to review it now since it is in the icebox and details are liable to change. Can I hold off on this until dependencies are done?

[2022-04-03 22:31] Aveline-art commented on #200
Also, it seems to have been moved into new issue approval. Should I move it back? I'm not sure it is ready for approval yet.

[2022-04-05 01:27] sdimran commented on #206
thanks for creating this @stephaniestahlberg, I saw the dependency so we can move this into the icebox.

[2022-04-05 02:07] sdimran commented on #200
Hi Ava my apologies for the late response, I moved it into new issue approval because even if we are not working on this currently, it will be worked on down the line and we should ensure that the necessary details and labels (at the minimum the role and features, and an estimate size which could be changed later) are included for whoever does pick this up when the dependencies are completed. we c

[2022-04-05 21:07] jenchuu commented on #184
@sdimran
You're right; it's same but #199 is formatted the same as the other prioritized issues. Closing this one.

[2022-04-05 21:07] #184 closed

[2022-04-05 21:14] jenchuu commented on #199
@sdimran #184 has been deleted.

[2022-04-05 21:27] stephaniestahlberg commented on #193
@sdimran Correct, the text can be difficult to understand without prior knowledge of the "how to join" steps. Clearing up those steps early on might resolve the problem on the banner's language. Another finding was that many users missed the banner altogether. Which is what I understand this issue is about. Drawing more attention to the banner would help remind the user that they will need to atte

[2022-04-05 23:20] jenchuu opened #208 "(How to join steps) Landing page revisions"
### Overview

We need to ensure new volunteers understand the correct order of steps when joining Civic Tech Jobs. We will edit landing page or flow to clearly communicate steps on how to join.

### Action Items

- [ ] Ideate ways to communicate "how to join" (ex. GIF animation, summary of concise steps, OR add extra step in flow that shows steps before starting qualifier pages)
- [ ] Log ideation

[2022-04-05 23:34] jenchuu opened #209 "P1 design revisions"
### Dependency

- [x] #193
- [x] #194

### Overview

We need to complete P1 design revisions before moving on to P2. This will be used to track P1 issues to ensure we complete everything needed.

### Action Items

- [ ] Complete P1 issues
- [ ] Close and move to P2

### Resources/Instructions

[Design prioritization/breakdown](https://docs.google.com/spreadsheets/d/1au1yWIGonoE-UQfhGBqBVca-SZ5B-Qx

[2022-04-05 23:41] jenchuu opened #210 "P2 design revisions"
### Dependency

- [ ] #195
- [x] #196
- [x] #197
- [x] #198
- [x] #199

### Overview

We need to complete P2 design revisions before moving on to P3. This will be used to track P2 issues to ensure we complete everything needed.

### Action Items

- [ ] Complete P2 issues
- [ ] Close and move to P3

### Resources/Instructions

[Design prioritization/breakdown](https://docs.google.com/spreadsheets/d

[2022-04-05 23:44] jenchuu opened #211 "P3 design revisions"
### Dependency

- [x] #208
- [x] #216
- [x] #123

### Overview

We need to complete P3 design revisions before moving on to P4. This will be used to track P3 issue(s) to ensure we complete everything needed.

### Action Items

- [ ] Complete P3 issues
- [ ] Close and move to P4 (final)

### Resources/Instructions

[Design prioritization/breakdown](https://docs.google.com/spreadsheets/d/1au1yWIGono

[2022-04-05 23:53] jenchuu opened #212 "(Steps) How to join page revisions"
### Overview

We need to ensure new volunteers understand the correct order of steps when joining Civic Tech Jobs. We will edit the How to join page to clearly communicate steps on how to join.

### Action Items

- [ ] Edit steps (combine step 1 and 2, making "browse CoP" a subsection of "choose role and select availability")
- [ ] Ideate ways for user to easily achieve each step (checkbox list th

[2022-04-06 01:34] jenchuu commented on #135
## April 07, 2022 Agenda and Notes

### Roll Call

#### Recurring items: Happens on the UX/UI meeting
 - [ ] Review [Issues in progress](https://github.com/hackforla/CivicTechJobs/projects/1#column-10928272)
 - [ ] #209
 - [ ] Accountability and Support Check
    - [ ] Review assignments for each Designer

#### New Items
- [ ] Wireframe solutions to make "how to join" process clear and easily find

[2022-04-06 02:49] ExperimentsInHonesty commented on #51
Date:
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at
   - [ ] features, ending at 6/2
   - [ ] role, ending at 1/0
   - [ ]

[2022-04-06 17:07] Aveline-art opened #214 "Remove Django files in Frontend directory"
### Dependency

- [ ] #78

### Overview

As a developer we need to ensure that our website is minimized before proceeding to production. For this issue, we will shrink the `frontend` directory.

### Action Items

- [x] Remove all Django related files from the frontend directory.
- [x] Reroute the webpack build files to the server directory rather than the frontend directory.
- [x] As part of this,

[2022-04-06 17:15] stephaniestahlberg commented on #180
@sharadgaurav7 @sdimran @MariaElizabeth04 Please see the survey draft here. After some more thinking, I decided to also include an industry-standard metric for usability that is called the [System Usability Score (SUS)](https://www.bentley.edu/centers/user-experience-center/what-every-client-should-know-about-sus-scores). The score is based on a 10-item questionnaire, which I included under questi

[2022-04-07 23:12] jenchuu opened #216 "(Redesign Footer) Landing page revisions"
### Overview

We need to redesign the footer to communicate our affiliation with Hack for LA and useful resources/info for users. We will add our affiliation with Hack for LA and the Hack for LA logo to the footer... and also figure out if we need to take away the Donate button?
*Per Bonnie, HfLA logo needs to be somewhere on website.. either footer, in an About page, or both.

### Action Items

-

[2022-04-07 23:28] sdimran commented on #198
Hi Jen, before I approve this one, was this revision based on any particular feedback from the usability testing? I saw on our figma we were using the below notation. is there a reasoning behind the revision?

![image](https://user-images.githubusercontent.com/7094304/162335544-3e5f8ef6-f169-44dd-8d5e-8b1df1baaf02.png)

[2022-04-07 23:38] sdimran commented on #216
@jenchuu since the  affiliation with HfLA is an Org level requirement, in your discussion with bonnie, did she mention that we NEED to have this even for the initial landing page? if so then this should be a P1 level priority and actioned accordingly. please let me know

[2022-04-07 23:45] jenchuu commented on #198
@sdimran No specific feedback from usability test, BUT I'd like to create applied filters as close to what real product will look like.. especially for next usability test. We want to start designing as close to "real life" as possible.

[2022-04-07 23:48] jenchuu commented on #216
@sdimran Oh, you're right! Please change milestone appropriately then.

[2022-04-08 00:11] jenchuu opened #217 "P4 design revisions"
### Dependency

- [x] #212

### Overview

We need to complete P4 design revisions before moving on to creating V2 of new user flow (desktop). This will be used to track P4 issue(s) to ensure we complete everything needed.

### Action Items

- [ ] Complete P4 issues
- [ ] Close and move to creating V2 of new user flow

### Resources/Instructions

[Design prioritization/breakdown](https://docs.googl

[2022-04-08 16:19] sdimran commented on #198
Thanks @jenchuu  for clarifying. this is good to work on.

[2022-04-08 16:22] sdimran commented on #216
Thanks @jenchuu, lets get the Affiliation logo into the footer of our website for the initial landing page. will you need to change the description and action items due to this?

[2022-04-10 15:46] smsada commented on #35
Civic Tech Index: [CTI-website-frontend/issues/879](https://github.com/civictechindex/CTI-website-frontend/issues/879)

[2022-04-10 17:08] smsada commented on #35
Civic Tech Index: [CTI-website-frontend/issues/879](https://github.com/civictechindex/CTI-website-frontend/issues/879)

[2022-04-10 17:23] sdimran commented on #101
## [4/10/22] Agenda  and notes

### Prework
- [ ] issue for audit #51

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Sharad](https://github.com/hackforla/CivicTechJobs/issues/as

[2022-04-10 17:35] sdimran opened #218 "Recruit: Product Manager"
### Dependancy
for when we need to recruit a PM

### Overview
We need to recruit a product manager to join the pm team in order to have a pair and a spare.

### Action Items

- [ ] Draft a job posting and put in the comments below

- [ ]  Update project info on HfLA website (include link here)
- [ ]  Create job posting on Product job board
- [ ]  Post message in CoP slack channel
- [ ]  Speak to o

[2022-04-10 17:39] sdimran opened #219 "Recruit UI/UX Researcher"
### Dependancy

For when we need to recruit a UX Researcher

### Overview

We need to recruit a UI/UX Researcher who will assist and contribute to the project goals so that we can successfully work towards our MVP and Post MVP

### Action Items

- [ ] Copy the existing post and update the draft to fit the new format for recruitment. Put a comment in this issue.
- [ ] Create job posting on UI/UX jo

[2022-04-10 19:30] ExperimentsInHonesty commented on #51
Date:
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at 1/0
   - [ ] features, ending at 0/0
   - [ ] role, ending at 2/0
   -

[2022-04-10 20:46] sdimran commented on #180
Hi @stephaniestahlberg, I went through the survey with Bonnie and she is all for running it and getting feedback. she has a few comments and notes that we discussed I am sharing below. @ExperimentsInHonesty if I have missed anything please feel free to add/correct

#6 Q3, are we asking based on feedback from people who have joined the team through other means of recruitment?

Q4 is a lot of words

[2022-04-11 15:50] stephaniestahlberg commented on #180
Thanks @sdimran and @ExperimentsInHonesty. I have added an optional question at the end asking if the respondent would like to share anything else.

Q3: I am not sure I understand your question. We are asking the respondent to select the challenges they have faced while trying to fill open roles for their teams. These challenges come from the CMS research we did, where we asked participants to dis

[2022-04-12 15:24] Aveline-art commented on #39
### Agenda for April 12, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Weekly check-in
  - [ ] What have I worked on this week?
  - [ ] What am I working on now?
  - [ ] What blockers do I have?
  - [ ] What do I plan to work on in the future?

[2022-04-12 15:29] stephaniestahlberg commented on #140
## 4/12/22  Meeting agenda

### New items

- [ ] Discuss the CMS presentation
- [ ] Plan out future research: CTJ metrics, new volunteer survey, next round of usability testing

### Notes from meeting
-

[2022-04-13 00:07] sdimran commented on #16
## [4/12/22]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Grace](https://github.com/hackforla/CivicTechJobs/issues/assigned/graceerya)
       - [ ] [Jen](https:

[2022-04-13 01:06] Aveline-art opened #220 "Create Backend Schema in DRF"
### Related Issue (Can be worked on in tandem)

- [x] #159

Note: This issue can be done concurrently with its dependency.

### Overview

As part of our product we need to have a backend schema. For this issue we will add our tentative schema into our backend via DRF and a swagger UI.

### Action Items

- [x] See the db diagram below
- [x] Implement it using DRF
- [x] After implementation, add a s

[2022-04-13 02:13] sdimran commented on #188
Included Research presentation recording in the resources sections (google drive link)

[2022-04-13 02:19] sdimran commented on #188
@Dendorable @stephaniestahlberg @MariaElizabeth04  great work on putting this together!  Since we have presented the findings we can close this issue. we will refine and add the findings to our CMS issue #53 as requirements as well as add them to our requirements documentation. @sharadgaurav7

[2022-04-13 02:19] #188 closed

[2022-04-13 16:11] stephaniestahlberg commented on #195
Findings from CMS research on Skills section:
* Not everyone liked calling this category “Skills”. Some preferred “Technology” or “Tools”.
* Some teams/roles have required skills/tools, while others would place everything under "Willing to learn."

Recommendations based on these findings:
* Allow poster to select between "Skills" or "Technologies and Tools"
* Allow for “required skills” and “willi

[2022-04-14 17:42] stephaniestahlberg opened #221 "Design a survey for new volunteers for CTJ metrics"
### Overview

As a researcher, we need to create a survey for new volunteers so they can evaluate the Hack for LA process for joining teams. These survey responses will generate scores on the CTJ metrics we have defined and can be compared to how people evaluate the joining process using CTJ in the future.

### Action Items

- [x] Brainstorm ideas for collecting data on metrics
- [x] Write a resea

[2022-04-14 17:46] jenchuu opened #222 "New User Flow Prototype (Desktop) for usability test V2"
### Dependency
Page revisions from first usability test/UXR insights:
- [ ] #209
- [ ] #210
- [ ] #211
- [ ] #217

### Overview

As a UX Designer we to test our V2 New User Flow prototype to gain necessary data and insights to inform our design decisions and iterations, thereby improving users' experience.

###  Details
 For this issue, we will create a limited New User Flow prototype in Figma and

[2022-04-14 17:48] jenchuu commented on #222
@stephaniestahlberg Hi this has been created!

[2022-04-14 18:03] stephaniestahlberg opened #223 "New User Flow Desktop v2 - Usability Testing"
### Dependency

- [ ] #222

### Overview

As a researcher, we need to test the updated "new volunteer user flow" desktop prototype to identify any pain points and blockers before the pages are fully developed.

### Action Items

- [ ] Discuss goals for usability testing with the team
- [ ] Write a research plan
- [ ] Review the prototype and discuss any questions with the design team
- [ ] Set up

[2022-04-14 18:09] stephaniestahlberg opened #224 "Analyze and present results from usability testing - new volunteer v2"
### Dependency

- [x] #222
- [x] #223

### Overview

As a researcher, we need to analyze the findings from the usability testing and prepare a presentation that includes insights and recommendations to deliver to the team.

### Action Items

- [ ] Analyze the findings from the research
- [ ] Prepare a slide deck for presentation
- [ ] Present insights and recommendations to the team

### Resources

[2022-04-15 03:30] Aveline-art commented on #78
### Update April 14, 2022

- Met with Ops team to discuss our configurations
- Recommendations and improvements:
  - Remove nginx and use whitenoise to reduce server costs
  - (optional) Reduce app size by pooling everything into the server or config directory

@sdimran @sharadgaurav7 After meeting with the Ops team, we have come to the conclusion that we need to cut and reduce costs for our confi

[2022-04-15 19:31] ExperimentsInHonesty commented on #16
Please add this to this week's agenda and get it done during the meeting
- [ ] Taking a picture of the team [CTA Instructions](https://docs.google.com/presentation/d/1UDHwTQ1C3y01CiNS0mvPjNBHJFlm2Txs/preview)

[2022-04-19 02:38] Aveline-art commented on #39
### Agenda for April 19, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Weekly check-in
  - [ ] What have I worked on this week?
  - [ ] What am I working on now?
  - [ ] What blockers do I have?
  - [ ] What do I plan to work on in the future?

[2022-04-19 21:00] sdimran commented on #223
Hi @stephaniestahlberg, is this issue related to Post MVP research as it relies on the completion of #222

[2022-04-19 21:06] sdimran commented on #16
## [Date ]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Grace](https://github.com/hackforla/CivicTechJobs/issues/assigned/graceerya)
       - [ ] [Jen](https://

[2022-04-19 21:12] sdimran commented on #78
@Aveline-art for option 2 when you mention the con as small community support, could you expand on what that means?

[2022-04-19 21:14] sdimran commented on #171
@stephaniestahlberg  wanted to follow up regarding our submitted responses. are we closer to 50?

[2022-04-19 21:19] Aveline-art opened #226 "Fix landing page unresponsive button"
### Overview

As a developer we need to make sure that the components on our website works as intended. For this issue we will fix the top portion of the landing page by making sure that the buttons work.

### Action Items

- [ ] Locate the join us button on the top portion of the landing page. It should be between our bg image and opening blurb
- [ ] Fix the code so that the button works
- [ ] Th

[2022-04-19 23:38] Aveline-art commented on #78
Community support means that there is not a large community of developers who uses a certain technology. When something has less community support, it is harder to find solutions to obscure problems or there might not be strict best practices in place.

[2022-04-20 00:55] sdimran commented on #16
Hi @ExperimentsInHonesty , in todays meeting many members were away. we are planning on taking the picture next week when we have majority of the team present

[2022-04-21 18:48] Aveline-art commented on #192
Update April 21, 2022: this issue is undergoing rewriting because I have just discovered Linux aliasing through .bashrc which might simplify this task greatly.

[2022-04-22 16:29] #74 closed

[2022-04-22 16:58] Aveline-art opened #227 "Improvements to dev configurations"
### Overview

As a developer we need to set up an environment friendly to developers to improve development speed and reduce the need to debugging our env. For this issue we will discuss, plan, and implement an environment that meets our needs as our development work evolve.

### Action Items

- [ ] Discuss ways to implement our ideal dev env
- [ ] Implement it

### Resources/Instructions

Our cur

[2022-04-22 18:33] stephaniestahlberg commented on #171
Hi @sdimran yes, we're getting close. We're at 40 responses now. After the next onboarding meeting on 5/10, we should reach 50+ and we will analyze the results and present to the team shortfly after.

[2022-04-22 18:37] stephaniestahlberg commented on #171
@sdimran @sharadgaurav7 Can we move this to prioritized backlog now? @hkimsummer can start working on the 3rd step of planning the analysis, since we're getting close to 50 responses. Thanks.

[2022-04-22 18:39] stephaniestahlberg commented on #180
@sdimran @sharadgaurav7 Can you please review this with Bonnie at your next meeting? My responses to her feedback are listed in the previous comment. Thanks!

[2022-04-22 19:08] sdimran commented on #180
Hi @stephaniestahlberg, this coming Sunday's meeting with Bonnie has been cancelled (04/24) from Bonnie's end. I had to cancel last weeks myself as I was at the emergency room most of the day unfortunately

@ExperimentsInHonesty  would you be able to review the above comment from Stephanie and advise if you are okay with the changes from our discussion on 04/03

[2022-04-22 20:07] sdimran commented on #77
Hi @hkimsummer @janzenmolina @graceerya @jenchuu. in an effort to pass this over to the developers to start working on, can you indicate the final version on the figma file and confirm for @Aveline-art ? Once indicated we can close this issue. the revisions issue has been created already to target for MVP 2 in #193 #194

[2022-04-22 20:33] sdimran commented on #161
@jenchuu @graceerya this ticket hasnt been touched since March 8th but we conducted the testing and already have the results. am i correct in my understanding? if so please update this ticket with the relevent information (links, resources etc) and we can close it

[2022-04-22 20:34] sdimran commented on #110
@hkimsummer can you please update this issue with the final qualifier page blurb that was designed on #77 and we can close this

[2022-04-22 20:36] sdimran commented on #164
@jenchuu I think this was finalized and your questions were answered on our call. is there anything outstanding for this or can we pass it over to the developers to start working on?

[2022-04-22 20:36] sdimran commented on #172
@janzenmolina  is this task complete? please provide an update

[2022-04-22 20:38] sdimran commented on #170
@jenchuu  @graceerya  @janzenmolina  this was an issue Eva was working on before she left the team. do we have the final component ready for review? if so please post a screenshot and explanation and we can close this task

[2022-04-22 20:46] sdimran commented on #168
@graceerya could you provide an update on this? it has been sitting in the backlog for a month but looks like the components are created already. if complete can we close it?

[2022-04-22 20:48] sdimran commented on #80
@jenchuu  is there an update on this? we had a discussion during our team meeting regarding the tooltip question. we are okay to use your suggestion.

[2022-04-22 21:14] Dendorable commented on #110
@sdimran hkimsummer should not be assigned to this.
I know we were working on this before with UXD to determine how long the verbiage should be.  We have come up with a few different options for verbiage, but I would need to know how many characters this blurb can support so that I know how short the blurb has to be.  This info would come from the UXD team, but I would be happy to write it after u

[2022-04-23 01:19] Aveline-art commented on #227
From @Enzyme3 over Slack:

I believe the reason for the error (and also why the workaround works) is because of the volume mount:

[code]
This [stack overflow post](https://stackoverflow.com/questions/30043872/docker-compose-node-modules-not-present-in-a-volume-after-npm-install-succeeds) explains what's happening, but the tl;dr is: during docker-compose build the Docker image runs npm install and

[2022-04-23 02:14] stephaniestahlberg commented on #140
## 4/26/22  Meeting agenda

### New items

- [ ] Discuss good presentation practices
- [ ] Summer to share ideas for presenting the "new volunteer survey" results (issue [#171](https://github.com/hackforla/CivicTechJobs/issues/171))
- [ ] Go over Github guidelines, answer questions for new UXRs

### Notes from meeting
-

[2022-04-26 16:19] Aveline-art opened #230 "Accessibility: Update Inline SVGs for accessibility"
### Overview

As a developer, we need to ensure that our website is friendly to all users. For this issue, we will modify the way we render our SVGs so that they can be read by screen readers.

### Action Items

- [x] Read about accessibility of inline SVGs from the sources below to get started
- [x] Implement them as a new component that meshes with our existing component architecture
  - [x] The

[2022-04-26 23:46] sdimran commented on #16
## [4/26/22]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Grace](https://github.com/hackforla/CivicTechJobs/issues/assigned/graceerya)
       - [ ] [Jen](https:

[2022-04-27 00:50] hkimsummer commented on #110
The final qualifier page blurb designed on #77 is as follows:

"Onboarding with Hack for LA lets you see full opportunities. Learn more"

[2022-04-27 00:55] #110 closed

[2022-04-27 18:24] jenchuu opened #231 "Sign up / Log in pages for MVP"
### Overview

As a designer, we need to document handoff of MVP Log in and Sign up pages to developers (so they can reference this issues to breakdown and organize dev side into GitHub issues.)

### Action Items

- [ ] Document pages for MVP hand off here

### Resources/Instructions

[MVP Volunteer Log in and Sign up pages](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=

[2022-04-27 20:38] Aveline-art commented on #39
### Agenda for May 02, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Weekly check-in
  - [ ] What have I worked on this week?
  - [ ] What am I working on now?
  - [ ] What blockers do I have?
  - [ ] What do I plan to work on in the future?
- [ ] Talk about testing architecture
  - [ ] Are we okay with the current directory structure, or should frontend be made its

[2022-04-27 21:35] jenchuu commented on #231
Login in pages (desktop and mobile):
<img width="890" alt="Log in (desktop)" src="https://user-images.githubusercontent.com/88695763/165635037-01a659cb-bcea-4015-9b6e-dc67c1b6268c.png">

<img width="346" alt="Log in (mobile)" src="https://user-images.githubusercontent.com/88695763/165635049-09adf591-cdeb-4b3e-840e-91ed88692b7f.png">

[2022-04-27 21:36] jenchuu commented on #231
Sign up pages (desktop and mobile):
<img width="1216" alt="Sign up (desktop)" src="https://user-images.githubusercontent.com/88695763/165635171-5672ec4f-be81-4dd6-a064-6df392522943.png">

<img width="538" alt="Sign up (mobile)" src="https://user-images.githubusercontent.com/88695763/165635184-9d1cd066-7bd6-4ec3-b00b-818caa4e86b9.png">

[2022-04-27 21:36] jenchuu commented on #231
Assets for Log in and Sign up pages:
<img width="1058" alt="Assets_CTJ Log in and Sign up page" src="https://user-images.githubusercontent.com/88695763/165635234-8bdb5e71-8e23-4c53-9500-91eac9ce72d3.png">

[2022-04-28 03:21] #165 closed

[2022-04-28 16:20] Aveline-art commented on #200
Returning this back into the icebox due to a new dependency

[2022-04-28 16:25] Aveline-art commented on #151
@sharadgaurav7 @sdimran I just noticed this is marked with 02 milestone, but is explicitly a post MVP issue. Just want to make sure there is not an error.

[2022-04-29 14:52] MariaElizabeth04 commented on #221
Here is the link for the current version of the survey https://forms.gle/PaGERmAthzo3RMUEA

[2022-04-29 21:04] MariaElizabeth04 commented on #221
@sdimran @sharadgaurav7 This issue has been updated. The research plan and survey have been created and added to resources for you to review and comment on.

[2022-04-29 22:25] Aveline-art opened #236 "Create uml diagram of frontend/backend"
### Overview

As a developer we need to provide diagrams that helps the team make sense of our growing project. For this issue we will make a uml diagram of our front and backend design.

### Action Items

- [ ] Create a diagram using github's mermaid syntax
- [ ] Add this diagram to our mkdocs assets
- [ ] Have a link to it on our front/backend architecture wiki and somewhere in our README.md

##

[2022-04-30 05:47] Aveline-art opened #237 "Add accessibility tools to our tech stack"
### Overview

As a developer we need to make sure that all of our components are accessible. For this issue we will add tools that allows us to audit for accessibility as we code and push our code.

### Action Items

- [x] Research how accessability can be added in these areas
  - [x] as a linter
  - [x] as we develop components
  - [x] as we audit for usability
  - [x] as we manually review and t

[2022-04-30 18:24] sdimran commented on #221
some notes :
in Q1
- the first and last statement are the opposite, so would answering one of them not answer the other? ex. if someone's response was "Strongly agree" for "The steps for joining a project were clear to me." then wouldn't that mean that their response for "Parts of the project joining process were confusing to me." would be "Strongly disagree"? do we need to have both questions

in

[2022-05-01 00:48] Aveline-art commented on #78
Reopening this as there is still more work to be done before this can be completely closed

[2022-05-01 03:59] stephaniestahlberg commented on #221
Thank you @sdimran. I incorporated your suggestions, and also added a screener question to check that respondents have joined a project in the last 6 months, and therefore are more likely to remember the process well. It's ready for Bonnie's review tomorrow.

[2022-05-01 04:48] stephaniestahlberg opened #238 "Collect data and analyze results for the CTJ metrics survey - New volunteers"
### Dependency

- [x] #221

### Overview

As a researcher, we need to analyze the results from the survey on new volunteers' experience with joining a project at HfLA to inform our CTJ metrics.

### Action Items

- [x] Advertise the survey until we get enough responses (aiming for at least 50)
- [x] Analyze overall survey results
- [x] Prepare a summary to present to the team
- [ ] Share results w

[2022-05-01 16:33] sharadgaurav7 commented on #51
Date:
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at 0/0
   - [ ] features, ending at 1/0
   - [ ] role, ending at 0/0
   -

[2022-05-01 16:34] sharadgaurav7 commented on #101
## [5/01/22] Agenda  and notes

### Prework
- [ ] issue for audit #51

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Sharad](https://github.com/hackforla/CivicTechJobs/issues/as

[2022-05-01 17:50] Aveline-art commented on #236
MVP Stage 1 draft

[code]

[2022-05-01 21:18] Aveline-art commented on #236
## Frontend dataflow (volunteers)

[code]

###### *Note: Frontend pages are a set of pages including the landing, qualifier, and search page

## Legend

[code]

[2022-05-01 21:31] Aveline-art commented on #236
## Frontend/backend dataflow (volunteers)

[code]

###### *Note: Frontend pages are a set of pages including the landing, qualifier, and search page

[2022-05-01 22:59] stephaniestahlberg commented on #180
We reviewed the latest version with Bonnie today and this is good to go. I will send it out to target respondents tomorrow, Monday, and then I will close the issue. If we need help getting more respondents, Bonnie offered to send it directly to people (I think PMs) who were previously active but right now are not in a team.

[2022-05-01 23:04] stephaniestahlberg commented on #221
We reviewed this with Bonnie today and it's good to go. The only change to be made is to remind respondents in question 6 that we're asking about their experience *after* onboarding. @MariaElizabeth04 and I will test the survey with 2 participants this week, and when it's ready Bonnie said she can personally post this on Slack channels to elicit more responses.

[2022-05-02 17:37] #180 closed

[2022-05-06 00:55] Aveline-art opened #239 "GHA: Perform monthly audit of whole codebase"
### Dependency

- [x] #231
- [x] #237

### Overview

As a developer we need to make sure that we periodically audit the codebase as it grows to ensure that it is up-to-date. For this issue we will adjust our linters and other tests to run monthly to ensure good codebase health.

### Action Items

- [ ] Make a GHA that follows these criteria:
  - [ ] On some day every month:
    - [ ] Run our linte

[2022-05-06 00:56] Aveline-art commented on #239
Note: this is under dependency because our codebase is not big enough to do this kind of audit yet. Once we have several pages, we can start investing in periodic whole codebase audits.

[2022-05-06 15:16] #96 closed

[2022-05-07 22:49] Aveline-art opened #241 "Accessibility: Update Dialog component"
### Overview

As a developer, we need to make sure that our components are accessible as much as humanly possible. For this issue we will update our Dialog component for accessibility.

### Action Items

- [ ] Read the accessibility guidelines for dialogs
- [ ] Edit the dialog until it is accessible based on the guidelines
  - [ ] One guideline that needs to be updated is to have the modal exit wh

[2022-05-08 17:40] #237 closed

[2022-05-10 18:48] #200 closed

[2022-05-10 23:55] sdimran commented on #236
This is an excellent ticket @Aveline-art. will be very useful to understand the data flow. my apologies for the delay on clearing this one i thought i had previously

[2022-05-11 01:35] Aveline-art opened #243 "Create a program to run super-linter locally"
### Overview

As a developer, we need to make sure that we get fast feedback when developing. For this issue we will add super-linter locally so that we do not need to make pushes to get feedback on our code.

### Action Items

- [ ] See the docs below.
- [ ] Implement this as part of our codebase.
- [ ] Add or link steps to run these tests in our documentation.

### Resources/Instructions

[Resou

[2022-05-11 02:21] jenchuu opened #244 "How to join steps on Landing page"
### Overview

As a designer we need to ensure new volunteers understand the correct order of steps when joining a project from Civic Tech Jobs. We will add an overview of "how to join" steps on the Landing page to clearly communicate how to join.

### Action Items

- [x] Add overview of how to join steps
- [x] Check with team / Bonnie about taking out step 2: Creating an account
- [x] Handoff to d

[2022-05-11 02:23] jenchuu commented on #244
Added "how to join" steps to landing page. We took out step of creating an account... pending approval of new, leaner MVP flow by Bonnie.

<img width="393" alt="Landing page V11" src="https://user-images.githubusercontent.com/88695763/167756058-de4355a5-ae39-437e-8853-eaec8caba5b4.png">

[2022-05-11 04:47] sdimran opened #245 "Establish process for manually adding job postings in Stage 1 MVP"
### Overview

As a Project, we want to go live faster and in order to reach this state, we should investigate a middle-ground release where our team can support the creation of job postings while the backend endpoints and configurations are done.

we can use the Wizard of Oz principle where to the customer, it appears that the product is working as expected but in reality on our side we will be su

[2022-05-11 15:13] #163 closed

[2022-05-11 22:23] Enzyme3 commented on #220
defined the model in Django (with a few changes) and here's how it gets mapped. Can we confirm that this is the schema that should be used or if further changes should be made or reverted?
[code]

The enum for Roles are listed below. Are there any others that should be added?
[code]

Also removed the following two fields. Let me know if they're required, but it feels like we can get equivalent inf

[2022-05-12 00:21] Aveline-art commented on #220
@Enzyme3 Thank you for getting this done so quickly! A couple of notes:

Email is a perfect replacement for this. One note: the data will eventually link to a peopleDepot user account (a project level account, actually). We should make sure random emails are not being entered. @sharadgaurav7 @sdimran Can you confirm that every HFLA project have their own unique emails with a _@hackforla.org_ domai

[2022-05-12 00:22] Aveline-art commented on #220
Oh and fyi, this is the [tentative schema ](https://lucid.app/publicSegments/view/7531ed46-77d2-4b91-a09c-b18f9f210980/image.png)for peopleDepot in case it is helpful.

[2022-05-12 02:46] #230 closed

[2022-05-12 02:48] Aveline-art commented on #120
Closing this issue because svgr is confirmed to not have this capability. Also, using JS to recreate it is too complex to be worth our time. It is better to create this into svgr (via their repo) or via their custom rendering interface. Either way, not a good use of our time.

[2022-05-12 02:48] #120 closed

[2022-05-12 02:56] Aveline-art opened #248 "Landing Page Fixes"
### Dependency

- [x] #244

### Overview

As a developer, we need to adjust our product due to changes to ensure it is up to date. For this issue, we will update our landing page.

### Action Items

- [x] Find the landing page in our Figma
- [x] Edit our landing page to match Figma
  - [x] Cop inner card title breaks at 1340px
  - [x] Cop inner card text is not using the correct line spacing
  - [

[2022-05-12 16:22] Enzyme3 commented on #220
Ack. And will add constraints for the hackforla domain if that requirement is confirmed. And just as a reminder to myself, should use Django's built-in [email model](https://docs.djangoproject.com/en/4.0/ref/models/fields/#emailfield)

I think we first need to be clear on what data we do and do not own. And once we have that defined, we need a decision on how to proceed with the data that is owned

[2022-05-12 18:12] Aveline-art commented on #39
### Agenda for May 17, 2022

#### All-team Agenda

- [ ] Plan our dev roadmap for front + backend
- [ ] Backend todo:
  - [ ] Complete setting up backend #159 #220
    - [ ] Mock role data, if needed
    - [ ] Mock poster data, if needed
    - [ ] Mock tech data, if needed
  - [ ] Create API endpoints for frontend
  - [ ] Get final decision on project level data
    - [ ] Mock project level data,

[2022-05-12 18:16] Aveline-art opened #249 "Development Roadmap to Production"
### Overview

As a developer, we need to outline our needs and goals in order to reach prod. This issue will serve as an epic for all development goals and milestones to reach prod mvp.

### Action Items

#### Backend todo:
  - [ ] Complete setting up backend #159 #220
    - [ ] Mock role data, if needed
    - [ ] Mock poster data, if needed
    - [ ] Mock tech data, if needed
  - [ ] Get final de

[2022-05-12 18:26] Aveline-art commented on #249
[code]

[2022-05-12 22:05] Aveline-art commented on #220
Good point. Just going to spitball here. What is the feasibility of caching this data into our database and incorporating updates from PeopleDepot (either over time or on-demand)? One advantage I see for this approach is that we will have models for projects, so we can safely take ownership of the PeopleDepot data while keeping a single source of truth.

Regardless, we will take Tuesday's all team

[2022-05-13 02:15] Aveline-art opened #250 "Component: Create Checkbox component"
### Overview

As a developer we need to develop components that help us reuse code. For this issue, we will make the checkbox component on the login page.

### Action Items

- [ ] Find checkbox in figma
- [ ] Create it
- [ ] Make sure it is accessible
- [ ] Make sure it is reusable

### Resources/Instructions

[Resources](https://hackforla.github.io/CivicTechJobs/resources/)
[Figma](https://www.fi

[2022-05-13 02:16] Aveline-art opened #251 "Component: Create Input component"
### Overview

As a developer we need to develop components that help us reuse code. For this issue, we will make the input component on the login page.

### Action Items

- [x] Find input in figma
- [x] Create it
- [x] Make sure it is accessible
- [x] Make sure it is reusable

#### Designers

- [ ] Add textfield to Figma's design system

### Resources/Instructions

[Resources](https://hackforla.gi

[2022-05-13 16:39] sdimran commented on #248
@Aveline-art  @jenchuu  this issue will be dependent on all the items related to the landing page fixes from UX side. i have linked #244 but can you both link the dev/UX dependent tickets to this. once those are ready then we can work on this item. moving into icebox for now

[2022-05-13 16:43] sdimran opened #252 "Team questions for Org sandbox"
### Overview

As a team, we need to make sure we are getting input from the Org when required and questions are not being missed otherwise they will become a bottleneck to the progress of the project and impact our release timelines. this issue will help track the questions for team to advise to PM's and Org

### Action Items

- [ ] PM's to review questions in comments every week
- [ ] PM's to add

[2022-05-13 16:53] Aveline-art commented on #252
1. Can you confirm that every HFLA project have their own unique emails with a @hackforla.org domain? If not, can the org arrange for it?
2. Can we get a short list of roles we would need to have listed for the qualifier's page role selector? So far, we have
    - backend dev
    - frontend dev
    - ux designer
    - pm
    - ux researcher
    - data scientist
    - content writer
3. What is the

[2022-05-15 17:21] sdimran commented on #101
## [5/15/2022] Agenda  and notes

### Prework
- [ ] issue for audit #51

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Sharad](https://github.com/hackforla/CivicTechJobs/issues/

[2022-05-15 17:23] sdimran commented on #51
Date:  5/15/2022
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
       - Added "p-feature: Login Page" to the feature label audit
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, endi

[2022-05-15 17:50] sdimran commented on #220
@Aveline-art Hi Ava, I will confirm with bonnie on your 2 questions today. I am fairly confident that each project when onboarded or started have some iteration of their project name "@hackforla.org" but will confirm. and regarding roles I noticed we are missing marketing (we have content writer which is one of the types of marketing jobs under the CoP). took a look at the CoP's and there is a mar

[2022-05-15 18:57] sdimran opened #253 "Create and refine further milestones to reflect the work being done in the project"
### Overview

We want to edit our milestones so that we can better track the progress of each discipline within the project and how close we are to achieving our goal. We also want to utilize the Milestones for organizing our prioritized backlog column on the Kanban project board. Helping us to comply with HackforLA Kanban guidelines.

### Action Items
- [x] Review OCS milestones as an example and

[2022-05-17 23:11] sdimran commented on #252
Question from Design: clarity for the requirements around availability selection. we currently have a calendar. can we change this to a different user experience based on some of the feedback from our usability testing. clarity around the reason we don't want to use "buckets"

[2022-05-17 23:15] sdimran commented on #16
## [5/17/2022 ]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Grace](https://github.com/hackforla/CivicTechJobs/issues/assigned/graceerya)
       - [ ] [Jen](htt

[2022-05-18 00:00] sdimran commented on #182
@graceerya  is this issue complete? you were the last to work on it please let me know

[2022-05-18 00:07] sdimran commented on #80
This is final and complete, good to close.

[2022-05-18 00:07] #80 closed

[2022-05-18 00:14] jenchuu commented on #244
@sdimran @sharadgaurav7 @ExperimentsInHonesty
Are we ok taking out the "create an account" step for MVP?

[2022-05-18 00:26] sdimran commented on #250
@jenchuu  please take a look at Ava's comments on figma and advise

[2022-05-18 00:46] jenchuu commented on #135
## [May 17, 2022] Agenda and Notes

### Prework
- [ ] Reprioritize and assign issues to designers
- [ ] Create a new issue to include "How to join" on the landing page

### Roll Call

#### Recurring items: Happens on the UX/UI meeting
 - [ ] Review [Issues in progress] (https://github.com/hackforla/CivicTechJobs/projects/1#column-10928272)
 - [ ] Accountability and Support Check
    - [ ] Review a

[2022-05-18 01:41] graceerya opened #255 "Epic: CMS Wireframes (Role Posting + Dashboard)"
### Overview

We need to design the different aspects of the CMS (role posting flow, dashboard, etc.) to efficiently ideate and revise towards high-fidelity screens.

### Action Items

- [x] Wireframe dashboard
- [ ] Wireframe role posting flow
- [ ] Wireframe self-test (TBD if this should go here or on Search results page)

### Resources/Instructions

- [ ] #326
- [ ] #327
- [ ] #357
- [ ] #358
-

[2022-05-18 01:43] jenchuu opened #256 "(Card layout) Search results page revisions"
### Overview

As a designer, we need to ensure results are easy to ready and browse through. We will condense the card and create a full modal window for full details project and role details.

### Action Items

- [ ] Condense card info
- [ ] Create full modal page for each card
- [ ] Log ideations and which are best solution(s) and why in GitHub comments below
- [ ] Present for feedback
- [ ] Dec

[2022-05-18 01:54] graceerya opened #257 "Content Management System (CMS)"
### Dependency

- [x] #255

### Overview

We need to create a Content Management System (CMS) to allow project managers and team leads to post, manage, and analyze role openings.

### Action Items

- [x] Brainstorm CMS features
- [x] Create #255
- [x] Revise and pick out wireframes
- [x] Create high-fidelity screens

### Resources/Instructions

[Resources](https://hackforla.github.io/CivicTechJobs

[2022-05-18 01:55] sdimran commented on #182
closed after confirming with @graceerya

[2022-05-18 01:55] #182 closed

[2022-05-18 01:58] sdimran commented on #244
@sharadgaurav7 please advise and confirm, I may have missed the conversation that day when taking the account creation out of MVP was discussed.

Thanks,

[2022-05-18 01:59] sdimran commented on #257
@graceerya we cant move past a certain step until #255  is complete so lets add that as a dependancy until the wireframe issue has been completed. will move this into the icebox

Thanks!

[2022-05-18 02:02] sdimran commented on #255
@graceerya will you be working on this by yourself or will other designers be helping out as well since this is a 5 point story. if it helps you, we can break up the action items into individual stories to take on at a time. otherwise we can leave this as is. let me know and I can milestone it accordingly

[2022-05-18 02:04] sdimran commented on #94
@Aveline-art the google analytics issue that @sharadgaurav7 is working on.

[2022-05-20 04:17] Enzyme3 opened #258 "Setup linter / formatter for python"
### Overview

We need to ensure that all backend developers who are contributing to the project are committing code that is stylistically consistent and follows general best practices. The usage of linters and formatters will help enforce this consistency.

### Action Items

- [ ] Determine linters / formatters to be used
- [ ] Determine how the linters / formatters will be triggered
- [ ] Impleme

[2022-05-20 04:43] Enzyme3 commented on #258
Have investigated the use of `pre-commit` instead.
Uses the same libs that were commented out in super-linter: `isort`, `pylint`, `flake8` and `black`

[2022-05-20 17:45] Enzyme3 commented on #252
This is a follow up to Ava's comment above
Here's the tentative DB schema we have right now:
<img width="717" alt="image" src="https://user-images.githubusercontent.com/7035052/169580642-fe499726-611a-4741-804d-a7fcb87c6aab.png">

Please:
- ignore the tables with red x's: these are join tables
- review the `opportunity` table (red circle) and confirm that our team will be the source of truth for t

[2022-05-21 16:58] #250 closed

[2022-05-23 17:11] Aveline-art opened #261 "Adjust tab focus outline size"
### Overview

As a developer we need our product to be accessible to people who uses keyboard for navigation. For this issue we will fix the tab focus of our footer.

### Action Items

- [x] Locate Footer
- [x] The tab focus outline of the `<a>` element in the logo does not surround the image
- [x] Edit the code so that the tab focus outline is around the image

### Resources/Instructions

[Resour

[2022-05-23 18:05] sdimran commented on #255
@graceerya just following up on the above comment

[2022-05-23 18:50] Aveline-art opened #263 "Add typescript to repository"
### Overview

As a developer, we need to ensure that our application is easy and quick to develop as we scale. For this issue, we will configure our project to include typescript, a library that provides type checking to catch type errors.

### Action Items

- [x] Add typescript to our stack
- [x] Configure webpack so that typescript compiles
- [x] Make sure that our tests also still function as i

[2022-05-23 19:18] sdimran commented on #245
Looking at the website teams issue, we want to understand in depth how the issues in this filter below are completed and their process:

https://github.com/hackforla/website/labels/P-Feature%3A%20Project%20Info%20and%20Page

with this knowledge we should be able to create a similar template for our project information for posting a job and collect that information from hackforla projects who want

[2022-05-23 19:27] Aveline-art commented on #192
Update May 23, 2022

This issue is not ready to be worked on yet. Will remove the milestone label.

[2022-05-24 20:23] Aveline-art commented on #39
### Agenda for May 24, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Weekly check-in
  - [ ] What have I worked on this week?
  - [ ] What am I working on now?
  - [ ] What blockers do I have?
  - [ ] What do I plan to work on in the future?

[2022-05-25 01:58] MariaElizabeth04 commented on #221
This survey has been sent to Bonnie and will now be sent to participants!

[2022-05-25 02:05] MariaElizabeth04 commented on #221
Some of the feedback that we received after testing it with 3 participants:

Participant 1- Recently joined Hack for LA (within 3 months):

[2022-05-25 02:41] #221 closed

[2022-05-27 00:06] sdimran commented on #252
@ExperimentsInHonesty if you have some time this week, could you review the above questions from the dev team and advise. below are my comments @Enzyme3

opportunity : as civictechjobs we will be the source of truth for this information but like you have mentioned, VRMS team owns the meeting time data.

green circles: yes this data should be owned by the people depot team but their timelines are r

[2022-05-27 03:33] graceerya commented on #255
@sdimran I'm working on this with the other designers!

[2022-05-27 03:50] graceerya commented on #255
Currently working on V1 of dashboard and role posting flow wireframes. We have used the insights gathered by researchers to ideate for the dashboard and role posting flow and mapped out the different elements of each page.

**Role Posting Flow Wireframes:**
<img width="1575" alt="CMS Role Posting Wireframes A" src="https://user-images.githubusercontent.com/64109227/170625493-596728ee-129d-4309-b2c

[2022-05-27 03:59] sdimran commented on #255
Thanks @graceerya, i've moved it into the prioritized backlog so you can assign yourself to the issue and continue.

[2022-05-27 17:41] Enzyme3 commented on #252
If we have to we can use that model going forward, but we'll still need a dump of the current data that the website team has (unless someone wants to go thru all the old issues and re-ingest it). Who can we reach out to to request that export? And ideally this would be a recurring export and NOT a one-time snapshot.

Haven't requested it yet, but it doesn't appear to be a trivial task for them. An

[2022-05-29 17:25] sdimran commented on #256
@graceerya if you're not working on this at the moment please unassign yourself, we dont want to have issues assigned in the prioritized backlog if they are not being worked on. Thanks!

[2022-05-29 17:28] sdimran commented on #51
Date:  5/29/2022
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at
   - [ ] features, ending at
   - [ ] role, ending at
   - [

[2022-05-29 19:50] Aveline-art commented on #252
- we own the role data (but check in with VRMS to see if they have it)
- technology comes from the website project
- languages are pulled from the github api
- technologies are manually added (for developers only)
- tools are manually added (general tools for the team)

[2022-05-31 23:17] sdimran commented on #16
## [Date ]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Grace](https://github.com/hackforla/CivicTechJobs/issues/assigned/graceerya)
       - [ ] [Jen](https://

[2022-05-31 23:19] sdimran commented on #194
Hi @janzenmolina, can you post any updates you have regarding this issue in the comments section. it has been a while since there was any activity on it. are there any questions? can discuss in the team meeting today.

[2022-06-04 04:17] Aveline-art commented on #251
@jenchuu Hi jen! I did not see the component in the design system in Figma, so I am not sure if it is finalized. Once it is, feel free to swap the role labels back and throw this back to development.

[2022-06-05 17:05] sdimran commented on #101
## [06/05/22] Agenda  and notes

### Prework
- [ ] issue for audit #51

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Sharad](https://github.com/hackforla/CivicTechJobs/issues/a

[2022-06-05 17:06] sdimran commented on #51
Date: 06/05/2022
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at
   - [ ] features, ending at
   - [ ] role, ending at
   - [

[2022-06-05 20:15] #258 closed

[2022-06-07 23:31] sdimran commented on #206
@stephaniestahlberg i noticed the dependency on this has been cleared. therefore I have moved this back into the backlog to be worked on by the research team. Someone from your team can pick this up as neccesary

[2022-06-08 00:59] stephaniestahlberg commented on #238
Bonnie offered to help with advertising the survey on Slack, and we got 18 responses after she posted in the general channel. I am handing this issue off to @Maria Elizabeth now. Maria Elizabeth, when looking at the number of responses received, please note that several marked "No" in the eligibility question (whether they had joined a project in the last 6 months), so we don't actually have respo

[2022-06-08 01:04] stephaniestahlberg commented on #206
We have a total of 8 responses so far, after advertising the survey in the CoP channels. Bonnie had offered to help by directly messaging people that she knows have recruited at HfLA, and I sent her the message to be forwarded, but I don't know if she has done that. Today I also went on every team's channel on Slack and advertised the survey.

[2022-06-09 01:22] Aveline-art commented on #236
[code]

[2022-06-14 21:41] Enzyme3 commented on #220
Here's the latest in my local right now. Please give a look-over and validate that this is the format we want/need

The pending work is to update the techologies array to include a `is_required` attribute to indicate whether it is a required or a preferred skill. Will create a PR once I get that sorted out and accommodate any other feedback
[code]

[2022-06-14 23:41] sdimran opened #265 "Revisit Product Roadmap and ensure we are still aligned"
As a Product manager, we need to ensure that our team is still aligned to the product vision. we can do this by revisiting the roadmap and revising based on our recent conversations.

- [x] go to the product roadmap and update with goals for MVP1
- [x] update milestones which are relevant and archive/delete irrelevant ones

[2022-06-14 23:53] sdimran commented on #16
## [6/14/22]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
- [ ] Survey results presentation by Researchers
- [ ] Accountability and Support Check (N/A for today)
- [ ] Review to see if there are any members to Onboard or Offboard
      - [ ]  introduce Salima (PM interested)

### New Items
- [ ]
- [ ] Carry over Items to next meetin

[2022-06-15 01:45] hkimsummer commented on #171
Results were presented on June 14, and here is the [link to the slide deck](https://docs.google.com/presentation/d/1dmjbShEr0uvqCfEduaLpBNisEZL4FVtUUsRh2vhbdlQ/edit?usp=sharing) in our shared drive.

[2022-06-15 03:13] hkimsummer commented on #252
@ExperimentsInHonesty

**Findings from New Volunteer Survey**

Please view the slide deck [here](https://docs.google.com/presentation/d/1f9YYXwKC6QP_affcvmYK-hXj_8wrsBSSBH8f957GVQw/edit?usp=sharing).

Main Insights:
- Volunteers find it important to work for a good cause
- Volunteers are seeking career development opportunities
- Most volunteers find HfLA through LinkedIn or their existing network

[2022-06-21 02:43] sdimran commented on #218
onboarding @salimays. have added her to the google drive as well as team roster. @sharadgaurav7  will be assisting with getting her caught up on the project on Sunday based on their availability

[2022-06-26 13:42] stephaniestahlberg commented on #140
## 6/28/22  Meeting agenda

### New items

- [ ] Discuss joining a designers' meeting to see how they work and ideate
- [ ] Concept testing vs. usability testing
- [ ] New research project ideas:
1) To uncover why some people check out Hack for LA but decide not to sign up. Why: to identify areas where HfLA's public sites could improve to attract more volunteers to sign up.
2) [Usability benchmark

[2022-06-26 14:09] stephaniestahlberg commented on #171
@hkimsummer Can you mark all action items as completed and close the issue? Thanks.

[2022-06-26 14:24] stephaniestahlberg commented on #238
@MariaElizabeth04 when you are back, can you advertise this survey on Slack again? Thanks.

[2022-06-26 17:08] #171 closed

[2022-06-28 22:27] jenchuu commented on #194
Due to timing and based on conversations with @sdimran , we will be moving forward with the below for MVP... we will work on creating the other calendar view (adding ranges of time) to test against our current MVP design with UXRs for next release.
[Qualifier Calendar page](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=4038%3A18558)

<img width="1594" alt="Calendar qual

[2022-06-28 22:47] jenchuu commented on #193
Due to timing, we will be moving forward with the below for MVP.

[Qualifier Role page](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=4247%3A18444)

**Notable changes:**
- Deleted banner
    - Why? Distracts users from 2-step qualifier process. We want users to focus on completing this.
- Changed copy
    - Why? Explain to users they have flexibility in searching for ro

[2022-06-28 23:32] stephaniestahlberg commented on #194
Thanks, Jen! Will we have a default time zone based on the users' location? Or will the time zone be blank and they must select one before proceeding?

[2022-06-29 00:05] jenchuu commented on #194
@stephaniestahlberg Yes, correct; figuring out how/when to ask for user's current location. There's a note above "Q2 Empty / Time zone activated" page... I'm thinking once either 1) when user comes directly onto the calendar page  or 2) when user clicks on time zone dropdown.

[2022-06-29 00:55] Aveline-art commented on #194
Looks good to me!

[2022-07-01 21:14] Aveline-art opened #267 "Separate linter docker container from local env containers"
### Overview

As a developer, we need to ensure that our environments are run effectively. For this issue, we will separate the linter container from our other containers to ensure that docker will run more effectively.

### Action Items

- [ ] Locate the docker file for our local/dev env.
- [ ] Remove the linter container
- [ ] Place that container in a new docker file
- [ ] Update documentation

[2022-07-05 02:56] Aveline-art commented on #39
### Agenda for July 05, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Weekly check-in
  - [ ] What have I worked on this week?
  - [ ] What am I working on now?
  - [ ] What blockers do I have?
  - [ ] What do I plan to work on in the future?
- [ ] Typescript migration
- [ ] Merging dev-branch-1 into main
- [ ]  #267

[2022-07-05 22:12] hkimsummer commented on #94
Here are some ideas for engagement metrics. We should discuss as a team.

**- Overall traffic:** How many people are visiting CTJ? How does it compare to hackforla.org?
**- Bounce rate** (users who visit only one page of a website before leaving): May indicate technical problems like broken links, or the content not being engaging enough
**- Average time spent on page:** May indicate how intereste

[2022-07-05 23:59] stephaniestahlberg commented on #94
Thanks, Summer! Here is the [spreadsheet ](https://docs.google.com/spreadsheets/d/1Nz9kdYm1E0ZOvzdx74r3Pgzzvk44YyZC_ToFFF3p26M/edit#gid=0) that Sharad started putting together during our last metrics meeting.

The frameworks in [this article](https://storage.googleapis.com/pub-tools-public-publication-data/pdf/36299.pdf) can help guide our discussions. It covers the PULSE and HEART metrics framewo

[2022-07-07 21:16] sdimran opened #270 "Update Team roster on hackforLA website"
We need to update our team roster so the active team is up to date on the HFLA website

- [x] find issue template on website team to update project details
- [x] submit ticket
- [x] verify users have been added

resources

- https://github.com/hackforla/website/issues/3339

[2022-07-07 21:25] sdimran commented on #238
moving this back into the backlog

[2022-07-08 00:16] sdimran commented on #194
This is good to hand over to Dev @salimays @jenchuu @Aveline-art

[2022-07-09 21:53] Aveline-art opened #272 "Update documentation to reflect typescript"
### Overview

As a developer, we need to keep docs up to date. For this issue, we will edit documentation to reference changes associated with #263

### Action Items

- [ ] Update docs that are now outdated due to #263

### Resources/Instructions

[Resources](https://hackforla.github.io/CivicTechJobs/resources/)

[2022-07-09 21:54] #263 closed

[2022-07-11 23:01] sdimran commented on #193
Im okay with the above, no concerns for MVP1 here. @Aveline-art  @jenchuu  if you're both okay then lets move forward with this style for role page.

@jenchuu were you still intending on uploading the bubble selection we went over in the leads meeting?

[2022-07-11 23:32] sdimran commented on #175
@poorvarathore05  can i get an update on this issue?

[2022-07-11 23:50] sdimran opened #273 "Credit Page Wireframes"
### Dependency
- [x] #283
- [x] #284

### Overview

As an organization, I need to make sure that we note down where we are getting our images and links from in order to give credit to the owners and sources.

this issue will focus on the wireframes for the credits page, which is a key page to be launched as part of MVP1

### Action Items

- [x] review www.HackforLa.org/credits
- [x] create wirefra

[2022-07-12 17:22] jenchuu commented on #194
@sdimran @salimays Thanks!

@Aveline-art Added to Dev page in Figma:
[Calendar Qualifier Page Handoff](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=4308%3A24708)

[2022-07-12 17:42] jenchuu commented on #194
Screenshots of V12 calendar qualifier page for handoff documentation:
<img width="1536" alt="Calendar qualifier page V12 HANDOFF 1" src="https://user-images.githubusercontent.com/88695763/178557928-b54cd6e5-a180-466a-9447-33162bfb42fd.png">
<img width="1669" alt="Calendar qualifier page V12 HANDOFF 2" src="https://user-images.githubusercontent.com/88695763/178557933-24f119e7-e066-486d-a788-d9db5e8

[2022-07-12 17:48] jenchuu commented on #193
@sdimran Yes, please see new, simpler roles multi-chip selection.

@Aveline-art LMK if any concerns with this; I've added to Dev Handoff page in Figma:
[Roles Qualifier Page DEV Handoff](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=4308%3A24016)

[2022-07-12 22:27] stephaniestahlberg commented on #140
## 7/12/22  Meeting agenda

### New items

- [ ] Discuss socializing findings from the new volunteer survey
* With the org's leadership
* With the design team once new designers are recruited

[Article](https://www.answerlab.com/insights/creative-approaches-to-socialize-research-insights-and-build-empathy) on the importance of socializing research insights with some great ideas (although at HfLA w

[2022-07-12 22:30] Aveline-art commented on #193
@jenchuu For the most part, we can handle displaying the role data once we have a general gist of how the text will be arranged. If interested, the list is here: https://github.com/hackforla/CivicTechJobs/issues/252#issuecomment-1140513933

[2022-07-12 23:41] sdimran commented on #16
## [7/12/2022]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Jen](https://github.com/hackforla/CivicTechJobs/issues/assigned/jenchuu)
       - [ ] [Summer](https

[2022-07-13 00:28] sdimran commented on #193
@jenchuu  please update with a view without the data element (showing the # of positions per role)

[2022-07-13 00:52] jenchuu commented on #193
Update below:
![Roles qualifier page V12 HANDOFF 2](https://user-images.githubusercontent.com/88695763/178625264-33d0b003-25b0-4093-8642-8369a1c7dd44.png)

[2022-07-13 05:09] stephaniestahlberg commented on #193
@sdimran @jenchuu as requested, here is the list of roles at HfLA we have reviewed with Bonnie in the past: it's the 6th question in the [new volunteer survey](https://docs.google.com/forms/d/e/1FAIpQLSdTM20e-XBD3_fmTPlYfkBKT7cv7aKdO1b2yx_OCrbHLCvLog/viewform). Besides these roles, there was one entry under "Other" in another one of our surveys for "Content."

<img width="593" alt="Screen Shot 202

[2022-07-13 18:10] salimays commented on #16
Notes from July 12th Meeting
1/ Layout
Danish: Do I need to see all of these chips? Do you need the break down?
Answer: For UX/UI roles for ex, we need the breakdown because the role will be structured differently.  + It’s nice to see all the options
-
The calendar page is ready for development

Dev: We can test when we have the backend up

Does it makes sense to display how many roles for each ro

[2022-07-15 02:19] Aveline-art opened #274 "Epic: Calendar Page"
### Dependency

- [x] #275
- [x] #276
- [x] #277
- [x] #278

### Overview
This an an epic for the calendar page. Once the above is done, continue with the action items.

### Action Items

- [ ] Create the Calendar page from figma.

### Resources/Instructions
[Resources](https://hackforla.github.io/CivicTechJobs/resources/)

[2022-07-15 02:27] Aveline-art opened #275 "DS: Component: Progress Bar"
### Overview
As a developer we must develop our design system. For this issue, we will create the component specified in the title.

### Action Items

- [ ] Create the progress bar component from Figma.
- [ ] Make sure that it is easy to use, reusable, and extensible.

### Resources/Instructions
[Resources](https://hackforla.github.io/CivicTechJobs/resources/)

[2022-07-15 02:27] Aveline-art opened #276 "DS: Component: Dropdown Menu"
### Overview
As a developer we must develop our design system. For this issue, we will create the component specified in the title.

### Action Items

- [ ] Create the dropdown menu component from Figma.
- [ ] Make sure that it is easy to use, reusable, and extensible.

### Resources/Instructions
[Resources](https://hackforla.github.io/CivicTechJobs/resources/)

[2022-07-15 02:27] Aveline-art opened #277 "DS: Component: Calendar"
### Overview
As a developer we must develop our design system. For this issue, we will create the component specified in the title.

### Action Items

- [x] Create the calendar component from Figma.
- [x] Make sure that it is easy to use, reusable, and extensible.

### Resources/Instructions
[Resources](https://hackforla.github.io/CivicTechJobs/resources/)

[2022-07-15 02:27] Aveline-art opened #278 "DS: Component: Icon Button"
### Overview
As a developer we must develop our design system. For this issue, we will create the component specified in the title.

### Action Items

- [x] Create the icon button component by refactoring the existing close button.
- [x] The button should accept a child or a prop which is an svg that is rendered as the button.
- [x] Make sure that it is easy to use, reusable, and extensible.

###

[2022-07-15 02:36] Aveline-art commented on #194
Closed because issues are done #274

[2022-07-15 02:36] #194 closed

[2022-07-15 02:42] Aveline-art commented on #274
@jenchuu Since I know you look at these issues to see how we design/create components, here's a breakdown of them:

- Progress bar: from figma, self-explanatory
- Dropdown menu: from figma, self-explanatory
- Calendar: from figma, self-explanatory
- Icon Button: this is probably the one that seems the most "out there". Basically, this represents the "back arrow" button that is on the bottom of the

[2022-07-15 17:08] sdimran commented on #101
## [07/17/22] Agenda  and notes (CANCELLED)

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Salima](https://github.com/hackforla/CivicTechJobs/issues/assigned/salimays)
       -

[2022-07-17 22:12] Aveline-art commented on #267
Note: There is no easy way of doing this, since the linter container will be built into a different set of containers than the others.

[2022-07-18 00:49] hkimsummer commented on #140
**7/19/22 Meeting agenda**

New items

- [ ] Meet and greet with Adrienne and Nina
- [ ] Give overview of project stage and upcoming research
- [ ] Answer any questions they have

Notes from meeting

[2022-07-19 23:26] sdimran commented on #16
## [Date ]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Jen](https://github.com/hackforla/CivicTechJobs/issues/assigned/jenchuu)
       - [ ] [Summer](https://g

[2022-07-20 00:48] hkimsummer commented on #238
- Assess what the results are by Aug 2, and decide whether to continue data collection.
- Ask in #admin channel if we can join onboarding sessions to recruit participants

[2022-07-20 02:05] #175 closed

[2022-07-26 23:14] sdimran commented on #16
## [07/26/22]  Meeting Agenda

### Prework to prep for meeting

- [ ] added new members to the shared drive, team roster and github project (Tin, Lu, Gabe, Adrienne)

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Jen](h

[2022-07-26 23:38] hkimsummer commented on #140
## 7/19/22 Meeting agenda

### New items

- [ ] Discuss analysis plan for #238
- [ ] Discuss potential future research (accessibility)

### Notes from meeting

[2022-07-27 00:20] jenchuu commented on #193
Updated based on list of roles provided by Stephanie... can you confirm if I have these in the correct CoP categories? @sdimran @ExperimentsInHonesty

![Roles qualifier page V12 HANDOFF 3](https://user-images.githubusercontent.com/88695763/181134095-e0bf5f75-6de3-443d-8518-1de77ae0db16.png)

[2022-07-27 00:59] sdimran opened #282 "OPs team and Civic tech jobs working agreement around deployments"
### Overview

This issue is to help track the discussion between Ops team and CTJ for the process around deployments.

### Resources/Instructions

[Resources](https://hackforla.github.io/CivicTechJobs/resources/)

- [x] linking issue on ops board https://github.com/hackforla/incubator/issues/13

[2022-07-28 22:46] #137 closed

[2022-07-28 22:47] #275 closed

[2022-07-30 23:21] sdimran commented on #265
@salimays  any progress on the requirements?

[2022-07-31 07:34] salimays commented on #265
Hi Danish, I’ll deliver Aug 9th if it’s ok.
Caring 24/7 for father this week.
🙏

On Sun, Jul 31, 2022 at 12:21 AM Syed Danish Imran ***@***.***>
wrote:

--
Salima Yacoubi Soussane
Mobile: +1 646-301-3067

[2022-08-01 01:21] geibu opened #283 "Credits Page design (UX) Gabe's Version"
### Overview

As a designer, we need to site and provide credit to the assets we are using so we will not be plagiarizing content. For this issue, we will design a credits page.

### Action Items

- [ ] Wireframe
- [ ] Get feedback
- [ ] Present to team
- [ ] Iterate based on team feedback
- [ ] Present to team

### Resources/Instructions

[Figma Credits Page Wireframe](https://www.figma.com/file/

[2022-08-01 01:33] TCUX opened #284 "Credits Page design (UX) Tin's Version"
### Overview

As a designer, we need to site and provide credit to the assets we are using so we will not be plagiarizing content. For this issue, we will design a credits page.

### Action Items

- [x] Wireframe
- [x] Present
- [x] Get Feedback
- [x] Iterate
- [x] Present

### Resources/Instructions

[Resources](https://hackforla.github.io/CivicTechJobs/resources/)
[Requirement](https://docs.goog

[2022-08-01 01:49] fenglugithub opened #285 "Search result page - Lu's design"
### Overview

We need to design a search page with filters so that a user can easily find a volunteer opportunity that fits their skills or goals.

### Action Items

- [x] Ideate
- [x] Present to the team
- [x] Feedback
- [x] Iterate
- [x] present to the team
- [x] Feedback

### Resources/Instructions

[Requirements](https://docs.google.com/spreadsheets/d/1VcDLJnDA5CE7euzaZxOcqS3LLgyUFVLeqvdZx2sFG

[2022-08-01 02:19] fenglugithub commented on #24
@jenchuu  and I working on search page designs. Here's Filter on top version:

- Different variations for filters on the top
- Unfolded look when Roles filter opened
- Body layouts for the page

<img width="1545" alt="Screen Shot 2022-07-31 at 7 15 58 PM" src="https://user-images.githubusercontent.com/43657452/182059475-05ce59b8-134b-44e3-a59b-c47af931d01d.png">

[2022-08-01 02:25] fenglugithub commented on #24
Based on team feedback, will working on the followings:

- Simplify the information on search cards
- Make top filter one line on the top

<img width="883" alt="Screen Shot 2022-07-31 at 7 23 14 PM" src="https://user-images.githubusercontent.com/43657452/182060247-c29a22eb-d293-47bb-a317-6887763392b4.png">

Open to feedback at our next meeting.

[2022-08-01 03:27] Aveline-art opened #286 "Accessibility: Edit Dropdown Component for accessibility"
### Overview

As a developer we need to make sure our components are accessible. For this issue, we will examine the Dropdown component.

### Action Items

- [ ] Make sure our dropdown is accessible

### Resources/Instructions

[Resources](https://hackforla.github.io/CivicTechJobs/resources/)
[A good place to start](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/listbox_role

[2022-08-02 21:55] sdimran commented on #285
Hi @fenglugithub, we have an existing issue for the search page design as well as each component that is being worked on #24 , can we leverage those instead of creating a new issue? that one is currently in the prioritized backlog so you can simply assign yourself it and pull it into the actively working column to post and continue on.

[2022-08-02 22:21] sdimran commented on #24
@fenglugithub  i like the design here with the filters up top and quick view cards on the side.

Questions:
1. is the right side view locked to the page when a user scrolls on the left side to view other roles?
2. is there any value in having role descriptions in every smaller card if we will be showing it in the larger card? most roles would have the same description (front end dev on one project

[2022-08-02 22:52] #276 closed

[2022-08-02 22:55] jenchuu opened #289 "Search result page - Jen's design"
### Overview

As a designer, we need to create a search page with filters so that users can easily find volunteer opportunities that fit their skills or goals.

### Action Items

- [x]  Ideate
- [x]  Present to design team
- [x]  Iterate based on feedback
- [x]  Present to whole team

### Resources/Instructions

[Requirements](https://docs.google.com/spreadsheets/d/1VcDLJnDA5CE7euzaZxOcqS3LLgyUFVL

[2022-08-02 22:57] jenchuu commented on #285
@sdimran we are changing how we work on it; I'm deleting the P1-P4 issues grouping by section.

[2022-08-02 23:19] jenchuu commented on #24
@fenglugithub and I worked on search page designs.

Below are my ideations for filters on side version:
Option 1 shows selected filters as chips on top left side.
Option 2 shows selected filters as number badges in each filter section.
<img width="1417" alt="Filters on side options" src="https://user-images.githubusercontent.com/88695763/182492046-b4ab834d-cb78-4c50-afde-16c96c88f49f.png">

Below

[2022-08-02 23:27] jenchuu commented on #24
The designers met on Sunday and had a great discussion.
We decided to combine Lu and my designs somewhat: we will have filters on TOP with MODAL (pop up) window when user clicks on a filter.

We are working on combining the design.

**Next step for us:**
split up designing what the other open filters will look like.

@sdimran Can you confirm the filters for the LIMITED search results page? is it:

[2022-08-03 00:20] geibu commented on #283
Questions regarding the requirements for the credit page:
- Are the requirements within the user stories set to stone?

<img width="1106" alt="Screen Shot 2022-08-02 at 5 11 58 PM" src="https://user-images.githubusercontent.com/107892670/182497565-4add8657-bc74-4e26-91d1-37e7af663afb.png">

[2022-08-03 00:22] jenchuu commented on #193
Per our conversation at team lead planning meeting, we are taking away Lead chips!

@sdimran to confirm what the correct list of roles and which categories they belong in...
Do we add UX Writing?
Create category for Other: Marketing, Writing?

[2022-08-03 00:47] jenchuu commented on #24
Per team leads monthly discussion, cut info shown in open role card... Definitely show:
- Skills you'll develop
- Mandatory meeting times

[2022-08-03 01:21] fenglugithub commented on #24
Thanks @sdimran
Here are the answers:
1. Yes. The right side view locked to the page when a user scrolls on the left side. If the user click the other role card on the left side. then the right side page changed accordingly.
2. That’s a good point! @jenchuu and I are working on simplified version for the smaller card. I agree the description show on both cards unnecessary and not efficiency for a

[2022-08-07 18:02] sdimran commented on #101
## [08/07/22] Agenda  and notes

### Prework
- [ ] issue for audit #51

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Salima](https://github.com/hackforla/CivicTechJobs/issues/a

[2022-08-07 19:40] sdimran commented on #193
UX writing = writing under UX
Create new CoP called "Community Management"
                   - community managers
                   - marketing professional
                   - fundraising
                   - administrative staff

[2022-08-07 19:48] sdimran commented on #193
clickable prototype to test each view for what users like best (chip vs dropdown) @hkimsummer @adriennedomasin @jenchuu

[2022-08-08 06:52] TCUX commented on #284
The layouts and descriptions are similar to current HackforLA page.
What are the minimum description are required to have on credit page?
![CREDIT PAGE V1](https://user-images.githubusercontent.com/105838543/183356778-7ae62adf-4387-482d-909e-5989bd0362d6.PNG)

[2022-08-09 20:44] geibu commented on #283
Version 2: show all page
<img width="710" alt="Screen Shot 2022-08-09 at 1 41 14 PM" src="https://user-images.githubusercontent.com/107892670/183756839-bad348c6-5118-40e1-b02a-f39225887318.png">

Version 2.1: using a tab design
<img width="697" alt="Screen Shot 2022-08-09 at 1 41 22 PM" src="https://user-images.githubusercontent.com/107892670/183757203-94ee0788-63b8-45f5-a6cd-7eb57de95ea7.png">

[2022-08-09 23:27] TCUX commented on #284
Credit page V2.1 : Show all digital assets cards layout with cards in horizontal layout

![CREDIT PAGE V2 1](https://user-images.githubusercontent.com/105838543/183778342-810cb6de-1375-4232-998c-22f850ad9135.PNG)

Credit Page V2.2 : Show all digital assets cards layout with cards in Vertical layout

![CREDIT PAGE V2 2](https://user-images.githubusercontent.com/105838543/183778502-c0e2b5cb-562e-4d2

[2022-08-09 23:35] jenchuu commented on #24
Updated Roles filter modal window:
- Changed view of multi-select chips to differentiate it from the single-select chips: added checkmark icon in front

<img width="652" alt="Roles filter open V2" src="https://user-images.githubusercontent.com/88695763/183779400-c7d4f71d-2fd8-44a9-8bfa-8beb56ff3646.png">

[2022-08-09 23:36] jenchuu commented on #24
Ideations for Experience Level filter when open:
Based on our UXD meeting yesterday, we are leaning towards one of the last 2 options.

<img width="1669" alt="Experience Level filter open options" src="https://user-images.githubusercontent.com/88695763/183779569-6122e8af-46c1-465c-b609-fc3b824fcb67.png">

[2022-08-09 23:37] jenchuu commented on #24
Ideations for the Small role card options (small cards on left side):
We're trying to condense the info down even further than this. Will explore more ideas.

<img width="1655" alt="Small role cards options" src="https://user-images.githubusercontent.com/88695763/183779651-cbba5cdb-447e-42eb-9e8a-d5d3f89caecd.png">

[2022-08-09 23:51] sdimran commented on #16
## [08/09/22]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Jen](https://github.com/hackforla/CivicTechJobs/issues/assigned/jenchuu)
       - [ ] [Gabe](https://

[2022-08-09 23:59] fenglugithub commented on #24
Ideations for the full card on the right side.
We are trying to add icons and organize the hierarchy of content.
Will place with the content hierarchy more and have the text/color styles and icon library consistent.

[Full card options](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=4564%3A34429)
<img width="555" alt="Screen Shot 2022-08-09 at 4 58 24 PM" src="https://us

[2022-08-10 00:44] sdimran commented on #167
@poorvarathore05  can i get an update on this issue?
Thanks!

[2022-08-10 01:00] jenchuu opened #290 "Qualifier Page - Role Prototype"
### Dependency

- [x] #293
- [x] #308

### Overview

As a designer, we need to figure out which way to select roles is better/easier for users. For this issue, we will create a clickable Figma prototype to test with users to decide.

### Action Items

- [x] Create prototype in Figma
- [x] Send prototype link to UXR team for review
- [ ] Help UXRs with leading/transcribing usability sessions (if ne

[2022-08-10 01:05] fenglugithub commented on #24
Ideations for Availability filter when open.
Referred to Qualifier page, we are working on the calendar in popup window.
Based on the meeting discussion, will condense the vertical space of the calendar and explore how that looks.

[Availability filter when open](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=1%3A12)
<img width="1593" alt="Screen Shot 2022-08-09 at 6 03

[2022-08-10 04:30] geibu commented on #283
Version 3:
- Added checkbox to filter through
- Added external text link in cards

Vertical formatting
<img width="762" alt="Screen Shot 2022-08-09 at 9 25 04 PM" src="https://user-images.githubusercontent.com/107892670/183815672-26f941bf-8258-4476-af9f-a530fef77869.png">

Horizontal formatting
<img width="768" alt="Screen Shot 2022-08-09 at 9 25 28 PM" src="https://user-images.githubusercontent.c

[2022-08-10 23:14] hkimsummer opened #291 "Qualifier Page Usability Testing (Role Selection, Calendar)"
### Dependency

- [x] Completion of the qualifier page design #193

### Overview

As researchers, we need to test the revised role selection component of the qualifier page to identify any pain points and blockers before the release of the MVP.

### Action Items

- [x] Discuss goals for usability testing with the team
- [x] Write a research plan
- [x] Review the prototype and discuss any questions

[2022-08-13 01:48] TCUX opened #293 "Qualifier Page - Role Prototype (Accordion)"
### Overview

As a designer, we need to figure out which way to select roles is better/easier for users. For this issue, we will create a clickable Figma prototype for accordion / type search option to test with users to decide.

### Action Items

- [x]  Create prototype in Figma
- [x]  Send prototype link to UXR team for review
- [ ]  Help UXRs with leading/transcribing usability sessions

### Re

[2022-08-13 18:08] hkimsummer commented on #206
- We will conclude this data collection at this point (16 responses).
- There have been modifications made to the original analysis plan. To run an ANOVA test with this survey design, we would need 240-400 responses, which is unrealistic given the time constraints. Therefore, data will be analyzed in terms of percentages and counts.
- @sdimran I can present findings from this survey this Tuesday.

[2022-08-14 22:23] geibu opened #295 "Qualifier Page - Role Prototype (Multi-chip)"
### Overview

As a designer, we need to figure out which way to select roles is better/easier for users. For this issue, we will create a clickable Figma prototype for the qualifier page with a multi-chip option to test with users.

### Action Items

- [ ] Create prototype in Figma
- [ ] Send prototype link to UXR team for review
- [ ] Help UXRs with leading/transcribing usability sessions

### Re

[2022-08-16 02:11] geibu commented on #295
Prototyped the multi-chip options for the engineering CoP section
<img width="1550" alt="Screen Shot 2022-08-15 at 7 09 27 PM" src="https://user-images.githubusercontent.com/107892670/184783447-fd12c7a6-70a3-4651-88a5-7069cd99d408.png">

[2022-08-16 02:31] fenglugithub commented on #24
Ideations for full card designs.
Based on our UX meeting, we may explore more for version B (the one in the middle).

[Full card options](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=1%3A12)
<img width="1302" alt="Screen Shot 2022-08-15 at 7 30 16 PM" src="https://user-images.githubusercontent.com/43657452/184785624-3440485f-bbe0-4cfa-980d-2ee567273baf.png">

[2022-08-16 02:35] fenglugithub commented on #24
Updated Availability filter based on our pervious discussion.
Condense the vertical space of the calendar and make it less scroll.

[Availability filter when open](https://www.figma.com/file/G5bOqhud6azbxy
<img width="616" alt="Screen Shot 2022-08-15 at 7 31 37 PM" src="https://user-images.githubusercontent.com/43657452/184786054-03d746fc-a161-4506-a5ea-bcc647c2f245.png">
R9El9Ygp/Civic-Tech-Jobs?

[2022-08-16 03:46] TCUX commented on #293
[Role Qualifier Page - Accordion / Type search prototype ](https://www.figma.com/proto/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?page-id=1%3A29&node-id=4676%3A34801&viewport=1490%2C271%2C0.5&scaling=min-zoom&starting-point-node-id=4676%3A34801&hotspot-hints=0)

- The prototype is aimed for Engineer user to select whether Full stack developer or Front end developer role through type search or accordio

[2022-08-16 19:39] hkimsummer commented on #140
## 8/16/22 Meeting agenda

### New items

- [ ] Discuss analysis and presentation plan for #238, to be presented by Adrienne on 8/23
- [ ] Discuss research plan for Qualifier Page usability testing

### Notes from meeting

[2022-08-16 22:34] Aveline-art opened #296 "Accessibility: Add descriptions to svg images"
### Overview

As a developer, we should make things accessible. For this, add descriptions to svgs.

### Action Items

- [ ] Find images.tsx
- [ ] For every item, add a desc prop.

### Resources/Instructions

[Resources](https://hackforla.github.io/CivicTechJobs/resources/)

[2022-08-16 22:57] sdimran commented on #24
i like this view @fenglugithub great work! @jenchuu @Aveline-art were there any result from your discussions from this past week around the sticky day row at the top of the calendar?

[2022-08-16 23:03] sdimran commented on #24
@fenglugithub @jenchuu  hoping to get your thoughts on this perspective but we should be displaying the most important information at the beginning of the full card view which i think in this case would be the responsibilities (since we already show the mandatory meeting times in the preview on the left we can move this down in the list). can we order the information displayed in the following ord

[2022-08-16 23:04] sdimran commented on #24
@fenglugithub @jenchuu  hoping to get your thoughts on this perspective but we should be displaying the most important information at the beginning of the full card view which i think in this case would be the responsibilities (since we already show the mandatory meeting times in the preview on the left we can move this down in the list). can we order the information displayed in the following ord

[2022-08-16 23:07] sdimran commented on #206
Thanks Summer,  lets have another recorded session today on Zoom for our teams reference and findings and also attach the findings presentation to this issue and in the shared drive afterwards

[2022-08-16 23:17] sdimran commented on #283
@TCUX  @geibu lets review the issues together during our meetings before we mark them as closed!

[2022-08-16 23:19] sdimran commented on #16
## [Date ]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Jen](https://github.com/hackforla/CivicTechJobs/issues/assigned/jenchuu)
       - [ ] [Gabe](https://git

[2022-08-16 23:28] jenchuu commented on #193
To confirm from our last meeting, we are NOT creating/adding the new CoP at this time right?

[2022-08-16 23:30] jenchuu commented on #193
Below is updated Role chips (and what Gabe is using for the Multi-chip Role prototype):
<img width="1637" alt="Roles qualifier page V12 HANDOFF 4" src="https://user-images.githubusercontent.com/88695763/185002623-47e25a30-b3b9-4b0e-8df6-1b22fa1b176e.png">

[2022-08-16 23:35] jenchuu commented on #77
Below is new design for Availability.. Time range view:
@sdimran @Aveline-art @hkimsummer

<img width="1625" alt="Time Range Availability qualifier page V1 1" src="https://user-images.githubusercontent.com/88695763/185003006-f5bdc2ca-98ac-40e4-8ffc-3ef38a7dd588.png">
<img width="1645" alt="Time Range Availability qualifier page V1 2" src="https://user-images.githubusercontent.com/88695763/18500301

[2022-08-17 01:57] hkimsummer commented on #206
On a survey based on 15 responses:
- The System Usability Scale score was 46.33. This is low; anything below 70 is a cause for concern. However, this simply confirms the need for a new, streamlined system (i.e., CTJ!).
- Current level of satisfaction with the recruiting process is 2.67/5.00
- Participants wanted additional features such as tracking views, easier ways to recruit, and easier ways to

[2022-08-17 01:57] #206 closed

[2022-08-21 21:18] Aveline-art opened #301 "Add jest tests for Calendar component"
### Overview

As as a developer, we need to test our code to ensure that it is maintainable. For this issue, we will add tests to our calendar component.

### Action Items

- [x] Locate `calendar.test.js`
- [x] Add jest tests for the component in the file

### Resources/Instructions

[Resources](https://hackforla.github.io/CivicTechJobs/resources/)

[2022-08-21 21:53] Aveline-art commented on #277
closed because completed

[2022-08-21 21:53] #277 closed

[2022-08-21 21:56] Aveline-art commented on #278
@sdimran This never got a milestone

[2022-08-21 22:55] Aveline-art commented on #278
Closed because completed

[2022-08-21 22:55] #278 closed

[2022-08-21 22:56] Aveline-art commented on #274
@sdimran After the last couple of months and review, not much for this issue has changed. Should I move this to `in progress` directly?

[2022-08-23 00:02] sdimran commented on #274
@Aveline-art yes that sounds good thanks

[2022-08-27 07:50] #274 closed

[2022-08-27 07:55] Aveline-art opened #304 "Epic: Create Roles Page"
### Dependency

- [x] #305

### Overview

This an an epic for the roles page. Once the above is done, continue with the action items.

### Action Items

- [x] Create the roles page from Figma
  - [x] Make sure to edit the Calendar Page and do refactors to ensure that the workflow performs as expected.

### Resources/Instructions

[Resources](https://hackforla.github.io/CivicTechJobs/resources/)

[2022-08-27 17:28] Aveline-art opened #305 "DS: Component: Chips"
### Overview

As a developer, we need to make sure to create components first so that our code is reusable. For this issue, we will make the chip component.

### Action Items

- [x] Create the chip component. It should be part of our input elements.
- [x] Make sure that it is easy to use, reusable, and extensible.

### Resources/Instructions

[Resources](https://hackforla.github.io/CivicTechJobs/r

[2022-08-29 01:08] fenglugithub opened #306 "Qualifier Page - Availability Prototype (Calendar)"
### Overview

As a designer, we need to figure out availability time range for users. For this issue, we will create a clickable Figma prototype for availability calendar option to test with users to decide.

### Action Items

- [x] Create prototype in Figma
- [x] Send prototype link to UXR team for review
- [ ] Help UXRs with leading/transcribing usability sessions

### Resources/Instructions

[A

[2022-08-29 01:23] fenglugithub commented on #306
Prototype availability time range (calendar) for user testing
[Availability Qualifier Page - Calendar](https://www.figma.com/proto/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?page-id=1%3A30&node-id=4903%3A38437&viewport=420%2C606%2C0.28&scaling=scale-down&starting-point-node-id=4903%3A38437)

<img width="1010" alt="Availability Qualifier Page - Calendar" src="https://user-images.githubusercontent.com/4

[2022-08-29 21:43] Aveline-art opened #307 "Create hook for drag selection of calendar"
### Overview

As a developer, we need to fix bugs with our code. For this issue, we will create a hook that fixes the selection for the calendar page.

### Action Items

- [ ] Create a custom hook that detects when a user has their mousedown, and hovering over the cells of the Calendar component.
  - [ ] If the mouse is down, and the mouse is hovering over a cell, that cell should swap colors, fro

[2022-08-30 01:35] fenglugithub commented on #24
@jenchuu and I worked on the search page designs. We made iterations for both cards (smaller cards on the left side and full cards on the right ) and adjusted spacing for the layouts.

[Search Page V10](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=4993%3A40250)

Below is our design iteration A
- We edited full card designs and played with icons, header with important i

[2022-08-30 15:05] hkimsummer commented on #140
## 8/30/22 Meeting agenda

### New items

- [ ] Discuss logistics for usability testing sessions for #291

### Notes from meeting

[2022-08-30 22:01] TCUX commented on #293
[Role Qualifier Page - Accordion / Type search prototype V2 ](https://www.figma.com/proto/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?page-id=1%3A29&node-id=4676%3A34801&viewport=755%2C472%2C0.25&scaling=min-zoom&starting-point-node-id=4676%3A34801)

[2022-08-30 22:47] jenchuu opened #308 "Qualifier Page - Availability Prototype (Range input)"
### Overview

As a designer, we need to test and discover which way is better/easier for users to input their availability. For this issue, we will create a clickable Figma prototype for the qualifier page with time range inputs to handoff to the UXRs and test with users.

### Action Items

- [x]  Create prototype in Figma
- [x]  Get feedback during UXD meeting
- [x]  Make final edits to prototype

[2022-08-30 23:02] sdimran commented on #16
## [8/30/22]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Jen](https://github.com/hackforla/CivicTechJobs/issues/assigned/jenchuu)
       - [ ] [Gabe](https://g

[2022-09-06 03:06] geibu commented on #283
Final Credit Page Design:
Worked with Tin to finalize design for credit page
<img width="1215" alt="Screen Shot 2022-09-05 at 8 03 23 PM" src="https://user-images.githubusercontent.com/107892670/188538468-b05c4e46-73aa-4325-a15f-a302bb4ec823.png">

[2022-09-06 03:09] TCUX commented on #284
Worked with Gabe to finalize credit page design.

![Credit Page_Final Version](https://user-images.githubusercontent.com/105838543/188538873-8ee82cf6-8db6-4d62-a82e-458758d54fe9.PNG)

[2022-09-06 23:23] sdimran commented on #284
great work @TCUX @geibu. im good with this design and implementation. please put a red box around the final design in figma so we can hand it off to @Aveline-art  and the dev team,

one question, do these two pages encapsulate all illustrations and iconographies from civic tech jobs?

[2022-09-06 23:24] sdimran commented on #283
great work @geibu , closing this issue as we will continue in @TCUX 's issue. i have left my comments there as well.

[2022-09-06 23:24] #283 closed

[2022-09-07 00:00] poorvarathore05 commented on #167
Hello @sdimran
So sorry for the delay in response. I was having some issues with my web packs and was unable to work on that so I discussed them with Ava a couple of times. Now we resolved the problem and the website is up and running on my system.
and I am working on that issue and it's almost done.

Thanks!

[2022-09-07 03:13] hkimsummer opened #311 "Analyze and Present Results from Usability Testing - Qualifier Page"
### Dependency

- [x] #291

### Overview

As a research team, we need to analyze the findings from the usability testing and  prepare a presentation that includes insights and recommendations to deliver to the team.

### Action Items

- [x] Analyze participant responses
- [x] Prepare a slide deck for presentation
- [x] Present insight and recommendations to the team

### Resources/Instructions

[R

[2022-09-07 03:16] hkimsummer opened #312 "Accessibility Research"
### Overview

As a research team, we need to examine the accessibility aspect of our product for inclusive design.

### Action Items

- [ ] Research best practices for accessibility research for website design
- [ ] Devise a plan for research and testing

### Resources/Instructions

[Resources](https://hackforla.github.io/CivicTechJobs/resources/)

[2022-09-10 21:22] jenchuu commented on #308
Logging prototype used for testing:
<img width="503" alt="Availability qualifer page (Range) prototype" src="https://user-images.githubusercontent.com/88695763/189502165-3435c9f5-b146-473b-94bb-2a74d449530a.png">

[2022-09-10 21:24] jenchuu commented on #308
@sdimran This is done and ready to be closed.

[2022-09-10 21:25] jenchuu commented on #290
@sdimran These two ROLE prototypes are done and were used by the UXRs during testing this past week. Ready to close this issue.

[2022-09-10 21:26] jenchuu commented on #306
@sdimran This has been completed by Lu and is ready to be closed.

[2022-09-10 21:26] jenchuu commented on #293
@sdimran This has been completed by Tin and is ready to be closed.

[2022-09-10 21:27] jenchuu commented on #295
@sdimran This has been completed by Gabe and is ready to be closed.

[2022-09-10 21:29] jenchuu commented on #273
@sdimran can we delete this issue? Since you have two open that are the same I think? #123

[2022-09-13 21:11] #265 closed

[2022-09-13 21:17] sdimran commented on #16
## [9/13/22]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Jen](https://github.com/hackforla/CivicTechJobs/issues/assigned/jenchuu)
       - [ ] [Gabe](https://g

[2022-09-13 23:29] hkimsummer commented on #291
@sdimran this issue is completed and ready to close. Thanks!

[2022-09-13 23:38] hkimsummer opened #313 "Search Page Usability Testing"
### Dependency

- [x] #24

### Overview

As a research team, we need to test the revised role selection component of the search page to identify any pain points and blockers before the release of the MVP.

### Action Items

- [ ] Discuss goals for usability testing with the team
- [ ] Write a research plan
- [ ] Review the prototype and discuss any questions with the design team
- [ ] Set up Calen

[2022-09-13 23:40] hkimsummer commented on #313
Need to check Dependency

[2022-09-13 23:44] hkimsummer commented on #140
## 9/13/22 Meeting agenda

### New items

- [ ] Discuss presentation
- [ ] Go over GitHub

### Notes from meeting

[2022-09-13 23:55] #291 closed

[2022-09-14 01:20] jenchuu commented on #283
test

[2022-09-14 01:22] geibu commented on #283
Final design for the credits page:

Illustrations
<img width="564" alt="Screen Shot 2022-09-13 at 6 20 44 PM" src="https://user-images.githubusercontent.com/107892670/190037390-619d7d13-2df8-4494-949a-d6b9b36f7d50.png">

Iconograpghy
<img width="450" alt="Screen Shot 2022-09-13 at 6 20 56 PM" src="https://user-images.githubusercontent.com/107892670/190037398-15b686ee-1459-4e04-8f14-e79f7842407c.pn

[2022-09-14 01:23] Aveline-art opened #314 "Create CD/CI Pipeline for staging deployment"
### Overview

As a developer, we should make sure that our deployment pipeline is automated so that developers can spend more time on critical issues rather than repetitive work. For this issue, we will leverage GHAs in order to create a CD/CI pipeline into our staging aws environment.

### Action Items

- [x] Create a GitHub action that automatically deploys the code from our `main` branch into o

[2022-09-14 23:14] sdimran commented on #314
@Aveline-art  good to work on now

[2022-09-15 00:44] Aveline-art commented on #314
@Enzyme3 This issue is ready for you to pick up whenever you are ready

[2022-09-18 15:37] sdimran commented on #313
@BethBethBeth  can we attach the search page issue under the dependancy column and then I can put this in to the backlog

[2022-09-18 15:44] sdimran commented on #101
## [09/18/22] Agenda  and notes

### Prework
- [ ] issue for audit #51

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Sharad](https://github.com/hackforla/CivicTechJobs/issues/a

[2022-09-18 18:43] #270 closed

[2022-09-18 18:45] sdimran commented on #51
Date: 09/18/2022
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] added 2 labels (role page, credits page)
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at (0/0)
   - [

[2022-09-18 19:23] sdimran commented on #193
Ops is used for devops, can be changed to can be Orchestration, administration, Organizational Development. we can test this

[2022-09-19 00:01] fenglugithub commented on #24
Based on UX meeting feedback, @jenchuu and I worked on an Ideation for search page to show the top portion of large card is sticky when user scrolling. Below is our design iteration
[Search Page V10](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=4993%3A40250)

- Full view for the large card

<img width="792" alt="Screen Shot 2022-09-18 at 4 57 24 PM" src="https://user-i

[2022-09-19 00:21] jenchuu commented on #193
@sdimran Ops for the CoP? Is it not just short for Operations? Not DevOps in Engineering right?

[2022-09-19 00:23] jenchuu commented on #193
Below is updated Role multi-chip design. Changed the outline of the chip from black to dark blue for active unselected state:

![Screen Shot 2022-09-18 at 7 22 10 PM](https://user-images.githubusercontent.com/88695763/190934350-f0b4e936-9568-497b-b111-633fe48d58c5.png)

[2022-09-19 21:09] BethBethBeth commented on #313
Hi @sdimran - still learning Github, sorry for the delay. I asked Summer about this and she said updated the issue and that it's ready for prioritized backlog.

[2022-09-23 21:20] sdimran commented on #193
Hey Jen, apologies for the ambiguous note. i was taking down notes while talking to bonnie during the meeting and didnt submit the rest of them. I just yesterday started feeling better but here they are below:

to answer your question, Ops is for operations yes but speaking to bonnie a better name was needed so lets discuss which of those 3 names we want to go with at our next team meeting. devOps

[2022-09-26 18:26] melkosm commented on #140
9/20/22 Meeting agenda

- [ ] Discuss handover items for project
- [ ] Discuss new UXR Lead
- [ ] Create handover document

[2022-09-28 00:17] Enzyme3 commented on #252
Saving some links here
- https://github.com/hackforla/website/tree/gh-pages/_projects
- https://github.com/hackforla/website/tree/gh-pages/_data
- https://github.com/hackforla/website

[2022-10-04 23:26] salimays opened #315 "List All Roles from the Roles Qualifier Page"
### Overview

For clarity purposes and after an ask from Dev, we need to list all the jobs by category in text form.

### Action Items

- Make a list out of the Jobs Drop Down Menu for clarity purposes

### Resources/Instructions

[Resources](https://hackforla.github.io/CivicTechJobs/resources/)

[2022-10-04 23:35] salimays commented on #315
Roles:
- Engineering: Front End, Back End, Full Stack, Software
- Development:
- UX/UI: Research, Design,
- Operations: Product Management, Project Management

[2022-10-04 23:48] jenchuu commented on #193
@sdimran Thanks for explaining and links to roles. Unfortunately now there are duplicate roles in several CoPs. Can you advise where each role should be?

Also edited design to make it easier for users to understand these are multi-select chips:
- Added + in front of text for active, unselected chips (with blue outline instead of grey so looks less disabled)
- Kept CHECKMARK in front of text for a

[2022-10-05 01:10] salimays opened #316 "## [10/4/22] Meeting Agenda"
## [10/4/22]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Jen](https://github.com/hackforla/CivicTechJobs/issues/assigned/jenchuu)
       - [ ] [Gabe](https://g

[2022-10-05 01:12] Aveline-art commented on #193
@sdimran This is way too long, and would require a lot of lift for this single edge case. What do you mean by test this?

[2022-10-10 17:39] melkosm commented on #140
10/4/22

- [ ] Search for new team member for October usability testing
- [ ] Review 2021 PM recordings- list requirements
- [ ] Go over former research in gdrive (build context)

[2022-10-10 17:40] melkosm commented on #140
10/11/22

- [ ] Recruit new team member for October usability testing
- [ ] Go over former research in gdrive (build context)
- [ ] Clarify github and research template asks from Bonnie

[2022-10-11 23:55] salimays commented on #193
@sdimran @jenchuu  After discussing this issue with Bonnie, her input is the following:

- There are instances where a role goes into two different departments and it's ok to have the same role appear twice
- The challenge will be for the hiring team to properly define the scope of the role. There is a document in the works that aims at making this task easier. (To be linked here after asking Bonn

[2022-10-12 02:56] #167 closed

[2022-10-12 02:56] #305 closed

[2022-10-16 02:39] Aveline-art commented on #50
@gjagnoor Is this inprogress? Why is it in links/questions/review?

[2022-10-16 02:40] Aveline-art commented on #296
Closing this because it is completed

[2022-10-16 02:40] #296 closed

[2022-10-16 22:32] gjagnoor commented on #50
@Aveline-art Not really, just making final edits you suggested as part of the code review last night. It's there to inform the team that this issue is now under review. Did I misunderstand the purpose of this bin?

[2022-10-17 01:44] fenglugithub commented on #24
@jenchuu and I worked on Search Page filters. We made 2 iterations for the filter menu and the detailed subpages.

[Search Page Filters](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=4993%3A40250)

**Below is our design iteration A**

- We edited All Filters to More Filters in the menu.

<img width="708" alt="Screen Shot 2022-10-16 at 6 15 15 PM" src="https://user-image

[2022-10-17 17:58] melkosm commented on #140
- [ ] Onboard Genggeng- product requirements, roadmap, work/research done and to be done
- [ ] Discuss October tasks and dependencies- search page, role skills and experience, usability testing
- [ ] Go over PM recording insights

[2022-10-17 18:56] geibu opened #326 "CMS Dashboard Wireframes - Gabe"
### Overview

As a designer, we need to create a Content Management System (CMS) to allow project managers and team leads to post, manage, and analyze role openings. For this issue, we will create wireframes to efficiently ideate and revise toward high-fidelity screens.

### Action Items

- [x]  Wireframe dashboard
- [x]  Wireframe other additional pages

### Resources/Instructions

[Figma](https:

[2022-10-17 18:57] geibu commented on #326
<img width="952" alt="Screen Shot 2022-10-17 at 11 44 50 AM" src="https://user-images.githubusercontent.com/107892670/196259677-95b520d7-16ac-4608-9fb9-8e89f615454e.png">

[2022-10-17 20:28] Aveline-art commented on #50
@gjagnoor Yes. We don't really use it right now, but historically, it is only used if you need product/stakeholder opinion on your ticket, and only if you could not get that feedback over slack.

[2022-10-18 06:18] geibu commented on #326
<img width="613" alt="Screen Shot 2022-10-17 at 11 17 15 PM" src="https://user-images.githubusercontent.com/107892670/196350770-53a8a5b2-4b0f-4169-afdf-33b378244fb0.png">

<img width="602" alt="Screen Shot 2022-10-17 at 11 17 18 PM" src="https://user-images.githubusercontent.com/107892670/196350781-bd91fa38-0b97-48cf-92ef-fa5f26ec2569.png">

<img width="607" alt="Screen Shot 2022-10-17 at 11 17 29

[2022-10-18 06:21] TCUX opened #327 "CMS Dashboard Wireframes - Tin"
### Overview

As a designer, we need to create a content management system to allow project managers and team leads to post, edit, manage, and analysis roles for Civic Tech Jobs. For this issue, we will create wireframes to ideate and revise toward high-fidelity screens.

### Action Items

- [x] Wireframe Dashboard
- [x] Dashboard Review
- [x] Wireframe other additional pages if needed. (not neede

[2022-10-18 08:03] TCUX commented on #327
![DASHBOARD - ROLE - V1](https://user-images.githubusercontent.com/105838543/196372278-63586b69-568e-4479-8bce-ca485a3e22fd.PNG)
![DASHBOARD - ROLE - V2](https://user-images.githubusercontent.com/105838543/196372315-cf4e10a4-d1d0-45bb-8604-d0256a5893d1.PNG)

[2022-10-26 00:41] melkosm commented on #140
10/25/2022
- [ ] Discuss Research gdrive folders- usability-preference testing
- [ ] Track overview in research summary doc
- [ ] Discuss with UXR team about weekly meeting with UXD

[2022-10-27 01:27] Aveline-art commented on #50
Closed because ticket is completed

[2022-10-27 01:27] #50 closed

[2022-10-27 01:27] Aveline-art commented on #190
@gjagnoor Is this still in progress?

[2022-10-27 01:34] Aveline-art opened #332 "Epic: Credits Page"
### Dependency

- [x] #333
- [x] #361

### Overview

This is an epic for the development of the credits page.

### Action Items

- [x] Find the credits page in figma.
- [x] Create it.

### Resources/Instructions

[Resources](https://hackforla.github.io/CivicTechJobs/resources/)

[2022-10-27 01:36] Aveline-art opened #333 "Component: Create the standard card component"
### Overview

As a developer we need to develop components that help us reuse code. For this issue, we will make the standard card component.

### Action Items

- [x] Find component in figma under design system
- [x] Create it
- [x] Make sure it is accessible
- [x] Make sure it is reusable
- [x] For this component, make sure to move the existing cards into the individual pages (the CoP and Circle

[2022-10-27 02:47] gjagnoor commented on #190
Yes this can be closed. This issue was resolved as part of #50

[2022-10-27 02:47] #190 closed

[2022-10-31 05:06] fenglugithub opened #334 "404 result page"
### Overview

We need to design a 404 result page so that a user will get a visual notice when they there's no search result found.

### Action Items

- [x] Ideate
- [x] Present to the team
- [x] Feedback
- [x] Iterate
- [x] Present to the team

### Resources/Instructions

[Requirements](https://docs.google.com/spreadsheets/d/1VcDLJnDA5CE7euzaZxOcqS3LLgyUFVLeqvdZx2sFGQk/edit#gid=477987515)

[2022-11-01 15:02] melkosm commented on #140
11/1/2022

- [ ] Go through CMS folder and discuss materials and content of 1st iteration

[2022-11-09 00:30] salimays commented on #16
## [11/8/22]  Meeting Agenda

### Prework to prep for meeting
- [ ] #

### Recurring items: Happens on the ________ meeting
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Jen](https://github.com/hackforla/CivicTechJobs/issues/assigned/jenchuu)
       - [ ] [Gabe](https://g

[2022-11-09 02:03] Aveline-art opened #335 "Data Sourcing"
### Dependency

### Overview

As a developer, we need to make sure that we can source our data, and that we have a plan to retrieve that data. For this ticket, we will start a research sprint into where we can and cannot find our data.

### Action Items

- [ ] See below for a list of data we need
- [ ] For each data, find the source for our data
- [ ] Create a plan to retrieve that data

### Resou

[2022-11-15 16:24] gjagnoor commented on #78
Notes from Ops meeting on 11/9/2022

Tasks -
1. Db - Kevin will set DB instance credentials for CTJ using aws lambda
2. Landing Page - We need to build a coming soon page
3. DNS - Kevin is going to set up an [issue for Bonnie](https://github.com/hackforla/ops/issues/64#issue-1443136984) using the template they built together

What CTJ needs right now -

We want to focus on the staging environment.

[2022-11-15 17:19] Aveline-art commented on #39
### Agenda for November 15, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Weekly check-in
  - [ ] What have I worked on this week?
  - [ ] What am I working on now?
  - [ ] What blockers do I have?
  - [ ] What do I plan to work on in the future?
- [ ] Do we really need the domain, "staging.civictechjobs"
  - [ ] If we just want to display the site, can we use the A

[2022-11-16 00:04] Aveline-art commented on #78
That's not good... Is there a way to limit access so that we lower the risk of cross-contaminating data? The worst situation is if someone added test data from staging into the production database as we'll need to manually verify and delete it.

If not, I think we need to reconsider the value of using our sole RDS for staging. What ways do we have of testing integration without using the sole RDS

[2022-11-16 03:36] fenglugithub commented on #334
Ideations for the 404 error page.
Based on our UX meeting, 1. we selected left and right layout, 2. trying more colors. 3. make sure illustration style consistency (source from: storyset/pana)

[404 Error Page](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=5875%3A52346&t=gfuzzeLGZejYNyzW-1)

<img width="851" alt="Screen Shot 2022-11-15 at 7 33 50 PM" src="https://user-i

[2022-11-20 20:18] salimays opened #336 "Coming Soon Page"
### Overview

We need to create a Coming Soon page so when traffic comes to civictechjobs.org the users will see the coming soon page instead of nothing.  This will also allow us to point the domain name.

#### Details
The URL https://staging.civictechjobs.org is going to show to dev instance of the website.  In the future, prod will be seen by visiting civictechjobs.org.  In the meantime we need

[2022-11-21 23:40] Aveline-art commented on #39
### Agenda for monthAsText dd, yyyy

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Weekly check-in
  - [ ] What have I worked on this week?
  - [ ] What am I working on now?
  - [ ] What blockers do I have?
  - [ ] What do I plan to work on in the future?
- [ ] We need to having a coming soon page to host the civictechjobs domain
  - [ ] Should we purchase a test domain t

[2022-11-27 20:50] TCUX opened #337 "Cookies Policy Page"
### Overview

As a UX designer, we need to add cookies policy page and pop-up card to ensure the users understand how their data is collected, shared, and used.

### Action Items

- [x] Find cookies template
- [x] Ask for PMs cookies policy writing for policy page
- [x] 1st Round Review
- [x] Iterate
- [x] Final Review

### Resources/Instructions

[Resources](http://civictechindex.org/privacy)
[Fi

[2022-11-28 02:19] fenglugithub commented on #334
@salima This issue is done and ready to be closed.

[404 Error Page final version](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=5875%3A52977&t=oRjnV3sAuviLn0PI-1)
<img width="672" alt="Screen Shot 2022-11-27 at 6 19 11 PM" src="https://user-images.githubusercontent.com/43657452/204177666-28537fe2-132f-474b-a059-49222ffa23a4.png">