[2020-09-22 00:44] Rankazze opened #2 "Revise Read.md"
### Dependency

- [x] #54

Developer Dependency:

- [x] #49

### Overview
We want people who come to our repo to be able to find what they need quickly by reading our README.md file

### Action Items

For Product:

- [x] Get draft from #54
- [x] see example from Guides team wiki
- [x] Edit the civic tech jobs readme file
- [x] Add link to one sheet
- [ ] Make a list of the civic job boards we know

[2020-09-22 00:50] Rankazze opened #3 "Create project card for CivicTechJobs"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image
     - [ ]  Alt image text
  - [ ] 1500 x 700 hero image (please do not put project title on hero image)
     - [ ]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [ ]  An

[2020-09-22 01:00] Rankazze opened #4 "Create Social Media accounts"
### Overview
Get Social Media accounts for CivicTechJobs

### Action Items

- [ ] Twitter
- [ ] LinkedIn
- [ ] Instagram
- [ ] Facebook

### Resources/Instructions

[2021-04-09 16:32] daniellex0 opened #11 "Verify Required Attendees of HfLA Projects' Team Meetings"
### Dependency

- [x] #35

### Overview
We need to determine which team members are required to attend which HfLA project team meetings, so that we can create a more accurate project team meetings filter for the upcoming Volunteer Opportunities page.

### Action Items
- [x] Review [team meetings spreadsheet](https://docs.google.com/spreadsheets/d/1xG8yQUeR17mkeClJE5gotpWFoP8z6_rE53fqAWBMpOg/edit#g

[2021-06-13 22:56] akibrhast opened #5 "Please add me to this repository"

[2021-06-30 00:40] sharadgaurav7 opened #6 "Key notes from Meeting 062921"
### Overview
Team will work towards creating civictechjobs.org as the main product

### Discussion Points
1. The job postings will also be delivered to the hackforla website using an Iframe
2. We will design a new UX for civictechjobs.org website, starting with a new logo
3. Ingrid, and Cherri will discuss with Danielle on any color schema guidelines/guardrails for the new website
4. Akib, and Sar

[2021-07-06 00:10] sharadgaurav7 opened #7 "Tech Stack Documentation"
Akib, and Sarah to create system design documentation for the civictechjobs.org website

[2021-07-06 00:11] sharadgaurav7 opened #8 "civictechjobs.org website logo"
### Overview
We need a logo for the project so that we can appear on the hackforla.org homepage and recruit.  The logo should encourage people to use our application to find civic jobs

### Action Items
- [x] Identify values and other properties that will help us understand if the logo design meets requirements
- [x] UX team to create a logo for the new civictechjobs.org

### Resources/Instruction

[2021-07-06 00:12] sharadgaurav7 opened #9 "UX Design: Landing Page Wireframe for civictechjobs.org Option 1"
Overview
We need to design the webpages for civictechjobs.org so that a user (potential volunteer) can easily search for a volunteer opportunity that fits their skills or aspirations.

Resources/Instructions
https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=1%3A7

[2021-07-14 00:22] ihorng commented on #8
Design Round # 1

![Ingrid-CivicTechJobs-Logos](https://user-images.githubusercontent.com/63479928/125541603-27016285-b6c9-43bb-a06f-ccb953f8f821.png)

[2021-07-14 00:35] sharadgaurav7 opened #10 "Landing page for civictechjobs.org"
### Overview
We need to create a wireframe design for the landing page of civictechjobs.org so that we can establish the look and feel of the website when arrived on

### Action Items
- [ ] Landing page search bar
- [ ] LOGO placement
- [ ] filters list

### Resources
Existing Figma (https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=5326%3A26395)

[2021-07-14 00:37] arghmatey commented on #7
Notes from Akib from an issue on the website repo (from when this was going to be a feature of the Hack for LA site):

### Determine which technologies need to be used.
Confirmed using react as front end with potentially redux
Express as the backend
Postgres as the database
Ensure application is containerized with docker.

### Determine the monetary costs of using these technologies.
Currently neg

[2021-07-14 00:40] sharadgaurav7 commented on #7
@arghmatey
Sarah, please post the tech stack pointers from Akib here,

[2021-07-14 00:42] sharadgaurav7 commented on #8
Thanks @ihorng

Per our discussion, we need to remove the magnifying glass from the logo since civic tech index team already uses that.

[2021-07-16 21:17] ihorng commented on #8
Design Round # 2
<img width="795" alt="Ingrid-CivicTechJobs-Logos-Round2" src="https://user-images.githubusercontent.com/63479928/126009295-b18946e3-df7d-4d1c-8735-61352dc84184.png">

Logo Notes:
1. Person raising hand up = individual interest in contributing
2. Group of individuals = Team / Community / Network
3. Abstract C #1
4. Abstract C #2
5. Wordmark with Hack for LA’s triangle logo used as

[2021-07-17 01:07] Aveline-art commented on #8
@ihorng I am loving 2 and 3, but they all look amazing! The colors are pretty close to Civic Tech Index though, and I am not sure if we are related them them? I am not much of a color person, so no suggestions from me. Maybe someone else will have a better idea.

[2021-07-17 02:41] cherrijeong commented on #8
![civictechjobs](https://user-images.githubusercontent.com/79132442/126022864-177a9db0-4681-4a00-ae2b-d0f5bc8dbdb2.jpg)

Here are more sketches for review/ideas, open for color suggestions!

[2021-07-18 23:17] sharadgaurav7 commented on #8
@ihorng What do those semi-circles represent? I personally like 1C, and 5B. They are cleaner

@cherrijeong : Is there relevance to the extended J's? I like the one where the word 'tech' is in a black highlight. It would help if you can number these.

We should select a few of the best and submit a poll from other team members on slack. What do you guys think? @sdimran

[2021-07-19 17:40] ihorng commented on #8
@sharadgaurav7 Do you mean logo # 1 when you are referring to the "semi-circles"? It's a person raising then hand up to represent interest in contributing. It is also an abstract image of letter C (when titling your head sideways). Colors are not finalized yet because Cherri and I want to first get an idea of the directions of the logo. Colors can be easily adjusted.

@cherrijeong I like # 1 and #

[2021-07-19 19:45] sdimran commented on #8
I really like 1C and 4C from @ihorng's second design round. the abstract image of someone raising their hand looks unique. regarding color scheme I echo @Aveline-art. I really like the blues but if they are the same or indistinguishable from civic tech index then I think it would be valuable to discuss at the next team meeting.

@cherrijeong I like the last 2 on the last column because it really h

[2021-07-20 20:36] ExperimentsInHonesty commented on #11
I moved this issue from hackforla website for us to discuss at next team meeting

[2021-07-21 00:27] ExperimentsInHonesty opened #12 "C & C Analysis Posting a Job to Volunteer Sites"
### Overview
We need a C & C analysis on CMSs from orgs that recruit volunteers so that we know what features we might need outside of what we have already identified as our current project managers' needs.  This issue looks at the process for how volunteer opportunities are posted.

### Action items
- [ ] Identify the orgs
- [ ] Collect the features including screen shots of their cms

### Resour

[2021-07-21 00:31] ExperimentsInHonesty opened #13 "API requirements"
### Overview
We need to determine what data we will require and who will consume it so that we can get signoff from stakeholders and setup the wireframing team for success.

### Action Items
- [x] Create our database schema.
- [x] After creating the schema, get sign off from:
  - [x] Stakeholders who will be using this
  - [x] Our team, who will be managing this, and using this to speak with stake

[2021-07-21 00:37] ExperimentsInHonesty opened #14 "Figma Access"
### Overview
We need figma for this project so that we keep all our designs in one place and work collaboratively

### Action Items
- [x] create vault for civic tech jobs
- [x] create vault of ctj - design
- [ ] ~copy figma account from org to new vault~
- [ ] ~add team members who need access to figma to ctj - design~
- [ ] ~copy email accounts to cti-design vault~

### Resources/Instructions

[2021-07-21 00:39] ExperimentsInHonesty commented on #7
Add information to page on the wiki

[2021-07-21 00:45] ExperimentsInHonesty opened #15 "Create wiki from template"
### Overview
We need to use the wiki template that other projects are using so that when people move between projects they can find stuff and also because it's easier to know what you need.

### Action Items
- [ ] Clone current wiki to ensure no data is lost
- [ ] Copy template wiki to project wiki

### Resources/Instructions
https://github.com/hackforla/CivicTechJobs/issues/7
[draft guide for cop

[2021-07-21 01:27] ExperimentsInHonesty opened #16 "Meeting Agendas"
### Overview
This issue tracks the agendas for our project

### Weekly Agenda
[06/22/21](https://github.com/hackforla/CivicTechJobs/issues/16#issuecomment-883815472)
[09/07/21](https://github.com/hackforla/CivicTechJobs/issues/16#issuecomment-913828375)
[09/14/21](https://github.com/hackforla/CivicTechJobs/issues/16#issuecomment-917734250)
[09/28/21](https://github.com/hackforla/CivicTechJobs/issu

[2021-07-21 01:28] ExperimentsInHonesty commented on #16
Tuesday, June 22
What are the different Roles, create a list
What ties the Roles & Job card together
Login System for backend?	Use github authentication

[2021-07-21 01:41] sdimran opened #17 "Logo feedback google form"
### Overview
We need a google form to get input from the team regarding the top Logo designs thus far to move forward with so that we can finalize our logo design and color scheme

### Action Items
- [x] Google form ( https://forms.gle/r9jenNSzW8X8SoXn8 )

### Resources/Instructions
Logo Issue (https://github.com/hackforla/CivicTechJobs/issues/8)

[2021-07-26 02:23] Aveline-art commented on #13
From the Figma file, it seems that we would need these models:

<ins>Job Posting</ins>
| Item | Data Type |
| ----------- | ----------- |
| Job Title | Char/String |
| Description | String |
| Posted Date | DateTime |
| Associated Project | Project (see below) |

<ins>Project</ins>
| Item | Data Type |
| ----------- | ----------- |
| Project Name | String |
| Project About | String |
| Meeting Tim

[2021-07-26 04:53] Aveline-art commented on #13
* Progress: Completed a [tentative schema](https://github.com/hackforla/CivicTechJobs/issues/13#issuecomment-886323790). Next step is to discuss additional models needed for the database.
* Blockers: None so far.
* Availability: Random time here and there.
* ETA: Currently indeterminate until meeting with the team.

[2021-07-26 17:42] ihorng commented on #17
Below is the image file of the logo selection for participants to select from.

![CivicTechJobs-Logos-Poll](https://user-images.githubusercontent.com/63479928/127034167-3d9acca5-4e71-454b-984f-e040593b3168.jpg)

[2021-07-26 17:46] ihorng commented on #8
Below are the logo selections to submit for the logo poll.

![CivicTechJobs-Logos-Poll](https://user-images.githubusercontent.com/63479928/127034680-11833d63-a06c-4410-9aa2-bfb6eb0984fa.jpg)

[2021-07-27 18:08] ihorng commented on #8
Below are 2 logo color options. These are very quick mock ups to show the color palette being used throughout the page at a high level.

Please note:
-  the detail aspects were not focused
-  the logo used in the mockup is not the finalized logo and is only used as a placeholder
-  for the footer, since it will need to be redesign, I colorblocked the section with the background color.

![Color #1]

[2021-07-27 20:44] patula006 commented on #8
Hi, Ingrid - I think I like #1 (blue) better as it's more familiar. Thanks - Patty

[2021-07-27 21:02] arghmatey commented on #15
Updated wiki with template wiki. Saved old wiki with links locally on machine if any of that information is needed to fill out the template.

[2021-07-27 23:47] sdimran commented on #17
Updated Google form link which contains questions and images. @ihorng just wanted to confirm, is each row one (1) design which can be translated for multiple views and platforms based on our discretion (mobile/web/tablet)?

[2021-07-28 00:13] arghmatey commented on #15
Discussed during 7/27 meeting. This issue will be closed and a new issue will be created to assign wiki pages to be filled out.

[2021-07-28 00:13] #15 closed

[2021-07-28 04:34] Aveline-art commented on #13
### Next Steps, July 27, 2021

- [ ] Yes on users
- [ ] No login for seekers. Only admin, and the regular users are job posters
- [ ] Some way to log stats for clicks and other information. Maybe outside library?
- [ ] Look at VRMS documentation

[2021-07-28 21:09] #8 closed

[2021-07-28 21:10] ihorng commented on #17
@sdimran yes, each row is one design translated in multiple views & platform

[2021-07-28 21:19] ihorng commented on #14
Progress: We completed setting up the figma file and passwords on Tuesday, July 27. File is ready.
Blockers: Figma file link cannot be view publicly unless users log into the figma account. I tried to change the settings but I don't have the ability to due to the permission setting assigned to my figma hack for LA login account.

[2021-07-29 21:52] sharadgaurav7 opened #18 "One Sheet"
### Overview
Create onesheet document for civictechjobs so that it can be shared with management team, stakeholder, and funders.

### Action Items
- [x] Check to confirm project does not already have a one sheet
- [x] Make a copy of the one sheet template and store in the product management google drive/one sheet revisions
- [x] Review one sheet and check off items on the checklist to see what it

[2021-07-29 21:55] sharadgaurav7 commented on #18
In progress file:
https://docs.google.com/document/d/1BCNkA3cEox1qp2803r1uDAtffEszQ2P34ZDHo4dKM0Y/edit#

[2021-07-31 17:10] Aveline-art commented on #13
* Progress: Added login information to schema.
* Blockers: A method to log stats cannot be decided until we decide on a backend framework. Meeting with VRMS team member will clarify for us whether it is best to move on with Express or an alternative. Also, VRMS documentation did not prove helpful in expanding the schema.
* Availability: Some time here and there.
* ETA: Unsure. Waiting on 2 things.

[2021-08-03 02:50] sharadgaurav7 opened #19 "Update Wiki"
### Overview
Update the wiki for the Civictechjobs project so that management, stakeholders, and team members can get a snapshot of the project.

### Action Items
- [x] Project definition
- [x] Intro to the project
  - [ ] See: #54
- [x] Guiding Objectives
- [x] Project one sheet
- [x] Update selected tech stack
- [x] Joining the team (and links that lead away from that page)
- [x] The Team
- [ ]

[2021-08-03 02:52] Aveline-art commented on #13
Frontend needs to account for usertime zone when displaying meeting times.

[2021-08-04 00:19] sharadgaurav7 commented on #10
Update: Find the wireframe here
https://docs.google.com/presentation/d/1nAPj7WsN9qLl2QrXLTP9P4eOY_EbVxrFThIq0PzmtsU/edit#slide=id.p

[2021-08-08 00:10] Aveline-art commented on #13
[Another Figma file](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=9266%3A304) retrieved from #11

[2021-08-08 22:07] ihorng opened #20 "Recruit 2 UX Designers and 1 UX Researcher"
### Overview
We need more volunteers to work on the project so that we can accomplish our action items.

### Action Items
- [ ]   Post on roles board
- [ ]   Successfully recruit 2 UX Designers
- [ ]   Successfully recruit 1 UX Researcher

[2021-08-10 19:49] Aveline-art commented on #13
* Progress: The schema is almost complete. Some of the items from VRMS would need to be discussed, especially the user data, to see if they are applicable to our project. Once the finalized designs come in, we can start working on creating the front and backend.
* Blockers: None so far.
* Availability: 5 hours.
* ETA: Probably by next week!

[2021-08-16 18:47] ExperimentsInHonesty commented on #18
@sharadgaurav7 You overwrote the template with your draft.

This is the file that is supposed to be the template
https://docs.google.com/document/d/1BCNkA3cEox1qp2803r1uDAtffEszQ2P34ZDHo4dKM0Y/edit#heading=h.n7lqzt5pn161

Please make a copy of this file and put it in our folder, and then unwind all the changes you made to the template so that its back to the generic version it was.

[2021-08-17 23:59] sdimran commented on #17
Olivia had posted our google form on the general channel in Slack and the responses were gathered. final results to be discussed and actioned at 8/17/21 meeting

[2021-08-18 00:51] arghmatey opened #21 "Research: React and Django Integration"
### Overview
We would like to use Django as back-end and React as front-end for our site architecture. This issue was created to store any key points discussed on this topic.

### Action Items
- [ ] Research if it is feasible connecting a Django back-end to a React front-end

### Resources/Instructions
Any helpful articles or links regarding this can be put here.

[2021-08-18 01:10] sdimran opened #22 "Hero Image for CivicTechJobs for HackforLA website"
We need a Hero image for CivicTechJobs which will be displayed as the backdrop on the project card on the HackforLA website. this should be independant of the logo but also embody the project

Action Items
- [x] Hero image  ()

Resources
https://www.hackforla.org/projects/ballot-nav (see backdrop of ballotnav)

Size requirement
1500 x 700

[2021-08-18 16:11] patula006 commented on #12
[Volunteer Orgs C&C Analysis.xlsx](https://github.com/hackforla/CivicTechJobs/files/7008609/Volunteer.Orgs.C.C.Analysis.xlsx)

[2021-08-18 23:57] sdimran opened #23 "Complete Moscow analysis"
Based on the C&C analysis, we need to understand and decide which features are must haves, should haves and could haves so that the modules can be developed and designed accordingly

Resources

#12 - C&C Analysis

[2021-08-19 00:01] sdimran commented on #9
PM's to meet with UX to discuss User flow schema

[2021-08-20 21:53] cherrijeong commented on #22
@sdimran we are trying to assign Grace (new designer) to work on the hero image. Jen and Grace are listed as h4la members but have limited access.  Do you mind looking into this and assigning Grace to this task? I also moved the task to In Progress. Their git handles are @jenchuu @graceerya

[2021-08-21 20:07] sdimran commented on #22
I have added Jen and Grace to the github repo as contributors and assigned them to the task now!

[2021-08-22 19:34] graceerya commented on #22
Hello, here are the hero images! (I'm not sure if this is necessary, but I centered all the images slightly above center in hopes of it working better with the blue gradient that seems to overlay the hero images on the website, just in case.)
![civictechjobs-heroimage-doodles-yellow](https://user-images.githubusercontent.com/64109227/130367741-07a22523-a40a-4868-9ddf-ec442df7c51a.png)
![civictechj

[2021-08-25 00:43] arghmatey commented on #22
Hero images have a size requirement of 1500 x 700.

[2021-08-25 20:33] ihorng opened #24 "Search Page Design (UX)"
### Dependency

- [x] #285
- [x] #289

### Overview

We need to design a search page with filters so that a user (potential volunteer) can easily find a volunteer opportunity that fits their skills or aspirations.

### Action items

- [x] Ideate in hi-fi
- [x] Present to design team
- [x] Iterate
- [x] Present to all team
- [x] Iterate to design final
- [x] Handoff to Devs

### Resources/Instructi

[2021-08-29 16:09] Aveline-art opened #25 "Front and Backend environmental setup"
### Dependency

- [x] #26

### Overview
As a developer, we need to be prepared for when projects come in. For this issue, we will initialize the project to create the scaffolding needed to begin front and back end work.

### Action Items

- [x] Initiate the app with docker, which is configured to django.
- [x] Set up the frontend/backend directories
- [x] Add a JSX preprocessor (rather than use cr

[2021-08-29 16:17] Aveline-art opened #26 "Pre-requisites for front and backend env setup"
### Overview

As a developer, we need to ensure that this project is properly setup such that developers can come in and pick up the work and our data is protected. For this issue we will be researching the best ways to set up our environment.

### Action Items
- [x] Find a solution for hiding the database and other sensitive secret keys when uploading to GitHub
- [x] Find a solution for [linking

[2021-08-30 02:24] sharadgaurav7 opened #27 "Product Feature Requirements and MVP V1.0"
### Overview
Upload the discussion about the requirements and the MVP so that the team can watch the video and learn about the feature and design requirements for the product (civictechjobs.org)

### Action Items
Bonnie to upload the recording of the discussion with Sharad and Danish. Meeting date Sunday, August 29

### Resources/Instructions
Zoom meeting recording

[2021-08-31 04:35] Aveline-art commented on #26
* Progress: Currently attempting to follow [this tutorial ](https://docs.docker.com/samples/django/)to get started. Once docker is set up, I plan to deploy to AWS.
* Blockers: Tutorials do not anticipate bugs, so debugging has been difficult.
* Availability: 2 hours
* ETA: Unsure, as this is all new to me. 13 work hours sound like a good estimate
* Pictures: "Add any pictures of the visual changes

[2021-09-01 00:18] ExperimentsInHonesty commented on #27
@sharadgaurav7 I have the files ready, I need the link to the folder you want this to be put in.

[2021-09-01 00:26] Aveline-art opened #28 "Frontend MVP Development Requirements"
### Dependency

- [x] On the date when development is ready to begin.

### Overview
As a developer on this project, before we work, we need to know what the MVP requirements are, in terms of development. In this issue, we are translating MVP requirements into developer lingo and turning them into issues, if possible.

### Current Action Items

- [x] Collect all front-end requirements on Future Act

[2021-09-01 02:56] sharadgaurav7 commented on #27
@ExperimentsInHonesty , can you please upload here: https://drive.google.com/drive/folders/1hXxvpC8W5Uuzjqo4CxnjDpAMI7sbVnq8

Thanks

[2021-09-02 17:15] Aveline-art commented on #26
Update:

Notes on AWS:

- AWS integration is handled by the #ops team. The basics is that a project AWS account is linked to an organizational level account for billing and hosting purposes. We need admin access to create and link accounts.
- To put a project in AWS testing, it uses an incubator which is found in [hackforla/incubator](https://github.com/hackforla/incubator). To test AWS hosting, w

[2021-09-06 19:46] sdimran commented on #16
9/10/21
Agenda:
- Discuss status of Landing page wireframe
- updates on sizing of issues (questions/concerns regarding process)
- project board updates

meeting notes:

[2021-09-07 01:41] Aveline-art commented on #26
Update:

Notes on hiding sensitive information:

- Secret keys can be hidden via an env file, or outside callable file (for example a python file for the Django keys). This key needs to be shared privately, perhaps via our drive, and it should never be uploaded to GitHub.
- The database is a little trickier, since it contains data. Until it is deployed, we need to [leverage Django's ability to per

[2021-09-07 16:13] ihorng opened #29 "UX Design: Landing Page Wireframe for civictechjobs.org Option 2"
Overview
We need to design the webpages for civictechjobs.org so that a user (potential volunteer) can easily search for a volunteer opportunity that fits their skills or aspirations.

Resources/Instructions
https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=1%3A7

[2021-09-07 16:16] ihorng opened #30 "UX Design: Landing Page Wireframe for civictechjobs.org Option 3"
Overview
We need to design the webpages for civictechjobs.org so that a user (potential volunteer) can easily search for a volunteer opportunity that fits their skills or aspirations.

Resources/Instructions
https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=1%3A7

[2021-09-07 16:16] ihorng commented on #30
Overview
We need to design the webpages for civictechjobs.org so that a user (potential volunteer) can easily search for a volunteer opportunity that fits their skills or aspirations.

Resources/Instructions
https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=5326%3A26395
https://docs.google.com/document/d/1kY-YtSnR8rAecgYtiHH-Kh-HiTIUcztD7jTkITS2qAM/edit?usp=sharing

[2021-09-07 16:17] ihorng commented on #30
Overview
We need to design the webpages for civictechjobs.org so that a user (potential volunteer) can easily search for a volunteer opportunity that fits their skills or aspirations.

Resources/Instructions
https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=5326%3A26395
https://docs.google.com/document/d/1kY-YtSnR8rAecgYtiHH-Kh-HiTIUcztD7jTkITS2qAM/edit?usp=sharing

[2021-09-07 17:15] ihorng opened #31 "UX Design: Landing Page Wireframe for civictechjobs.org Option 4"
Overview
We need to design the webpages for civictechjobs.org so that a user (potential volunteer) can easily search for a volunteer opportunity that fits their skills or aspirations.

Resources/Instructions
https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=1%3A7

[2021-09-08 00:53] arghmatey commented on #21
I've taken a look into two options:
1. Django app with React implemented into it - one repo/domain
     - Simpler structure and configuration
     - Single deployment of frontend and migrations
     - Developers on project would need to be more full-stack
     - Data is pulled to frontend from Django views
2. Separate infrastructure - two repos/domains
     - More complex configuration
     - Sepa

[2021-09-08 00:58] jenchuu commented on #22
Grace and I working on finding new FREE hero image possibly from
https://www.vecteezy.com/
https://thenounproject.com/
https://www.freepik.com/

[2021-09-08 17:40] jenchuu opened #32 "Hero image for CivicTechJobs landing page website"
We need a hero image/illustration for CivicTechJobs landing page that attracts users and communicates inclusivity and collaboration.

Action Items:
- [ ] Hero image/illustration options
- [ ] Survey or A/B test options
- [ ] Once hero image chosen, add credit here: https://www.hackforla.org/credits/

[2021-09-08 17:55] jenchuu opened #33 "Blurb/copy to go with hero image on landing page"
We need a SHORT blurb/copy to go with the hero image on the CivicTechJobs' landing page.

It must communicate:
-our value proposition
-the value of them, the volunteers... that our work is thanks to the power of volunteers

Action Items:
- [ ] draft blurb
- [ ] run it by someone (like Bonnie)

Resources:
https://www.hackforla.org/

[2021-09-12 23:42] sharadgaurav7 commented on #16
09/14
Agenda:

1. Discuss the final landing page design
2. Clarify the next steps from the landing page to the Search Page, user flow
3. Copywriting (action item from last meeting) - Product managers to own it
4. Authentication Requirements (action item from last meeting)
5. CMS requirements, meeting with Bonnie
6. Project Board updates

[2021-09-14 19:37] patula006 commented on #16
Sounds good. Gillian will attend as the UX Researcher rep tonight. I did work on the hero image / landing page wording. Would love your feedback:
Hello from CivicTechJobs where all are welcome to help create civic impact that matters! We bring together civic-minded volunteers such as YOU to help build digital products, programs, and services. Thanks to the power of our volunteers, we are able to p

[2021-09-14 23:03] graceerya commented on #22
Here is a hero image for the Hack for LA website I made based on illustrations that we are also considering using for the CTJ page. This illustration is free to use with attribution.
![NEW-civictechjobs-heroimage-doodle-mint](https://user-images.githubusercontent.com/64109227/133344958-b8981eb2-dd28-43f4-a7f8-b6fbbfca7662.png)

[2021-09-14 23:16] graceerya commented on #22
Here is a new hero image for the Hack for LA website I made; the illustration is one that we are also considering using for the hero image on the CTJ website. It is free to use with attribution. (There are three other illustrations we are brainstorming for the CTJ website hero image which could also be used for this hero image.) ![NEW-civictechjobs-heroimage-doodle-mint](https://user-images.github

[2021-09-14 23:57] sharadgaurav7 opened #34 "Content Management System Requirements"
### Overview
Gather requirements for the Content Management System (CMS) so that the team can understand the scope of work needed to create the system.

### Action Items

- [x] Set up meeting with Bonnie
- [x] Record the meeting and upload it in the civictechjobs google drive
- [x] Create a CMS requirements document and share with the team

[2021-09-15 00:32] Aveline-art commented on #13
To add to schema: some way to note whether or not a certain meeting is required or recommended for the indicated role

[2021-09-15 00:34] jenchuu commented on #22
Adding another hero image option. Free with attribution:
<a href='https://www.freepik.com/vectors/business'>Business vector created by freepik - www.freepik.com</a>

![CivicTechJobs hero image](https://user-images.githubusercontent.com/88695763/133351498-28db72f0-51e3-4519-a555-a9d73c5dc662.png)

[2021-09-15 00:51] #32 closed

[2021-09-15 03:08] Aveline-art commented on #26
Closed because discussion is done, and we are ready to set up the development environment.

[2021-09-15 03:08] #26 closed

[2021-09-19 22:03] ExperimentsInHonesty opened #35 "Survey all the teams in order to build an effective data model"
### Overview
We need accurate information about each team's meetings so that we can design a system that will allow potential volunteers to filter the roles by teams that meet when its convenient for them.

### Action Items
- [ ] Create a template
   - [x] Draft template (https://github.com/hackforla/CivicTechJobs/issues/35#issuecomment-922543834)
   - [x] Add label for template (feature: project

[2021-09-19 22:03] ExperimentsInHonesty commented on #35
[code]
### Resources
URL of the project's homepage on the HfLA website:  [INSERT PROJECT URL HERE]
Times that VRMS shows for your meetings: [INSERT PROJECT MEETING TIMES]

[2021-09-20 00:33] sdimran opened #36 "Gather missing information for ticket to add Civic Tech jobs to HackforLA website"
### Dependency
- #~49~
- #~18~

### Not dependent, but highly recommended
If there is info that is not correct on this page, it will waste new volunteer time.  Its not hard to fill out the basic wiki, just get it done.
- #19

### Overview
we need to gather additional information to complete the issue to add civic tech jobs to the hackforLA website so that there is more visibility for the project a

[2021-09-20 02:36] ExperimentsInHonesty commented on #16
9/19/21

Attendees: @sharadgaurav7 @ExperimentsInHonesty Danish

[Recording and transcript folder](https://drive.google.com/drive/folders/1Qw6AnAlV2J8y5bQg2AmJAS6iaX381HVS?usp=sharing)

[2021-09-20 02:48] ExperimentsInHonesty commented on #16
9/21/21

At the team meeting please document the details of the UI/UX team meeting so that it can be added to the hackforla.org website
- [ ] day
   - [ ] start_time
      - [ ] AM
      - [ ] PM
   - [ ] duration_in_min
   - [ ] name_of_meeting
   - [ ] who_must_attend
      - [ ] pm
      - [ ] all_leads
      - [ ] design_lead
      - [ ] research_lead
      - [ ] frontend lead
      - [ ] data

[2021-09-21 21:26] arghmatey commented on #21
Discussed both options of code architecture, and have decided above stated option 1 will suit our site needs.

[2021-09-21 21:26] #21 closed

[2021-09-21 23:32] sdimran commented on #36
Reviewed and reworked One sheet blurb to better align with the current product vision and MVP. will be realigning with Sharad this week to iron out details before review

[2021-09-22 00:41] sdimran opened #37 "CoP Descriptions for landing page MVP"
We need to collect or create CoP descriptions to include under the landing page so that users who come to civictechjobs.org can get additional information about what we offer

[2021-09-22 01:17] patula006 commented on #33
I can work on the welcoming blurb/copy for hero section of landing page.

[2021-09-23 15:11] Hanastevenson commented on #35
The Design Systems team have added their meeting times and completed their [Issue](https://github.com/hackforla/design-systems/issues/105).

Design Systems Weekly meeting. Monday 6:30pm, 1 hour
Design Systems UX/UI meeting.Tuesday 6:30pm 1 hour
Design Systems UX Research meeting. Tuesday 11am 1 hour

[2021-09-24 02:39] gigicobos commented on #35
Food Oasis done: https://github.com/hackforla/food-oasis/issues/1034

[2021-09-25 02:50] PLoiya commented on #35
GreenEarthOS updated their details : https://github.com/hackforla/GreenEarthOS/issues/77#issue-1005890743

[2021-09-26 23:32] sharadgaurav7 opened #38 "Document Civic Tech Jobs team meeting times and who Must/Should/Can attendMeeting times for different teams"
### Overview
We need accurate information about all team's meetings so that we can design a system that will allow potential volunteers to filter the roles by teams that meet when its convenient for them.

### Action Items
- [x] provide details about the each meeting in a comment by using a copy of the check boxes below
- [x] post a link to this issue on Survey all the teams in order to build an e

[2021-09-26 23:34] sharadgaurav7 commented on #38
- [ x] day
   - [x ] start_time
      - [ ] AM
      - [ x] PM
   - [ x] duration_in_min: 60
   - [ x] name_of_meeting: All Team Meeting
   - [ x] who_must_attend
      - [ x] pm
      - [ x] all_leads
      - [ ] design_lead
      - [ ] research_lead
      - [ ] frontend lead
      - [ ] data_science_lead
      - [ ] design
      - [ ] research
      - [ ] frontend
      - [ ] data_science

[2021-09-26 23:42] sharadgaurav7 commented on #38
- [ ] day: Tuesday
   - [ ] start_time: 5PM PDT
      - [ ] AM
      - [ ] PM
   - [ ] duration_in_min: 60
   - [ ] name_of_meeting: UI/UX Meeting
   - [ ] who_must_attend
      - [ ] pm
      - [ ] all_leads
      - [ ] design_lead
      - [ ] research_lead
      - [ ] frontend lead
      - [ ] data_science_lead
      - [ ] design
      - [ ] research
      - [ ] frontend
      - [ ] backend

[2021-09-26 23:46] sharadgaurav7 commented on #38
- [ ] day: Sunday
   - [ ] start_time: 4PM, PDT
      - [ ] AM
      - [ ] PM
   - [ ] duration_in_min: 60 min
   - [ ] name_of_meeting: Product Managers Meeting
   - [ ] who_must_attend
      - [ ] pm
      - [ ] all_leads
      - [ ] design_lead
      - [ ] research_lead
      - [ ] frontend lead
      - [ ] data_science_lead
      - [ ] design
      - [ ] research
      - [ ] frontend
      - [

[2021-09-26 23:48] sharadgaurav7 commented on #35
All meeting details of the Civic Tech Jobs teams: https://github.com/hackforla/CivicTechJobs/issues/38

[2021-09-28 03:01] sdimran commented on #36
https://drive.google.com/file/d/17nWwqWpc4wA5atUMfN_EtJ6SUUwX_oar/view?usp=sharing

Link to the CTJ logo 600x400

[2021-09-28 03:04] sdimran commented on #36
Blurb about CTJ (taken from one sheet)

The goal of CivicTechJobs is to give technology practitioners interested in having civic impact the tools and opportunity to find jobs or volunteer opportunities from a central hub of listings. The first phase of the project will focus on providing the potential volunteers a platform to find a project at HackforLA, connecting ambitious and like minded indivi

[2021-09-28 03:17] sdimran commented on #16
09/28/21

Participants:

Agenda:
Hero image Discussion
Roadmap and timelines
Project Board updates

Meeting Notes:

Action item:

[2021-09-28 18:17] ExperimentsInHonesty commented on #35
311 has completed https://github.com/hackforla/311-data/issues/1129

[2021-09-28 23:39] Aveline-art commented on #13
* Progress: Working with stakeholder to create MVP requirements for VRMS team.
* Blockers: finding a scheduled time to complete requirements
* Availability: unknown
* ETA: unknown

[2021-09-29 00:15] patula006 commented on #33
Working version - feedback welcome!

Hello from CivicTechJobs where all are welcome to help create civic impact that matters! We bring together civic-minded volunteers such as YOU to help build digital products, programs, and services. Thanks to the power of our volunteers, we are able to partner with local communities and governments to address a range of issues in the Los Angeles region and beyo

[2021-09-29 00:28] sdimran commented on #22
https://docs.google.com/forms/d/e/1FAIpQLSeNgEtFt63FWJaClnkjbbUnYO8lEhO69J-IDAvxOfZgAQJYGg/viewform

[2021-09-29 00:57] Aveline-art commented on #33
Hi @patula006, the wording on [the blurb](https://github.com/hackforla/CivicTechJobs/issues/33#issuecomment-929715792), especially the last sentence, feel a little clunky. I am wondering if we can split or recombine the sentences/phrases so that we can get a greater impact?

[2021-09-29 05:28] Aveline-art commented on #22
Here are how the images appear on the website with their current dimensions.

<details>
<summary>Title</summary>
<br>
<img src="https://user-images.githubusercontent.com/62368440/135208514-86e2d6b9-bcd9-4478-91c4-5d5a36b2f43e.png" width="600" length="300" />
<br>
</details>

<details>
<summary>Title</summary>
<br>
<img src="https://user-images.githubusercontent.com/62368440/135208523-9bcca1db-303f

[2021-09-29 16:50] patula006 commented on #33
**Thank you, Ava! Updated blurb for feedback:**
Hello from CivicTechJobs where all are welcome to help create civic impact that matters! We bring together civic-minded volunteers such as YOU to help build digital products, programs, and services for local communities and governments. Thanks to the power of our volunteers, we can positively impact the Los Angeles region and beyond.

[2021-09-29 18:26] sdimran commented on #33
@patula006, please see below for an extract from our one sheet which outlines the goal and vision of Civic Tech Jobs, specifically the bolded section. can we incorporate some of the items from below into your updated blurb? let me know if you have any thoughts or feedback around it!

The goal of CivicTechJobs is to give technology practitioners interested in having civic impact the tools and oppor

[2021-09-29 18:29] sharadgaurav7 commented on #33
@sdimran , we should not include the write up from the one sheet, please. The audience is different for the landing page.

[2021-09-29 18:35] sdimran commented on #22
Thank you @Aveline-art  for these mock ups! @sharadgaurav7  please take a look at the rendered images above for the hero image on the hackforLA site

[2021-09-29 20:28] patula006 commented on #33
Thank you ... to confirm - this working version (still open to feedback) is ok?
Thanks for letting me know if I should use the sheet or not. Patty

_Hello from CivicTechJobs where all are welcome to help create civic impact that matters! We bring together civic-minded volunteers such as YOU to help build digital products, programs, and services for local communities and governments. Thanks to the

[2021-09-30 00:48] jonarcisse commented on #35
Open Community Survey has completed meeting details: https://github.com/hackforla/open-community-survey/issues/45

[2021-10-01 02:40] drubgrubby commented on #35
VRMS complete: https://github.com/hackforla/VRMS/issues/768

[2021-10-01 04:31] kcoronel commented on #35
BallotNav complete: [hackforla/ballotnav/issues/436#](https://github.com/hackforla/ballotnav/issues/436#issue-1005853156)

[2021-10-01 20:17] Aveline-art opened #39 "CTJ: DEV TEAM Meeting Agenda Tuesday 🏖️"
### Overview

This issue tracks the agenda for the CivicTechJobs team and weekly roll call.

### Action Items

- [ ] Designate a note taker
- [ ] Make announcements
- [ ] Do below agenda items

### Weekly Agenda Markdown

[code]

<details>
<summary>Example Agenda</summary>
<h3> Agenda for November 9, 3012* </h3>

- [ ] Discuss when to have a meeting about making origami </input>
- [ ] Get feedback

[2021-10-01 20:20] Aveline-art commented on #39
### Agenda for October 05, 2021

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Pair program to set up docker, django, and react backend

[2021-10-02 23:30] sdimran commented on #22
@graceerya is it possible to get a mockup of this image with the same color scheme as the CivicTechJobs logo that was decided? one feedback that I would have is if we can include some imagery around "technology" similar to what we have in the second mockup with a woman holding a laptop. let me know your thoughts!

[2021-10-05 02:25] simzou commented on #35
Lucky  Parking: https://github.com/hackforla/lucky-parking/issues/303#issuecomment-934005485

[2021-10-05 18:21] patula006 commented on #37
It's a bit slow going trying to get feedback on the COP descriptions. Here are the ones that I've been able to complete so far (engineering and UI/UX). Feedback welcome! Thank you, Patty

The Engineering Community of Practice (COP) is a space for developers to share effective practices and set development standards and give and receive mentorship. Recent projects include career advancement strateg

[2021-10-05 18:29] patula006 commented on #37
whoops - UI/UX

The User Interface / User Experience (UI/UX) Community of Practice (COP) is a space for UI and UX designers and research professionals to share effective practices, and give and receive mentorship, set design and research standards, and to create guides for new projects. Recent projects include testing the interface of a new transportation management portal for the City of Los Ange

[2021-10-05 23:57] jenchuu commented on #22
@sdimran
That is an older version of the illustration with less diversity. Please see the updated illustration in the link below (Option A). Would you like us to update this illustration with the CTJ color palette? Also I see there is a laptop on the top right (next to the woman's head). Does that work? Or we can make it larger/emphasize it.. let us know!

https://docs.google.com/forms/d/1T_byAc_Q

[2021-10-06 16:40] Aveline-art opened #40 "Next Steps after VRMS model completion"
### Dependency

- [ ] #13
- [ ] hackforla/vrms#761
- [ ] hackforla/vrms#765

Note for VRMS team: Release a dependency means that once all the issues you see above are closed, this issue can move from the "Ice Box" to "Prioritized Backlog". If not all of them are closed yet, check off the issues that are closed.

### Overview

As a developer, we need to always update our technologies for better int

[2021-10-11 19:13] sdimran commented on #22
Hi @jenchuu , my apologies for the late response, my travel was delayed and just got back last night. yeah please can we update this option with the CTJ color palette to see what it would look like? also agree with your point to emphasize the laptop above the woman's head to make it more apparent.  @sharadgaurav7  if you have any additional feedback please let us know.

Thanks again!

[2021-10-11 19:19] sdimran commented on #37
Looks good @patula006 ! Please let me know which CoP's you have yet to get a response from and I can follow up with the leads. if there are further difficulties we can engage Bonnie

[2021-10-12 23:54] #16 closed

[2021-10-13 01:10] sdimran commented on #16
10/12/21

Participants: @sdimran @Aveline-art @patula006 @ihorng @jenchuu

Agenda:

	- Hero image final decision and results tally
	- CoP descriptions discussion with Patty
	- Blurb for landing page
	- Search page updates?
	- Updates from developers on back end setup

Meeting notes

	- Hero image. Option 1A, with laptop in the center will be the final option, Danish will update ticket #36 once her

[2021-10-13 17:47] ihorng opened #41 "Usability Test for Landing Page"
### Overview
We need to conduct a usability test for the landing page so that we can receive feedback from the volunteers' if the design aligns with their mental model.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clea

[2021-10-13 18:18] ExperimentsInHonesty commented on #16
I need to add an item for discussion to the agenda
https://github.com/hackforla/UI-UX/issues/161#issuecomment-942588641

[2021-10-16 15:10] ExperimentsInHonesty commented on #35
Open Community Survey complete https://github.com/hackforla/open-community-survey/issues/45

[2021-10-18 01:45] kcoronel commented on #35
please note edit for BallotNav. meeting time changed from 5pm to 6pm.

[2021-10-18 18:30] patula006 commented on #33
Thanks, Jen!

[2021-10-20 02:01] arghmatey commented on #39
### Notes for October 19, 2021

- Pair programming React into our Django project. Configured Babel and Webpack.
- Discussed further configuration for Django calling onto React frontend. Script tag in Django template / or / through project urls.
- Agreed upon OnePassword being used as "secret collector", using a vault to keep sensitive information in.

[2021-10-27 02:07] jenchuu opened #42 "Preference Test - Landing Page Design Options"
We need to conduct a preference test for the landing page to choose one of the three final designs. Once we have the final visual design chosen, we can proceed to usability testing different copy length versions.

### Action Items:
- [x] write up a research plan
- [x] create preference test w/ questions at the end
- [x] create 3 different versions of the survey
- [x] randomize the survey version t

[2021-10-31 22:23] ExperimentsInHonesty commented on #16
This must be finished.  Right now it is only a rough draft.  Please add to top of agenda https://github.com/hackforla/CivicTechJobs/issues/18

[2021-10-31 22:26] ExperimentsInHonesty commented on #36
@sdimran @sharadgaurav7  Remaining task items are

- [ ] edit down this paragraph so that it makes sense on the hackforla website

- [ ] finish one sheet

[2021-11-02 00:21] sharadgaurav7 commented on #18
@ExperimentsInHonesty Can you please review this One Sheet:
https://docs.google.com/document/d/1UEbLCswciCrTf5K2nZHxnfNNT7hFOlb3mnfmNfLMgI4/edit#

[2021-11-02 00:24] sdimran commented on #36
Please see below for the edited down paragraph for the hackforLA website:

The goal of CivicTechJobs is to give technology practitioners interested in having civic impact the tools and opportunity to find jobs or volunteer opportunities from a central hub of listings. We want to provide a platform where ambitious volunteers can be connected with project teams to develop and refine their skillset i

[2021-11-02 00:35] sdimran commented on #16
11/02/2021

Participants:

Agenda:
Confirm Civictechjobs gmail account details with @ExperimentsInHonesty
Updates regarding testing of landing page options
Go through project board

Meeting Notes:

[2021-11-02 18:04] stephaniestahlberg commented on #42
We have created a [Research Plan](https://docs.google.com/document/d/1X2YkfzSYeDZM5wKx58yxUnv3CNG94KfV2HgRpZPgZx8/edit#) for testing the different versions of the new webpage, and a [Google Form](https://docs.google.com/forms/d/e/1FAIpQLScSTXKbJy425-kSCaylG8n49TpN9bxUECRSwWke9tfQRnHqSA/viewform) to conduct the preference testing. We will discuss at the next meeting, and why preference testing inst

[2021-11-03 01:54] jenchuu commented on #42
@ExperimentsInHonesty We need feedback and would like to post to the General channel on Slack hopefully by tomorrow. Please advise if ok?  @Aveline-art kindly agreed to help us create a randomized link to the Google form. We'll send once it's ready.

[2021-11-03 03:32] stephaniestahlberg commented on #42
3 versions of the Google Form, so that 1/3 of participants see [version A first](https://docs.google.com/forms/d/e/1FAIpQLScSTXKbJy425-kSCaylG8n49TpN9bxUECRSwWke9tfQRnHqSA/viewform), 1/3 see [version B first](https://docs.google.com/forms/d/e/1FAIpQLScPR4yOxnYtk9pxA9nA0IQdYxqHgAcCoS1O6gT536eOA1rytw/viewform), and 1/3 see [version C](https://docs.google.com/forms/d/e/1FAIpQLSeldvsdfAZU1BViLBR1su7_u

[2021-11-03 04:44] Aveline-art commented on #42
@stephaniestahlberg This is the link to the random redirect: aveline-art.github.io/civic-tech-jobs-survey

One note: The randomizer does not guarantee that sample sizes will remain the same for each survey. As an example: for the number of responses for survey A/B/C, it is possible to get a 10/10/10 response distribution as is 10/16/4 (although the chances of this is very low). I hope that is fine

[2021-11-03 15:54] patula006 commented on #42
Thank you, Ava. The sample size differences (if that happens) is fine.
Stephanie's suggested wording for the post in the General channel is great:  "Hi! We are designing a new webpage for the volunteer roles board and would really appreciate your feedback. Please take our quick 1-minute survey by clicking [here](https://aveline-art.github.io/civic-tech-jobs-survey)."

[2021-11-07 23:51] sharadgaurav7 opened #43 "Roadmap to Landing Page (Initial)"
### Overview

We need to define and list out tasks and dependencies to complete the MVP so that we can identify issues to make and that the team can understand the definition of done for the landing page MVP and follow up on the progress.

MVP: Fully developed front landing page with a clickable link to join Hack for LA in order to be eligible to see the list of open volunteer opportunities.  The

[2021-11-08 00:23] sharadgaurav7 commented on #16
11/09/2021

Participants:

Agenda:
Confirm Civictechjobs gmail account details with @ExperimentsInHonesty
Updates regarding testing of landing page options (preference test and usability test) - Usability Hub
Any notes from the developer meeting - roadblocks?
Discuss the Roadmap to MVP (#43)
Go through the project board

[2021-11-10 00:55] patula006 commented on #42
[HfLA UX Research Volunteer Boards Page.pptx](https://github.com/hackforla/CivicTechJobs/files/7508977/HfLA.UX.Research.Volunteer.Boards.Page.pptx)

[2021-11-10 02:28] Aveline-art commented on #25
1. How long would it take to get this out and usable by other teams?
2. Will you be storing every piece of information we need, including job postings and other assets that are ONLY used by the CTJ project?
3. How will images we stored and retrieved?

[2021-11-10 02:42] #30 closed

[2021-11-10 02:42] #29 closed

[2021-11-10 02:42] #31 closed

[2021-11-10 02:54] jenchuu commented on #42
Based on chosen landing page design, below are different copy length options:

![Landing page options (copy lengths)](https://user-images.githubusercontent.com/88695763/141041007-89cac656-a76f-473f-bb0a-329ff978231b.png)

[2021-11-10 02:55] jenchuu commented on #42
Based on our meeting discussion, this is the chosen landing page (mobile version to follow):
<img width="1446" alt="Chosen landing page design" src="https://user-images.githubusercontent.com/88695763/141041162-190e8a0f-40ec-45f5-986a-592bc4a4b06f.png">

[2021-11-10 02:56] #42 closed

[2021-11-10 02:58] #37 closed

[2021-11-10 02:59] #22 closed

[2021-11-10 02:59] #33 closed

[2021-11-10 03:00] #10 closed

[2021-11-10 03:00] #17 closed

[2021-11-10 03:42] jenchuu opened #44 "Mobile version of Landing Page"
### Overview

As a designer we need to ensure the website is responsive and designed for the most used devices ex. desktop, mobile, etc.
We need a mobile design version of the landing page.

### Action Items

- [x] Decide on device frame size: 375 x 812
- [x] Design mobile version
- [x] Figure out best breakpoints between devices

### Resources/Instructions

Link to design page in file:
https://ww

[2021-11-10 05:31] jenchuu opened #45 "Create Design System"
### Dependency

- [x] #168
- [x] #170
- [x] #172

### Overview

As a designer, we need a design system to lay out standards and share with the dev team so they can build the website. We need to start creating components with states.

### Action Items

- [x] Create components and states
- [x] Discuss with dev team
- [x] Figure out best breakpoints
- [x] Discuss design system framework & best practi

[2021-11-15 00:15] sdimran commented on #41
@jenchuu can we close this ticket? I believe we have completed the usability testing for the landing page as of last week. please let me know!

[2021-11-15 00:26] sharadgaurav7 commented on #16
11/16/2021

Participants:

Agenda:
Design of the Pop-up for CoP on the landing page
Discuss the Roadmap to MVP (#43)
Any other roadblocks?
Go through the project board

[2021-11-16 01:05] sdimran opened #46 "North start metrics and success indicators for MVP"
we need to define our north star metric as well as KPI's for MVP so that we understand how these factors will affect our next steps of the product

[2021-11-16 16:27] Aveline-art commented on #39
### Agenda for November 16, 2021

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Meet with @sharadgaurav7 and @sdimran to discuss our MVP requirements and decide whether we need a backend at all

[2021-11-16 21:12] ExperimentsInHonesty commented on #13
projectname | Char/String
projectDescription | String
githubOrgId: number (8 characters)
githubPrimaryRepo: number (9 characters)
githubUrl:
projectStatus: String (Active, OnHold, Completed, Closed)
Hide: Boolean
location: string
dreatedDate:
statusChange: Array with strings  example [date-onhold, date-hidden]
slackUrl | URLString
googleDriveUrl
googleDriveId
hflaWebsiteUrl:
partners:
programAreas

[2021-11-16 23:58] ExperimentsInHonesty commented on #13
### Recurring Events Schema
projectId: (number see Project Table)
name: String
location: String
type: String (team meeting, onboarding, special event)
brigadeId: number
dayOfWeek: String
days of month ????
startTime:
DurationInMin: Number
dateCreated:
dateLastUpdated:
videoConferenceUrl: URL String
mustRoles:  Array of Role Ids (see Roles Table)
shouldRoles : Array of Role Ids (see Roles Table)
co

[2021-11-17 00:30] jenchuu commented on #44
**Suggested responsive design breakpoints:**
576px for portrait phones
768px for tablets
992px for larger tablets
1200px for laptops
1440px for desktops
1920px for high-res laptops or desktops

[2021-11-17 00:32] jenchuu commented on #45
Started design system:

https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=1%3A2

<img width="357" alt="CTJ design system" src="https://user-images.githubusercontent.com/88695763/142087867-177b8c20-329b-4c72-9087-c530a96f2722.png">

[2021-11-17 21:31] ExperimentsInHonesty commented on #13
Seeker
nameFirst:  String
nameLast: String
email: String (email validation)

Password | Hashed String
Slack Handle | String
Availability | String (?)
Role | Role (see above)
TimeZone | TimeZoneObj

Poster
Email | String
Password | Hashed String
Slack Handle | String
Project | Projects (see above)

Association table (join table)
1 record for every permission granted example
Bonnie is on 10 teams, s

[2021-11-17 22:28] ExperimentsInHonesty commented on #13
Tables that still need to be worked on
Checkins
Events
Roles
Questions

Review the vrms 0.4 schema

[2021-11-18 17:14] ExperimentsInHonesty commented on #13
![Meeting Times](https://user-images.githubusercontent.com/37763229/142457609-e72eebdb-a66a-454a-90f0-5012bf7c9e6d.png)

[2021-11-18 21:58] ExperimentsInHonesty commented on #13
![Meeting Times](https://user-images.githubusercontent.com/37763229/142457609-e72eebdb-a66a-454a-90f0-5012bf7c9e6d.png)

[2021-11-19 17:10] ExperimentsInHonesty commented on #13
Roles

users of role data
- hackforla.org
  - https://www.hackforla.org/projects/100-automations (Current Team)
  - https://www.hackforla.org/communities-of-practice

[2021-11-19 18:01] drubgrubby commented on #13
Not Included from VRMS:

### User table:

V3
  accessLevel: { type: String, default: "user" } // We're making a join table
newMember: { type: Boolean },
attendanceReason: { type: String },
projects: // Creating join table
managedProjects: // This will be in join table

v4
LocationZone
ActiveStatus
IsAdmin

[2021-11-29 22:27] Aveline-art commented on #13
https://lucid.app/publicSegments/view/7531ed46-77d2-4b91-a09c-b18f9f210980/image.png

[2021-11-29 23:07] Aveline-art commented on #39
### Agenda for November 30, 2021

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Review [the data provided by the peopleDepot team](https://github.com/hackforla/CivicTechJobs/issues/13#issuecomment-982081532)
  - [ ] Based on that, create API wishlists, basically what is the input we give, and what output of data do we expect
  - [ ] Write the wishlists in a new issue [her

[2021-12-01 00:32] sdimran commented on #16
11/30/2021

Participants:

Agenda:
Updates on Landing Page from Developers (Blockers, Questions)
Updates on Search Page from UI/UX and Research (Blockers, Questions)
Updates on roadmap and project board from Product

Meeting notes:

[2021-12-01 00:54] #44 closed

[2021-12-01 01:08] jenchuu commented on #45
Let me know if these breakpoints will work? @Aveline-art and Sarah (not sure what her @ is)
576px =< for mobile phones
577px-768px for tablets
769px-1024px for small screens, laptops
1025px-1200px for desktops, large screens
1201px => X-Large screens, TVs

[2021-12-01 01:12] Aveline-art commented on #5
Closed because it is no longer relevant

[2021-12-01 01:12] #5 closed

[2021-12-01 01:14] Aveline-art commented on #9
Closed because done

[2021-12-01 01:14] #9 closed

[2021-12-01 01:19] Aveline-art opened #47 "Landing Page: Parsing Figma Design into a development roadmap"
### Overview

As a developer, we need to have a roadmap for how to implement a new page. For this issue we will examine the design of the landing page, and figure out how to create this page in an organized way so that we make sure the code is as reusable as possible.

### Action Items

- [x] Create one issue per component on the page, if the component is not already created
  - [x] Beyond some fu

[2021-12-01 01:37] Aveline-art opened #48 "Draft a Proposal and create documentation for the Front End Architecture"
### Dependency

- [x] #25

### Overview
As a developer, we need to agree on an organized architecture so that files are easy to find and edit. For this issue, we will draft a proposal for the Frontend, which houses our components, pages, and associated code, before creating documentation on our wiki for it.

### Action Items
- [x] Draft a tentative proposal to prepare for the landing page
- [x] Th

[2021-12-01 01:42] Aveline-art opened #49 "Create a CONTRIBUTING.md file"
### Dependency

- [x] #25

### Overview
As a developer, we need to give guidance to future developers on how to set up their environment and contribute to our project. For this issue, we will write a contributing.md file for developers.

### Action Items

- [x] If it does not already exist, create a file called contributing.md in the root directory
- [x] In this file, write out steps to set up the

[2021-12-01 02:54] Aveline-art commented on #13
# API calls

## GET

### Project data
Input: project id
Output: project name, project description, logo, hero image, icon

Questions
1. When someone wants to know more information about a project, where should a link lead them to? Slack, GitHub Repo, GH read me, or the website?
2. If we want to display communities of practice information, how will we be able to tell the difference between a CoP an

[2021-12-01 16:38] Aveline-art commented on #40
Moved to peoplesDepot#2

[2021-12-01 16:38] #40 closed

[2021-12-01 17:42] Aveline-art commented on #47
### Notes on components

- [ ] Responsiveness
- [ ] Reusable -- should this be its own react component?

### Components

- [ ] Header navigation
  - [ ] Must condense into hamburger menu at breakpoints (figma does not show how menu looks like, so let's leave have it do an alert on click)
- [ ] Buttons (sky blue, dark blue)
  - [ ] Have a version for <a> tags and for <button> tags, since some butto

[2021-12-02 01:10] Aveline-art opened #50 "Improvements to Webpack Config"
### Dependency

- [x] #25

### Overview

As a developer, we need to create an environment that will ease development as well as provide users a seamless experience when using our website. For this issue we will configure webpack with several improvements that will improve the overall quality of our project.

### Action Items

- [ ] Change webpack config to have the follow improvements. If they alr

[2021-12-04 18:55] Aveline-art commented on #39
### Agenda for December 07, 2021

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Discuss the parsing of issues outline [here](https://github.com/hackforla/CivicTechJobs/issues/47#issuecomment-983877110)
- [ ] Discuss whether there needs to be more issues for other components outside of the landing page
- [ ] Discuss the architecture for the frontend app

[2021-12-05 20:45] ExperimentsInHonesty opened #51 "Weekly Audit of labels and milestones"
### Overview
We need to perform a weekly check on issues to make sure they all conform to our label and milestone schema.

### Action Items
- [ ] Check the following to make sure that they are all 0/0 (Links for checking to make sure that all issues either have a ___ or a ____ missing label)
   - [ ] [Role](https://github.com/hackforla/internship/issues?q=is%3Aissue+-label%3A%22role%3A+UI%2FUX+res

[2021-12-05 20:46] #3 closed

[2021-12-05 22:35] sdimran commented on #51
added links for Role and size in both lists, once feature labels and milestones are correctly defined they will be added as well

[2021-12-06 18:10] Aveline-art commented on #45
Hi @jenchuu ! I just reviewed the Figma and tried making a demo of the navbar. For the most part the breakpoints are fine, but one oddity I noticed is that the Figma designs are 1440px by width (x-large screens). Do you have any opinions on how the padding to the left of the logo, and the padding to the right of the button to scale as the screen size shrinks from X-large to desktops? If not, can w

[2021-12-07 01:52] sharadgaurav7 opened #52 "Search Page Design"
### Overview

As a potential volunteer I should be able to search for open volunteer positions at hackforla so that I can find the right match for my interest and aspirations.

### Action Items

- [x] Create self-filter (qualifier page)
- [x] Create UX/UI design for the search page
- [x] Search page to have other filters for Project, Program Area, and technologies
- [ ] Usability testing to valida

[2021-12-07 02:05] sharadgaurav7 opened #53 "Content Management System"
### Dependency

- [ ] Add individual issues created by Ux/UI, research, and developer team

### Overview

As a Product Manager, or a Team Lead I should be able to post open volunteer positions within my project through a system so that I'm able to include all the necessary information that a volunteer position seeker needs to know to join the project.

### Action Items

- [ ] Wireframe of the syst

[2021-12-07 02:17] sharadgaurav7 commented on #16
12/7/2021

Agenda:
Discuss the Roadmap to MVP (#43)
Update from Developers on Landing Page
Go through the project board - Discuss new issues created
Weekly audit of labels, and milestones (#51) - We will discuss about new labels being created
Discuss new Column "Issues for approval" and how Ice Box should be used for issues with dependencies.

[2021-12-07 02:36] Aveline-art opened #54 "Summarizing our project for official GitHub documentation"
### Overview
As a developer, I would like our documentation to succinctly and effectively summarize our project for new, potential developers. For this issue we will come up with a project summary for our read me and wiki.

### Action Items

- [x] Create an introduction to our project on our read me
- [x] Create an introduction to our project on our wiki homepage
- [x] Get approval from the team o

[2021-12-07 02:41] Aveline-art commented on #13
Closed because completed. Further work has been moved to hackforla/peopledepot#2

[2021-12-07 02:41] #13 closed

[2021-12-07 06:07] Aveline-art commented on #54
Questions:

1. Which role does this issue belong to?
2. What criteria do we have for an intro to our project?
3. Who needs to review the intro and approve it?

[2021-12-07 16:42] Aveline-art opened #55 "Configure team permissions for repository"
### Overview
As a lead developer, it would be nice to access a greater level of repo permissions to configure it according to developer needs. For this issue, we will discuss the levels of team permissions we have, and add members to each team accordingly.

### Action Items

- [x] Review the purpose of each team for this specific project
- [x] Discuss which team members belong in which team
- [x]

[2021-12-08 04:33] Aveline-art opened #56 "GitHub Actions: Automatically Add Issues to Project Board"
### Overview
As a developer, it would be optimal to automate parts of our workflow so mistakes are lessened. For this issue we will make an automation that automatically adds and sorts newly created issues to the ice box or new issue approval.

### Psudo-code

- [ ] When a new issue is opened:
  - [ ] Move it into the [Project Management ](https://github.com/hackforla/CivicTechJobs/projects) proje

[2021-12-08 04:39] Aveline-art opened #57 "GitHub Actions: Add missing labels on issue creation"
### Overview
As a developer, it would be optimal to automate parts of our workflow so mistakes are lessened. For this issue we will make an automation that adds the missing labels if one of 'role', 'feature/p-feature', or 'size' series are missing.

### Psudo-code

- [ ] When a new issue is created:
  - [ ] Read the labels that are on the issue:
  - [ ] If a 'role', 'feature/p-feature', or 'size'

[2021-12-09 03:12] Aveline-art opened #58 "Conslidate Important Links onto the Wiki"
### Overview
As a developer of CivicTechJobs, it would be useful for the team to have access to important documents. For this issue, we will consolidate links onto our wiki, so that they will be accessible and public.

### Action Items

- [x] Gather useful links that can be placed in the wiki
- [ ] Put those links on the wiki

### Resources/Instructions
[Wiki Homepage](https://github.com/hackforla

[2021-12-09 04:26] stephaniestahlberg commented on #58
[user flow diagram](https://docs.google.com/document/d/1ja1rfgEksPwH5-zaJdOas7SvZghC2NqjO7ePxsyxxFg/edit)
[research slide deck ](https://docs.google.com/presentation/d/1fJOK6-2YyMgLKfF4ZmJfR5YMUNic4hGn/edit#slide=id.p1)

[2021-12-09 17:20] jenchuu commented on #58
[https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=1%3A6](url)

[2021-12-09 18:17] jenchuu commented on #58
I saw Stephanie and Patty created a user flow for the qualifier page.
I created a task and user flow to help us see the overall process we want users to follow when entering CTJ site:
[Task and user flow](https://whimsical.com/ctj-task-and-user-flow-8GgB5Moy14fnQDv24o1fGC)

[2021-12-09 21:26] jenchuu commented on #45
Hi @Aveline-art , would these breakpoints be better?

**Option 1**
<576px for XS

[](https://getbootstrap.com/docs/5.0/layout/breakpoints/)

**Option 2**
688px< for mobile phones
688px-992px for tablets
993px-1312px for small laptops
1312> for desktops
[](https://coder-coder.com/media-query-breakpoints/)

[2021-12-09 21:38] jenchuu commented on #45
@Aveline-art We designed desktop for 1440px width since that is the standard desktop frame for Figma and also suggested by HfLA's design system!
Hmm I'm not too certain about padding. We designed it with 176px padding on the left and right (used 8pt system) so maybe scale by a multiple of 8? Please feel free to use your best judgment and expertise :)

[2021-12-10 00:41] Aveline-art commented on #45
@jenchuu There might have been some misunderstanding. I am perfectly fine with any breakpoints. From a development perspective, all I really need is to have an idea of where the breakpoints are so that we can work around it. You can feel free to set any points that you feel is best for you and your team.

That being said, if you have a hard time deciding, these points that you sent us previously w

[2021-12-10 10:00] arghmatey commented on #25
Initial environmental setup has been pushed to repo. Testing was completed prior and post upload.

Wiki needs to be updated with instructions for developers on setting up the project for the first time. Issues created for updating the wiki: #19, #54. Issue for developer specific documentation: #48.

[2021-12-10 17:49] Aveline-art commented on #25
Closed because the setup is completed

[2021-12-10 17:49] #25 closed

[2021-12-10 17:55] Aveline-art commented on #39
### Agenda for December 14, 2021

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Discuss architecture
  - [ ] Where do components go?
  - [ ] How do we subdivide css from js files?
  - [ ] Where do assets go?
  - [ ] Where do we combine components into a webpage?

[2021-12-10 18:05] Aveline-art opened #60 "Design System Component: Compound: Header Navigation"
### Dependency

- [x] #61
- [x] #66
- [x] #68

### Overview
As a developer, we should start with a component first philosophy when creating new webpages. For this issue we will be developing the header navigation of the Landing Page.

### Action Items

- [ ] Review the design for the header nav element in the landing page in the Figma page indicated below
- [ ] Be sure to review our architecture d

[2021-12-10 18:06] Aveline-art opened #61 "Design System Components: Buttons"
### Dependency

- [ ] Architecture Doc
- [ ] Colors

### Overview
As a developer, we should start with a component first philosophy when creating new webpages. For this issue we will be developing the buttons of the Landing Page.

### Action Items

- [ ] Review the design for the button element in the landing page in the Figma page indicated below
- [ ] Be sure to review our architecture documenta

[2021-12-10 18:11] Aveline-art opened #62 "Design System Component: Basic: Color Palette"
### Dependency

- [x] #48

### Overview
As a developer, we should start with a component first philosophy when creating new webpages. For this issue we will be developing the colors in our Design System.

### Action Items

- [x] Review the colors used in our design system in the Figma page indicated below
- [x] Be sure to review our architecture documentation to understand where to create and find

[2021-12-10 18:22] Aveline-art opened #63 "Design System Component: Basic: Typography"
### Dependency

- [x] #48

### Overview
As a developer, we should start with a component first philosophy when creating new webpages. For this issue we will be developing the title classes of the Landing Page.

### Action Items

- [ ] Review the design for different font sizes in the design system in the Figma page indicated below
- [ ] Be sure to review our architecture documentation to understan

[2021-12-10 18:27] Aveline-art opened #64 "Design System Component: Circle Buttons"
### Dependency

- [ ] #48
- [ ] #62

### Overview
As a developer, we should start with a component first philosophy when creating new webpages. For this issue we will be developing the circle buttons of the Landing Page.

### Action Items

- [ ] Review the design for the circle button element in the landing page in the Figma page indicated below (they are the circles containing the CoPs)
- [ ] Be

[2021-12-10 18:38] Aveline-art opened #65 "Design System Component: Compound: Footer Navigation"
### Dependency

- [x] #61
- [x] #66
- [x] #67
- [x] #68

### Overview
As a developer, we should start with a component first philosophy when creating new webpages. For this issue we will be developing the footer navigation of the Landing Page.

### Action Items

- [ ] Review the design for the footer navigation element in the landing page in the Figma page indicated below
- [ ] Be sure to review o

[2021-12-10 18:40] Aveline-art opened #66 "Design System Component: Element: Modal Cards"
### Dependency

- [x] #62
- [x] #63
- [x] #69
- [x] #70
- [x] #71
- [x] #72

### Overview
As a developer, we should start with a component first philosophy when creating new webpages. For this issue we will be developing the modals of the Landing Page.

### Action Items

- [ ] Review the design for the modal element in the landing page in the Figma page indicated below
- [ ] Be sure to review our

[2021-12-10 18:41] Aveline-art opened #67 "Design System Component: Element: Inner Modal Nav"
### Dependency

- [x] #62
- [x] #63
- [x] #69
- [x] #70
- [x] #71
- [x] #72

### Overview
As a developer, we should start with a component first philosophy when creating new webpages. For this issue we will be developing the navigation in the modal of the Landing Page.

### Action Items

- [x] Review the design for the navigation of the modal element in the landing page in the Figma page indicated

[2021-12-10 18:44] Aveline-art opened #68 "Design System Component: Element: Inner Modal Card"
### Dependency

- [x] #62
- [x] #63
- [x] #69
- [x] #70
- [x] #71
- [x] #72

### Overview
As a developer, we should start with a component first philosophy when creating new webpages. For this issue we will be developing the card inside of the modal of the Landing Page.

### Action Items

- [ ] Review the design for the card element inside of the modal element in the landing page in the Figma page

[2021-12-10 18:46] Aveline-art opened #69 "Design System Component: Basic: Text Alignment"
### Dependency

- [x] #48

### Overview
As a developer, we should start with a component first philosophy when creating new webpages. For this issue we will be developing the classes for text alignments for the Landing Page.

### Action Items

- [ ] Create a sass file with classes for different text alignments. The following is a short-list for alignments on the Landing Page, but you can feel free

[2021-12-10 18:48] Aveline-art opened #70 "Design System Component: Basic: Uploading Assets"
### Dependency

- [x] #48

### Overview
As a developer, we should start with a component first philosophy when creating new webpages. For this issue we upload the assets needed for various pages, such as the landing page, and components in our design system.

### Action Items

- [x] Upload all images, logos, and icons used in our design system. The follow is a shortlist, but there may be more, so

[2021-12-10 18:50] Aveline-art opened #71 "Design System Component: Basic: Responsive Breakpoints"
### Dependency

- [x] #48

### Overview
As a developer, we should start with a component first philosophy when creating new webpages. For this issue we will add the breakpoints as scss variables so that components can be built with responsiveness in mind.

### Action Items

- [x] Create scss variables for all breakpoints noted in the pink rectangle in the Landing Page of our Figma
- [x] Be sure to

[2021-12-10 18:52] Aveline-art opened #72 "Design System Component: Basic: Global Font"
### Dependency

- [x] #48

### Overview
As a developer, we should start with a component first philosophy when creating new webpages. For this issue we will add the font used for the Landing Page, and the project as a whole.

### Action Items

- [x] Find the font used for the Landing Page and download it via google fonts
- [x] Be sure to review our architecture documentation to understand where to

[2021-12-10 18:56] Aveline-art opened #73 "Landing Page: Top Portion"
### Dependency

- [x] #60

### Overview
As a developer, we need to combine our components into our product so that we can deliver to stakeholders! For this issue, we will create the top portion of the landing page.

### Action Items

- [ ] Review the top portion of the landing page (this is everything above the CoP circles but does not include the CoP circles)
- [ ] Create the top portion
  - [ ]

[2021-12-10 18:59] Aveline-art opened #74 "Landing Page: Bottom Portion"
### Dependency

- [x] #64
- [x] #65

### Overview
As a developer, we need to combine our components into our product so that we can deliver to stakeholders! For this issue, we will create the bottom portion of the landing page.

### Action Items

- [x] Review the bottom portion of the landing page (this is everything from the CoP circles and below, which includes the circles and the footer)
- [x]

[2021-12-10 19:02] Aveline-art commented on #47
Closed because all the issues have been made, namely #60 to #74 all pertains to the landing page.

[2021-12-10 19:02] #47 closed

[2021-12-10 19:16] Aveline-art commented on #47
### Planning Notes

- [ ] #60
- [ ] #61
- [ ] #62
- [ ] #63
- [ ] #64
- [ ] #65
- [ ] #66
- [ ] #67
- [ ] #68
- [ ] #69
- [ ] #70
- [ ] #71
- [ ] #72

[2021-12-11 00:43] #38 closed

[2021-12-11 00:43] #27 closed

[2021-12-11 05:27] Aveline-art opened #75 "Create documentation on Backend Architecture"
### Overview
As a developer, we need to make sure that documentation is kept so that future team members can understand how to contribute to this project. For this issue, we will write out our architecture for the back end.

### Action Items
- [x] Create a new wiki with an appropriate title
- [x] For each directory in the main directory, list out what the directory is for, and comment on how it co

[2021-12-11 21:10] ExperimentsInHonesty commented on #36
The CivicTechJobs.org MVP website will be a platform to help prospective volunteers find inter disciplinary projects that will be useful for their career development while contributing to positive civic impact and a CMS for projects to be able to list their project's open roles.

The tool will match volunteers by availability, role, and program area.  Future iterations of the platform will focus h

[2021-12-12 16:00] Aveline-art commented on #48
### Current directory structure
[code]
### Proposed directory structure
[code]

[2021-12-12 19:54] sdimran commented on #36
@ExperimentsInHonesty awesome

I had omitted any mention of future iterations as I thought it would align better for the HackforLA website but if it is okay to include then great! I am happy with this. @sharadgaurav7 ?

[2021-12-12 21:05] sharadgaurav7 commented on #55
@Aveline-art, Can you please create a role chart showing team level permission levels and share it with Bonnie for her approval.

[2021-12-14 01:00] jenchuu opened #76 "Task and User Flow"
### Overview

As a UX Designer, we need a clear understanding of users' journey while using Civic Tech Jobs' website.

Based on the latest requirements, we will create a **task flow** to define the linear high-level steps all users must complete to accomplish their task.
We will also create a **user flow** to illustrate the path our main user-type may take.

### Action Items

- [x] Task flow
- [x]

[2021-12-14 01:02] jenchuu commented on #76
[task and user flow](https://whimsical.com/ctj-task-and-user-flow-8GgB5Moy14fnQDv24o1fGC)

[2021-12-14 01:46] sharadgaurav7 commented on #76
@jenchuu , let's discuss the dependency "Requirement Changes" you have mentioned in the issue before moving this in the prioritized backlog.  Looks like this issue is nearly complete as you have already prepared the user flow

[2021-12-14 01:50] sharadgaurav7 commented on #58
@jenchuu, @stephaniestahlberg can we add the qualifier page user flow to the Task and user flow diagram? This way we can refer to just one document

[2021-12-14 01:54] sharadgaurav7 commented on #41
@jenchuu , can we close this issue? If we want to keep this issue active, we need to update action items.

[2021-12-14 01:54] sdimran commented on #16
12/14/2021

Participants:

Agenda:

- [ ] Discuss changes to roadmap (new milestones) and terminologies with team
- [ ] Clarify data depot teams database process with @Aveline-art
- [ ] Discuss consolidation of User flow diagrams with UX and Research
- [ ] review project board

Meeting Notes

Action Items

- [ ]

[2021-12-14 02:00] sharadgaurav7 commented on #36
@sdimran , I'm good with it.

[2021-12-14 04:08] jenchuu commented on #76
@sharadgaurav7 Sounds good; I unfortunately missed last weeks meeting so I put dependency as "requirement changes" in case there were any further changes to the Requirements that I missed. (I did check the updated Requirements google sheet)

[2021-12-14 04:24] graceerya opened #77 "Qualifier Page Design"
### Dependency

_No response_

### Overview

As a design team, we need to design a qualifier page to decrease a mismatch of volunteer skills to projects and therefore decrease the high turnover of volunteers.

### Action Items

- [ ] Design/create the best experience for a weekly availability scheduler by half hours.
- [ ] Create wireframes and annotate wireframes
- [ ] Present
- [ ] Decide and cr

[2021-12-14 19:32] jenchuu commented on #77
[Qualifier Page Wireframes - Figma](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=1%3A9)

[2021-12-15 00:00] sdimran commented on #54
Hi @Aveline-art, I made a few edits to the project description in the readme.md file in the main branch. added to the the project description as well as included a few links to the technology used. regarding the installation instructions, is there anything specific from a developers end that we need to include? I am not 100% sure if the information already there is the most up to date and in line

[2021-12-15 00:56] sdimran commented on #54
Below is the current introduction for action item 1 in this ticket

CivicTechJobs is a project of Hack for LA. CivicTechJobs helps technology practitioners interested in having civic impact to find job opportunities from a central hub of listings. The website's main features include a linklist to public interest job boards and other resources relevent to their focused journey to work on projects a

[2021-12-15 05:44] Aveline-art opened #78 "Research Viability and Implementation of Staging Website"
### Overview
As a developer, we need to ensure that our work is easy for the team to review and comment on. For this issue we will conduct all the work needed to create a staging version of our product.

### Action Items

- [x] Research uploading the website onto a host/server
  - [x] Also research ways to have the repo (this repo) selectively upload to the staging or production website
- [x] Crea

[2021-12-15 18:13] Aveline-art commented on #48
Wiki is completed here: https://github.com/hackforla/CivicTechJobs/wiki/Frontend-Architecture

[2021-12-15 18:13] #48 closed

[2021-12-15 18:27] Aveline-art opened #79 "Add GitHub to our Navigation"
### Dependency

- [x] #73
- [x] #74

### Overview

As a developer, nothing excites me more about a project than to see its GitHub repository. For this issue, we will make minor edits to our navigation to include a link to our repository, to attract more, potential open-source developers.

### Action Items

- [ ] Add a GitHub link or icon to our Figma design for our footer or header, whichever make

[2021-12-15 18:29] Aveline-art commented on #28
Questions:

1. Do we need to open an issue for adding GoogleAnalytics or some other similar piece of software to track visitor data?

[2021-12-15 18:56] jenchuu opened #80 "Navigation bar items for landing page"
### Overview

We need the navigation bar menu items and potentially a sitemap to give structure to CTJ's website.

### Action Items

- [ ] Figure out MVP's nav bar menu items

### Resources/Instructions

<img width="647" alt="CTJ Landing page nav bar menu items" src="https://user-images.githubusercontent.com/88695763/146247992-e6837bfb-58ea-4afd-b828-f37dc81743b4.png">

[2021-12-15 23:19] Aveline-art commented on #54
Putting this into 'New Issue Approval' because I am unsure where to place it in the prioritized backlog without a milestone.

[2021-12-16 01:15] sdimran commented on #43
https://github.com/hackforla/website/wiki/How-to-read-and-interpret-labels#feature-series

including this link for reference to assist in label creation and organization

[2021-12-16 01:22] sdimran commented on #54
Hi Ava, I think we can keep this under the Project Setup milestone as the documentation will act as a go-to resource for new joiners to understand what we are doing. let me know what you think

[2021-12-16 04:19] Aveline-art commented on #54
Hi @sdimran! I am not too sure what milestone it should be, since I don't know what exactly each milestone entails. You can decide whichever fits best based on what the project needs?

[2021-12-16 04:59] Aveline-art opened #82 "Test"
### Dependency

- [ ]

### Overview

test

### Action Items

- [ ] Item 1
- [ ] Item 2

### Resources/Instructions

test

[2021-12-16 05:01] #82 closed

[2021-12-16 05:32] #56 closed

[2021-12-16 05:32] Aveline-art opened #85 "test"
### Dependency

- [ ]

### Overview

dadsa

### Action Items

- [ ] Item 1
- [ ] Item 2

### Resources/Instructions

dsada

[2021-12-16 05:34] Aveline-art opened #86 "test"
### Dependency

- [ ]

### Overview

dads

### Action Items

- [ ] Item 1
- [ ] Item 2

### Resources/Instructions

adads

[2021-12-16 05:34] #85 closed

[2021-12-16 05:35] #86 closed

[2021-12-16 05:35] Aveline-art opened #87 "test"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-12-16 05:38] #87 closed

[2021-12-16 05:38] Aveline-art opened #88 "test"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-12-16 05:43] Aveline-art opened #89 "test"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-12-16 05:44] #88 closed

[2021-12-16 05:44] #89 closed

[2021-12-17 00:32] Aveline-art commented on #58
Closed because all resources have been compiled and listed in [this wiki](https://github.com/hackforla/CivicTechJobs/wiki/Resources).

[2021-12-17 00:32] #58 closed

[2021-12-17 01:44] Aveline-art opened #90 "test"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-12-17 01:46] #90 closed

[2021-12-17 01:49] Aveline-art opened #91 "test"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-12-17 01:49] #91 closed

[2021-12-17 02:23] Aveline-art opened #92 "Verify Source of GHA to assess repo safety"
### Overview
As a developer, we need to ensure the safety and integrity of our website. For this issue, we will examine the repository to locate the source of a mysterious GitHub Action workflow run.

### Action Items

- [ ] Discover the source of the mysterious workflow run
- [ ] Determine whether this constitutes a potential security leak in our repository
- [ ] Patch up security if necessary

#

[2021-12-19 06:42] Aveline-art opened #93 "Migrate Django to 4.0"
### Overview
As a developer, we need to make sure that our technologies are up to date so that it will not incur unanticipated costs in the future. For this issue, we will migrate our Django backend from 3.2 to 4.0 while the project is still relatively new.

### Action Items

- [x] Follow the Django migration guide to update our project.

### Resources/Instructions
[How to upgrade Django to a newe

[2021-12-20 18:01] sdimran commented on #80
Trying to understand what the goal is for the projects and roles choices in the nav bar. Roles are covered in our landing page front page under the communities of practice and Projects come from HackforLA website which users can see if the select the Hack for LA icon. @jenchuu is it part of the design that the nav bar will be the same for both the landing page and the search page?

[2021-12-21 01:52] sharadgaurav7 commented on #80
@jenchuu , Danish, and I had a chance to review. We would like to take out the "Roles" option, and add in "Post New Position" (We would need better options, we can't use the term JOB). This "Post" option will lead to the CMS system.

Other notes: Links in our menu row will lead to these respective pages
1. Hackforla link leads to landing page for the hackforla webpage (let's check if there is a ne

[2021-12-21 01:57] sharadgaurav7 commented on #41
@jenchuu , can we please update this issue.

[2021-12-21 02:02] sharadgaurav7 commented on #24
@jenchuu , please refer to issue #52 . We should either modify this issue to be more detailed on the specifics, or use the issue #52

[2021-12-21 02:05] #23 closed

[2021-12-21 02:06] sdimran commented on #23
we can link this back to the requirements page documentation in roadmap ticket (#43)

[2021-12-21 23:24] jenchuu commented on #80
@sdimran @sharadgaurav7 Hi the nav bar menu items were placeholder items and not based on any research. The nav bar will be across the entire CTJ website; yes it will show for both the landing page and search page.

Thank you for defining the nav bar items and where each will lead to! We'll change the designs to reflect these changes.

[2021-12-21 23:49] jenchuu commented on #80
Below is nav bar options A and B.

Option A: secondary ghost "Donate" button and primary "Post a Position" button
<img width="817" alt="Final nav bar option A" src="https://user-images.githubusercontent.com/88695763/147011855-11cddc1d-d51c-44a0-8b0a-cd9c09fb0dc6.png">

Option B: secondary light blue "Donate" button and primary dark blue "Post a Position" button
<img width="817" alt="Final nav bar

[2021-12-22 00:45] jenchuu commented on #41
@sdimran @sharadgaurav7 We can either delete or keep in prioritized backlog. This is when the MVP is live and UX Researchers will usability test the landing page.

[2021-12-22 01:45] Aveline-art commented on #28
Answer to question: @sharadgaurav7 will create an issue for GoogleAnalytics once product has reviewed the search page designs.

Issue closed because all actions items are complete.

[2021-12-22 01:45] #28 closed

[2021-12-22 02:15] jenchuu commented on #24
@sharadgaurav7 edited this further.

[2021-12-22 02:28] sharadgaurav7 opened #94 "Google Analytics"
### Dependency

- [ ]  #43
- [ ] #52
- [ ] #77

### Overview

As a product manager I should be able to collect and analyze insight into users behavior, and collect user data in real time so that I can understand how to make the product work better and efficiently.

### Action Items

- [ ] Create a list of metrics to track
- [ ] Create the areas on the page where tracking codes will be dropped
- [

[2021-12-23 18:25] #72 closed

[2021-12-23 22:49] Aveline-art opened #96 "Include a testing framework for react/js code"
### Dependency

- [x] #73
- [x] #74

### Overview
As a developer, we not only need to design components, but to also test them. For this issue, we will include the architecture for a testing framework.

### Action Items

- [x] Review the testing overview within React's documentation
- [x] Decide what testing framework is best to include into our codebase
- [x] Implement a demo of the framework(s)

[2021-12-23 23:57] Aveline-art opened #97 "Design System Component: Basic: Reset css"
### Overview
As a developer, we need to remove default css supplied by browsers so that our components can be designed in a uniform way. For this issue, we will download or create a css file to reset browser defaults.

### Action Items
- [ ] Find code to reset css
- [ ] Add code to our database

### Resources/Instructions
There are many different css reset code, as well as downloadable normalize f

[2021-12-24 18:21] #71 closed

[2021-12-24 23:19] Aveline-art opened #99 "Add linting support"
### Overview
As a developer, we need to periodically review our code to make sure that it is up-to-code, up-to-date, and follow best practices. For this issue, we will discuss linters we can use and install them.

### Action Items

- [ ] Research different linters available and how to use them.
- [ ] Discuss with the team on which linters are the most useful to be implemented as part of our tech s

[2021-12-25 19:57] ExperimentsInHonesty commented on #35
Found this on my own personal drive.  Dumping it here in case we need it later
2021-09-19
Date, Start Time, Duration, Name of Meeting, Must Attend, Should, Can Attend
Sun, 10:00 am, 2 hr, All Team Meeting, [PM & All Leads], All, All
Tue, 12:00 pm, 1 hr, UI/UX Lead & PM meeting, [Research Lead, Design Lead, PMs], ,
Tue, 7:00 pm, 1 hr, Development Team, [Font End Lead, Back End Lead], [Back end deve

[2021-12-26 19:56] #6 closed

[2021-12-26 19:56] #7 closed

[2021-12-26 20:42] ExperimentsInHonesty opened #101 "CTJ: PM/ORG Meeting Agenda and Notes"
### Overview
Meeting Agendas for PM/Org meetings

### Action Items

#### To create a new agenda
- [ ] Copy the template below into a new comment
- [ ] Edit the text you pasted with new items for your agenda
- [ ] Add the link to the new comment with its date under Resources/Instructions

### Resources/Instructions
The prework should be done before the meeting so that it can be discussed during the

[2021-12-26 20:42] ExperimentsInHonesty commented on #101
2021-12-26 Agenda  and notes

### Prework
- [ ] issue for audit #93

### Roll Call

#### Recurring items: Happens on the PM Monday meeting
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/internship/projects/1#column-15516595)
 - [ ] check Branding issue to see if there is anything the team needs to do, so that we can prioritize it #68
 - [ ] Accoun

[2021-12-26 20:55] ExperimentsInHonesty commented on #18
@sharadgaurav7 @sdimran Please revise the one sheet so that the top of it conveys succinctly what the project is about.  The where you are and where you are going should be in the history and roadmap portions as bullets.  Having said that, if there is something that absolutely has to appear in the top for context, leave it there.   In the end, the top should be one or two small paragraphs.

Here i

[2021-12-26 21:00] ExperimentsInHonesty commented on #35
Still working on this.  Check in with me next week

[2021-12-26 21:19] ExperimentsInHonesty commented on #51
Date: 2021-12-26
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at
   - [ ] features, ending at
   - [ ] role, ending at
   - [

[2021-12-26 21:31] ExperimentsInHonesty commented on #4
When coming up with names, its handy to know what the requirements are and how to count the letters
Letter counter https://www.lettercount.com/
Twitter 15 characters
Instagram 30 characters
Facebook page name 50 characters

[2021-12-26 21:56] ExperimentsInHonesty commented on #27
I have uploaded to this folder [2021-08-29 - with Bonnie](https://drive.google.com/drive/folders/1iceakNrTNmElIR4geBQ3Tyq1RHLRoIy2?usp=sharing)

[2021-12-26 21:59] ExperimentsInHonesty commented on #14
[Civic Tech Jobs figma workspace](https://www.figma.com/files/team/1040075117587297658/Civic-Tech-Jobs?fuid=775836858007206739)

[2021-12-26 22:38] ExperimentsInHonesty commented on #101
## 2022-01-02 Agenda  and notes

### Prework
- [ ] issue for audit #51

### Roll Call

#### Recurring items: Happens on the PM Monday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [x] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Sharad](https://github.com/hackforla/CivicTechJobs/issues/a

[2021-12-27 00:45] sharadgaurav7 commented on #18
@ExperimentsInHonesty, please review the updated file:

https://docs.google.com/document/d/1UEbLCswciCrTf5K2nZHxnfNNT7hFOlb3mnfmNfLMgI4/edit#

[2021-12-27 00:50] sharadgaurav7 commented on #2
@Aveline-art , can you please help edit the Installation instructions for the readme page.

[2021-12-27 02:21] Aveline-art commented on #2
@sharadgaurav7 Hi! I would like a couple of clarifications concerning this issue:

1. The issue has a dependency label, and #54 as an uncleared dependency. Should I wait for the dependency to clear before I complete the installation instructions?
2. The label indicates that this is a product issue. Should I switch it to frontend or backend?
3. Am I only completing the installation instructions or

[2021-12-27 03:51] sharadgaurav7 commented on #2
@Aveline-art ,  I think we duplicated the issues. This issue is to complete the readme part for our project. While the issue #54 has the same action item ("Create an introduction to our project on our read me"). @sdimran , and I just completed the Project intro on readme, as well as on the wiki. We can close the issue #54, if you'd agree - we didn't want to make any change there as the issue was c

[2021-12-27 05:18] Aveline-art commented on #54
Closed because items are completed

[2021-12-27 05:18] #54 closed

[2021-12-27 05:25] Aveline-art commented on #2
Got it! I went ahead and closed #54, as well as added instructions for the development portion. I will return this back to the backlog for now and start work some time after completion of my current issue. Hope that works!

[2021-12-27 05:40] Aveline-art opened #102 "Audit Issue Templates"
### Overview
As an open source contributor, I would like to understand how to open issues for errors I have noticed with this project (for example, with errors in our documentation, or bugs on our website). For this issue, we will audit our various issue templates, perform clean up, and discuss additions tailored for open source contributors.

### Action Items

- [ ] Create a spreadsheet on our Go

[2021-12-27 05:52] Aveline-art commented on #102
@sharadgaurav7 @sdimran My intuition tells me that this issue should be a developer issue, as it involves open source contributors. But I am also not sure where these templates come up (they seem to have been copied over from some template outside of this project). Do either of you know if product has anything to do with them?

[2021-12-27 17:58] Aveline-art commented on #75
The completed draft is [here](https://github.com/hackforla/CivicTechJobs/wiki/Backend-Architecture). Will review this at the next developer meeting, before continuing work.

[2021-12-27 20:05] Aveline-art commented on #49
Question for the team:

The contributing.md guide is tailored for developers. Do other departments also have their own version of a contributing guide? If so, can I link them to the contributing.md?

[2021-12-27 21:27] sdimran commented on #2
Edited a few lines in the "How to contribute" section. updated slack links and wiki links. once Developer instructions are complete, product will review and advise accordingly!

[2021-12-27 21:41] sdimran commented on #46
As discussed, our north star MVP will be the turnaround rate for users coming to civictechjobs.org and them finding roles that fit their criteria. how many users came and how many found roles?

Additional KPI's to consider:

1. number of users reaching civictechjobs.org for the first time
2. number of users selecting call to action
3. number of users attending onboarding after selecting call to ac

[2021-12-27 21:48] sdimran commented on #49
This is a good Question @Aveline-art . @jenchuu @patula006 if you have any documentation specific to your areas please let Ava know and we can make one Contributing.md file with a table of contents

[2021-12-27 22:03] #34 closed

[2021-12-27 22:15] sharadgaurav7 commented on #43
Changed to milestone. Closing this issue

[2021-12-27 22:15] #43 closed

[2021-12-27 22:40] Aveline-art commented on #2
Adding a #49 as a dependency on this since the installation instructions are in the contributing.md which is in progress. Developer work should be able to proceed once #103 merges.

[2021-12-30 16:56] #62 closed

[2021-12-30 17:27] #63 closed

[2021-12-30 17:49] Aveline-art commented on #78
Questions:

1. When we say 'staging website' what differentiates it from a production website?
2. What problem is the staging website trying to solve, or what is it about that the production website lacks that can be solved with a staging website?
3. What kind of configurations are most optimal when doing AB testing?
4. What QoL features can be have for a staging environment for the team when they

[2021-12-31 17:04] #97 closed

[2021-12-31 18:09] #69 closed

[2021-12-31 20:42] #70 closed

[2022-01-03 01:37] Aveline-art commented on #39
### Agenda for January 04, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Happy New Year!
- [ ] Review #49, #75, #100, #103

[2022-01-04 17:31] sdimran commented on #16
01/04/2021

Participants:

Agenda:

- [ ] CMS Wireframe Update
- [ ] Documentation required for development status and developer side update
- [ ] Researchers Update
- [ ] UX Updates Search page or qualifier page
- [ ] General discussion

Meeting notes:

[2022-01-04 23:22] Aveline-art commented on #61
@jenchuu I am currently designing the buttons for the landing page. I want to check in on the sizes of the three buttons on that page:

- donate button on header
- donate button on footer
- join us button

Each of these buttons have different heights (32px, 42px, and 51px respectively). I could find the 32px version on the [design system](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tec

[2022-01-05 00:23] sdimran commented on #52
for the project cards once qualifiers have been selected, we can include the relevant information included in this link :
https://github.com/hackforla/engineering/projects/2

if a user is not logged in : they will not be able to see what projects the posting is for but can see all other relevant information
if a user is logged in : they will be able to see project name and all relevant information

[2022-01-05 00:48] sdimran opened #109 "Qualifier page Blurb to explain page limitations"

[2022-01-05 00:54] sdimran opened #110 "Qualifier page blurb to explain page limitations"
### Overview

as a user who is not currently part of the hackforLA org, I should know the limitations to the search page while going through the qualifier page so that i understand the steps i need to take in order to successfully join hackforla as well as express interest in the roles i am filtering for.

### Action Items

This blurb:

- [x] describes what the qualifier page function is
- [x] wha

[2022-01-05 02:23] #93 closed

[2022-01-05 02:53] Aveline-art commented on #49
Update: @sdimran will take over the issue and return back to me with information for the "contact us" section of the contributing guide.

[2022-01-05 18:37] Aveline-art commented on #61
Button components notes:

[MaterialUI](https://mui.com/components/buttons/)
[React-Bootstrap](https://react-bootstrap.github.io/components/buttons/)

- Conditional rendering of button or a tags based on props
- Also allow setting text only props, such as "disabled" or "active"

[2022-01-05 20:40] patula006 commented on #110
**Rough draft.** We may need to wait a bit to finalize so that I can make sure that things are worded correctly.

Thank you for your interest in volunteering with Hack for LA! Please note that this page is a preliminary page; once you complete this step, you will then have to complete the Hack for LA Onboarding. Once you have completed the Onboarding, you will then be able to view all the specific

[2022-01-06 19:17] Aveline-art commented on #39
### Agenda for January 11, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Get feedback on #75 if any

[2022-01-06 19:55] sdimran commented on #110
Hi Patty, looks good. I added a few more lines regarding the process and what a potential volunteer can expect when they navigate here. let me know what you think (does this flow well? get our point across? etc.)

Thank you for your interest in volunteering with Hack for LA! Please note that once you select your role interest and availability, you will be able to see an overview of positions withi

[2022-01-06 20:14] sdimran commented on #16
Hi @ExperimentsInHonesty, can you please help us action the following based on our team meeting from 01/04:

- [ ] 1Password access for @patula006 (coste006@umn.edu) @Dendorable (Helene.Dendor@gmail.com)
- [ ] access to zoom vault on 1password for @jenchuu @patula006 as well as access to google doc to see zoom meetings schedule for @sdimran

Please let me know if you need anything from my end to a

[2022-01-06 22:30] patula006 commented on #110
Cool - thank you! I tried to make it a bit more succinct. Let me know what you think:

Thank you for your interest in volunteering with Hack for LA! Please note that once you select your role interest and availability, you will only be able to see an overview of positions within our organization that fit your needs. You will first need to attend the Hack for LA onboarding, but once you’ve done tha

[2022-01-07 15:46] sdimran commented on #49
Hi @Aveline-art I looked into this by browsing multiple other projects at hackforla to see how they are displaying this information. there doesn't seem to be a consistent method of displaying contact info (some projects have slack, some have project email, others have the emails of each of the leads, as well as combinations of the above). I think because any freelance contributor will have to alre

[2022-01-07 18:20] Aveline-art commented on #49
Thank you for getting back to me!

I'd like to correct that this is not the case, since our repository is public (see below image showing our repository while not signed in).

<img src="https://user-images.githubusercontent.com/62368440/148588388-fad22bee-9324-4010-9aa9-a9c291c9dcdd.png" width="600" height="300" />

The slack channel or email is fine with me, but please let me know if the above co

[2022-01-07 18:50] sdimran commented on #49
Ahh alright, thank you for correcting me I did not realize the repo was public! lets follow through with the same answer as above regardless. if it gets troublesome in the future then we can adjust accordingly

[2022-01-07 19:17] #49 closed

[2022-01-07 22:57] Dendorable commented on #110
I also took a stab at the statement.  I reversed it a bit since those with a login will know that you can sort by interest and availability.

Thank you for your interest in volunteering with Hack for LA!  Please login to see the full descriptions of our available opportunities.  If you do not have a login, simply attend the Hack for LA onboarding to access the full details.  Prior to attending our

[2022-01-07 23:07] patula006 commented on #110
This sounds great - thank you!

[2022-01-09 19:29] sdimran commented on #51
Date:
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at 0/8
   - [ ] features, ending at 2/17
   - [ ] role, ending at 0/8
   -

[2022-01-09 19:48] sdimran commented on #101
## [Date] Agenda  and notes

### Prework
- [ ] issue for audit #51

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Sharad](https://github.com/hackforla/CivicTechJobs/issues/assig

[2022-01-09 20:02] Aveline-art opened #112 "Add favicon to website"
### Overview
As a developer, we need to make sure that the website uses standardized branding. For this issue, we will add a favicon to our project.

### Action Items

- [ ] See below for what icon is to be used as out favicon
  - [ ] If need be, convert the icon to favicon format and add it to the appropriate directory
- [ ] Edit the code such that the favicon is used

### Resources/Instructions

[2022-01-09 20:03] Aveline-art commented on #112
Questions:

1. Which icon from our design system should we use for our favicon? If none, do we need to design a new one?

[2022-01-09 20:23] ExperimentsInHonesty commented on #18
Make sure the domain resolves to the project readme, project page at hfla or wiki.

[2022-01-09 20:52] ExperimentsInHonesty commented on #18
Make a pdf and upload here https://github.com/hackforla/product-management/tree/master/project-one-sheets
name the document: CivicTechJobs-One-Sheet.pdf

[2022-01-09 21:19] ExperimentsInHonesty commented on #36
remaining items are

- One sheet link to pdf
- List of people on the project team
[code]

[2022-01-09 21:22] ExperimentsInHonesty commented on #16
I have invited the two people referenced above.  They have to accept, then once they accept I can add them to the vault

[2022-01-09 21:38] ExperimentsInHonesty commented on #14
We now three vaults in 1password
Civic Tech Jobs - PM
Civic Tech Jobs - UI/UX
Civic Tech Jobs - Dev/Admin

Inside of the Civic Tech Jobs - UI/UX vault there is a link to our figma account so that you can add people and see files

[2022-01-09 21:38] #14 closed

[2022-01-09 21:53] ExperimentsInHonesty commented on #16
New members to the team can be added by @sharadgaurav7 @sdimran @Aveline-art by using the interface on this page https://github.com/orgs/hackforla/teams/civictechjobs-write

The other interface that was being used, is the wrong one and has been removed.

[2022-01-09 22:00] ExperimentsInHonesty commented on #4
I reopened this issue, start brainstorming names that fit criteria above and the onehseet.

[2022-01-09 22:26] sdimran commented on #18
Completed these items, the onesheet is now available at the project one sheets link above

[2022-01-09 23:35] sdimran commented on #78
Hi @Aveline-art, as discussed though we may not need the full capabilities of a staging site for our landing page initial, when we get closers to our mvp it will be a need. Bonnie confirmed that the drive space will not time out so lets utilize it and get comfortable with  working within the staging environment even for landing page initial.

lets go through with getting that set up

[2022-01-10 00:51] Aveline-art commented on #78
@sdimran I've noticed you've directly assigned me to this? Does this mean I need to prioritize this over my other assigned issue? Please let me know how I should proceed with this.

[2022-01-10 00:55] Aveline-art commented on #102
Further questions: Do we need an issue template for freelance bug reports? We do not have an MVP yet, so this will be far off. But I do want to make a note of it on our documentation such as the readme or contri.md just to orient visitors to our repository.

[2022-01-10 01:49] jenchuu commented on #61
Thanks for catching that. I updated the design system buttons. In terms of the other states' "gradient" colors, I updated these to the equivalent HEX with a note for us designers of the "gradients" used.

[2022-01-10 02:25] jenchuu commented on #24
[V2 Search page designs](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=1%3A12)
@graceerya and I created 4 project card options... open to feedback at our next meeting.
<img width="1147" alt="V2 LIMITED and FULL search results page" src="https://user-images.githubusercontent.com/88695763/148711714-0364d560-cdef-4773-8d8b-80a0fd494d30.png">

[2022-01-10 02:44] jenchuu commented on #80
Per discussion with @sdimran and @ExperimentsInHonesty below is updated nav bar with one login CTA for both volunteers and team leads (backend will be able to recognize the two types of users)

<img width="888" alt="Nav bar" src="https://user-images.githubusercontent.com/88695763/148712669-83d6eb46-aa03-4bde-a272-23b537df9ca0.png">

[2022-01-10 17:05] patula006 commented on #16
Thank you, Bonnie. I have accepted. Let me know if it's **not** good to go. Patty Costello

[2022-01-10 23:01] sdimran commented on #78
Hi @Aveline-art, my mistake! totally forgot to just put it back into the backlog and leave the assignee empty  -- ill unassign you now and you can prioritize based on your capacity

[2022-01-11 21:22] sdimran commented on #16
01/11/2021

Participants:

Agenda:

- [ ]  General updates (1password access, figma account migration)
- [ ]  Landing page development update
- [ ]  Discuss social media account requirements and reopen C&C analysis discussion.
- [ ]  UX/UI to present work done on qualifier page (no login  limited view)
- [ ]  Qualifier page limitation blurb discussion (review work done on it so far)
- [ ]  Meeting

[2022-01-12 02:41] sdimran commented on #36
Hi @ExperimentsInHonesty , please see below for a list of all active team members for Civic Tech Jobs

Name: Syed Danish Imran
Role: Product Manager
Slack ID:U020Z27JB1S
GitHub handle: sdimran

Name: Sharad Gaurav
Role: Product Manager
Slack ID: U01RETBMLKS
GitHub handle:SharadGaurav7

Name: Ava Li
Role: Full Stack Developer
Slack ID:U01B73XGCKV
GitHub handle: Aveline-art

Name: Sarah Williams
Rol

[2022-01-12 04:31] stephaniestahlberg commented on #4
The Civic Tech Jobs account on Twitter has not been active since 2014. If we would really like to use that Twitter handle, after the MVP is live we can formally request it using this process: https://josephliu.co/twitter-username-taken/

If not, how about CivicTechRoles? It's 14 characters.

[2022-01-12 05:21] Aveline-art commented on #75
Closed because it is completed!

[2022-01-12 05:21] #75 closed

[2022-01-12 19:08] Dendorable commented on #110
Jen -

I have provided 2 blubs depending on the space you are trying to fit them in.  They both give across the same idea - just the first blurb is a little clear and more descriptive and the second one cuts in down further in case you need it to fit in a smaller space.

#1
Please login to see the full descriptions of our volunteer opportunities.  If you do not have a login, simply attend the Hack

[2022-01-12 19:16] patula006 commented on #110
These both sound great - thanks!

[2022-01-12 19:19] jenchuu commented on #110
@Dendorable @patula006 Thank you!

@graceerya and I will work on placement of this blurb on the qualifier page wireframes.

[2022-01-12 19:36] jenchuu commented on #76
[V3 of task and user flow](https://whimsical.com/ctj-task-and-user-flow-8GgB5Moy14fnQDv24o1fGC)

![V3 CTJ Task and User flow](https://user-images.githubusercontent.com/88695763/149209441-dcdcd320-61da-454f-9984-ec223f278d07.png)

[2022-01-13 00:25] Aveline-art opened #114 "Change fonts to make them more accessible"
### Overview
As a web developer, we are required to make our website more accessible. For this issue, we will make font size responsive to user settings

### Action Items

- [ ] Locate where we put font classes/components (it should be in `Basics/_typography.scss`)
- [ ] Change the units from px to rem. When performing conversion, use the standard 1rem = 16px as the base.

### Resources/Instructio

[2022-01-13 03:41] Aveline-art commented on #2
Reopened, because it was closed accidentially by automation

[2022-01-14 01:36] Aveline-art opened #115 "Landing Page Audit"
### Dependency

- [ ] #73
- [ ] #74

### Overview

As a member of the team, we need to verify that the website looks correct upon it's completion. For this issue we will perform several audits to ensure that our product is of the utmost quality.

### Action Items

- [ ] Verify that the website appears visually appealing...
  - [ ] ...on multiple viewports
  - [ ] ...when zoomed in
  - [ ] ...when

[2022-01-14 01:37] Aveline-art commented on #115
Questions

1. What role does this fall under? Is this an interdisciplinary task?

[2022-01-15 00:39] stephaniestahlberg commented on #12
@sdimran @sharadgaurav7 Can you let us know what else you would like added here? Patty reviewed 8 sites and found that she could test-post in 2 of them. She took screenshots. @patula006 can you add the screenshots here? The other websites require a lot more information or money before getting to the posting page.

[2022-01-15 00:42] stephaniestahlberg commented on #4
Another option for Twitter that is up to 15 characters: JobsInCivicTech

[2022-01-15 06:21] Aveline-art commented on #78
Assigning myself this issue to periodically relay updates on my communications with the ops team

Jan 12, 2022

- spoke with ops team about requirements (thank you @arghmatey for meeting with them at the CoP meeting)
- waiting to hear back from them as they examine our DockerFiles

[2022-01-15 06:40] Aveline-art opened #117 "Completing the Community Profile"
### Overview

This issue for now will be a discussion on the community profile. A proper user story will be added later.

### Action Items

- [x] Review the community profile for missing items:
  - [x] Description
  - [x] Code of conduct
  - [x] Repository admins accept content reports

### Resources/Instructions

[Resources](https://github.com/hackforla/CivicTechJobs/wiki/Resources)
[Community pr

[2022-01-15 16:11] Aveline-art commented on #66
@jenchuu Does the design team have any thoughts on how transitions should work? For example, for the modal, when the close button is clicked, should the modal fade out or perform an immediate exit? We can also play this by ear once the landing page is done and the team can perform on-site testing.

[2022-01-15 17:40] patula006 commented on #12
Here is the C & C file which includes screenshots.
[Volunteer Orgs C&C Analysis.xlsx](https://github.com/hackforla/CivicTechJobs/files/7875474/Volunteer.Orgs.C.C.Analysis.xlsx)

[2022-01-15 20:56] ExperimentsInHonesty commented on #36
![Vertical Logo](https://user-images.githubusercontent.com/37763229/149637447-2d336d29-e615-44df-82e4-b92a8ade7455.png)

[2022-01-15 21:00] henlatourrette commented on #35
100 Automations meeting times is updated: [100Automations/Website/issues/460](https://github.com/100Automations/Website/issues/460)

[2022-01-15 21:59] ExperimentsInHonesty commented on #101
add to next agenda, what do you want to happen when people come to the civictechjobs.org.  Right now it shows the readme, Ava would like to turn off gh-pages, what do we want to do as a temporary landing page?

[2022-01-16 18:59] sharadgaurav7 commented on #11
@ExperimentsInHonesty , need your guidance on where this ticket should be queued. Does it even belong to Civic Tech Jobs?

[2022-01-16 19:09] sharadgaurav7 commented on #51
Date:
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at 1/0
   - [ ] features, ending at 1/8
   - [ ] role, ending at 0/0
   -

[2022-01-16 19:44] sharadgaurav7 commented on #24
@jenchuu , we left the following comments on the figma file for the Search Page design:

Product Team’s comments 1/16 

- Change “Start Onboarding..” to “Attend Onboarding” 
- We would sugegst we have one page design for the  limited page and the Full View page. In the limited page, the  project details, and “join us on Slack” will be masked/redacted. Once someone logs back in with their credentia

[2022-01-18 19:51] Aveline-art commented on #67
Going to make edits to this issue as it grew into something a lot bigger than it should be. Work is partially done as outlined in #116, which will be noted in the top comment. The unfinished work will also be noted as well.

[2022-01-18 21:48] Aveline-art opened #120 "Quality of Life Improvements to Handling SVGs"
### Dependency

- [x] #73
- [x] #74

### Overview

As a developer, we need to maintain our codebase such that developers can have an easy time navigating our architecture and add onto the code. For this issue we will investigate settings for [svgr](https://react-svgr.com/), a react dependency.

### Action Items

- [ ] Review svgr's documentation listed below
- [ ] Find a solution to the problem ou

[2022-01-18 23:55] sdimran commented on #16
01/18/2022

Participants:

Agenda:

- [x]  Landing page development update
- [ ]  C&C analysis discussion.
- [x]  UX/UI update on search page/qualifier page
- [x]  General discussion /blockers/questions

Action items:

Notes:

[2022-01-19 00:03] sdimran commented on #12
moved the xls to the shared drive in order to collaborate together on it. also added to the resources in the ticket

https://docs.google.com/spreadsheets/d/1bXbbJvR9SBEiyTfdKeypCTZZkJMwt0Qj9-6QQ6Drdl4/edit?pli=1#gid=1562979043

[2022-01-19 00:35] #66 closed

[2022-01-19 00:36] Aveline-art commented on #68
Closing because completed by #116

[2022-01-19 00:36] #68 closed

[2022-01-19 00:47] jenchuu commented on #66
@Aveline-art For modal card example, let's do an immediate exit! *Yes, interactions and micro-interactions may change pending testing.

[2022-01-19 00:48] Aveline-art opened #121 "Create wiki on figma notes"
### Overview
As a developer we depend on up-to-date and thorough documentation to help us understand a piece of code. For this issue, we will record details about our design system in a wiki.

### Action Items

- [ ] Create a new wiki with an appropriate title
- [ ] In that wiki, make sure to record all the information in comments below

### Resources/Instructions
See below comments

[2022-01-19 00:52] Aveline-art commented on #121
- make sure to convey how layout and columns work
- talk about how order matters for responsiveness
- talk about how margin utilities work with columns (by decreasing space from the column before adding the margins; this maintains the 12 columns total rule)
- talk about how svgs as data url and svgs as components work
  - talk about how to edit svgs to work inline as components
- talk about propsT

[2022-01-19 00:57] jenchuu commented on #24
@sharadgaurav7 @sdimran

@graceerya and I have made the changes per your comments above and designs are ready for feedback:
[V3 Search page designs (Figma)](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=1%3A12)

<img width="1651" alt="Limited and full view search results page" src="https://user-images.githubusercontent.com/88695763/150043455-3c1add32-75a5-4eef-9198-252d

[2022-01-19 01:26] jenchuu opened #122 "Log in/Sign up pages (UX)"
### Overview

We need to design a welcoming log in page for both volunteers and team leads to access full capabilities of CTJ website.
*We also need to provide disclaimer somewhere about needing to attend onboarding to receive login info.

### Action Items

- [x] Ideate log in pages
- [x] Present to team
- [x] Edit log in pages
- [x] Add sign up pages
- [x] Present to team
- [x] Add to prototype f

[2022-01-19 02:29] sdimran opened #123 "Credits page for Civic Tech Jobs"
### Dependency

- [x] #283
- [x] #284

### Overview

we need to cite and provide credit to the images we are using, so that we will not be plagiarizing any content

### Action Items

- [x] See how HackforLA currently has set up its credits page
- [ ] Review if we can use a similar format

### Resources/Instructions

[Resources](https://github.com/hackforla/CivicTechJobs/wiki/Resources)

[HackforLA

[2022-01-19 02:53] graceerya opened #124 "User Personas (UX)"
### Dependency

- TBD

### Overview

We need to develop user personas to better support our design reasoning and decisions for the CTJ web pages.

### Action Items

- [ ] Create user personas based on user survey results

### Resources/Instructions

[Resources](https://github.com/hackforla/CivicTechJobs/wiki/Resources)

[2022-01-19 04:56] stephaniestahlberg opened #125 "Survey of new volunteers"
### Overview

As a researcher, we need to gather data from our target users to better understand who they are, their motivations and expectations when deciding to volunteer with Hack for LA. This information will help us design with the users (the volunteers) in mind, with decisions backed by data. We will continuously survey new volunteers during their onboarding process, and the data will be ava

[2022-01-19 05:11] Aveline-art commented on #92
Update: spoke with @ExperimentsInHonesty about the state of the project when it started. It turns out that it was setup on gh-pages during that time. At that time, the project was meant for a different purpose. For us, gh-pages serve little function and can be left alone until MVP status is reached.

[2022-01-19 05:11] #92 closed

[2022-01-19 20:45] patula006 commented on #12
Updated the CMS C & C file with links to dashboard examples. Not sure if this is what you are looking for though
[Volunteer Orgs C&C Analysis.xlsx](https://github.com/hackforla/CivicTechJobs/files/7900461/Volunteer.Orgs.C.C.Analysis.xlsx)
.

[2022-01-19 22:05] stephaniestahlberg commented on #12
@patula006 Can you include the additions in the Google Sheet document that Danish created and linked above? So we can collaborate on the same doc. Thanks!

[2022-01-19 22:14] patula006 commented on #12
Yes - it's in the second tab now.

[2022-01-20 00:48] Aveline-art opened #126 "Tweaking the layout components and utilities"
### Overview
As a developer, we need to improve our design system by providing industry standards for layouts. For this issue we will add several spacing utilities to transform our layout classes.

### Action Items

- [x] Add gap utilities along with our margin and padding utilities.
- [x] Make sure that the gap utilities do not interfere with margin utilities or the standard 12 column design stan

[2022-01-20 21:52] Aveline-art commented on #78
Jan 10, 2022

- Ops team reported back after examining DockerFiles
- Currently arranging a meeting to go over configuration requirements before staging website can go live

[2022-01-21 01:41] Dendorable opened #127 "C&C Analysis of Volunteer Sites"
### Dependency
none

**Overview**

We need to review and take a look at other websites which focus on volunteering opportunities so that we understand the ease and flow to improve Civic Tech Jobs

### Action Items

- [x] Compare volunteer sites sign-up option
- [x] Compare ease of accessing volunteer opportunities where possible
- [x] Notate any qualifiers that may be required when searching for o

[2022-01-22 02:19] ExperimentsInHonesty commented on #35
Green Earth OS is complete https://github.com/hackforla/GreenEarthOS/issues/77

[2022-01-23 17:43] sdimran commented on #101
## [Date] Agenda  and notes

### Prework
- [ ] issue for audit #51

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Sharad](https://github.com/hackforla/CivicTechJobs/issues/assig

[2022-01-23 17:46] sdimran commented on #51
Date: 1/23/2022
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at (2/0)
   - [ ] features, ending at (3/8)
   - [ ] role, endin

[2022-01-23 17:50] sdimran commented on #124
@jenchuu @graceerya  can we please include the feature labels for this. if you need to create a new relevant label please do and advise @sharadgaurav7 and I

[2022-01-23 17:50] sdimran commented on #122
@jenchuu @graceerya can we please include the feature labels for this. if you need to create a new relevant label please do and advise @sharadgaurav7 and I

[2022-01-23 17:52] #18 closed

[2022-01-23 20:24] ExperimentsInHonesty commented on #36
I have updated the issue https://github.com/hackforla/website/issues/2287, its ready for Ava to work on, if she likes

[2022-01-23 20:32] ExperimentsInHonesty commented on #125
History of volunteer onboarding and project selection research starts with the website team, who has already done quite a bit.  That original research resulted in the slide deck we have now, and the need for clarity about open roles.  You will want to review that. Reach out to Simone from the website team to see if she can find and share that with you.

Quick history is
1. I used to do the onboard

[2022-01-23 20:54] ExperimentsInHonesty commented on #35
Closing issue #11 which is related to this issue but not needed anymore.  Here are some links from that issue
[Team meeting spreadsheet
](https://docs.google.com/spreadsheets/d/1xG8yQUeR17mkeClJE5gotpWFoP8z6_rE53fqAWBMpOg/edit#gid=0)
[Events page schedule
](https://www.hackforla.org/events/)
[Upcoming Volunteer Opportunities page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Websi

[2022-01-23 20:55] ExperimentsInHonesty commented on #35
Add the milestone Content gathering to this issue

[2022-01-25 01:53] #67 closed

[2022-01-25 03:19] Punkin18 commented on #127
Please Revise begore submitting

[2022-01-25 03:32] Aveline-art opened #129 "Create a security policy"
### Overview

As a developer, we need to patch vulnerabilities as they come up. For this issue, we will draft and create a security policy, so that we may collect feedback on potential holes in our security without making it public.

### Action Items

- [ ] Create a SECURITY.md file with our security policy.
- [ ] Add a link to it to our README.md and CONTRIBUTING.md

### Resources/Instructions

[

[2022-01-25 17:14] stephaniestahlberg commented on #125
Thanks, Bonnie. I have reached out to Simone. Team, please see the draft survey link [here](https://docs.google.com/forms/d/e/1FAIpQLSfFoeWbfe1Jvg1BL5fJliIWdbWnSpCeyrmrdQqJ7ABe8xmIxQ/viewform?usp=sf_link). If you have time to review it to share your thoughts during the team meeting today, that would be great.

[2022-01-25 22:50] sdimran commented on #64
Hi @arghmatey , are you still working on this issue? please advise!

[2022-01-25 23:00] sdimran commented on #16
01/25/22

Participants:

Agenda:

- [ ] Landing page development update (congrats on the component completion! Question regarding #64 status)
- [ ] updates regarding staging environment requirements and process
- [ ] updates from UX and blockers
- [ ] discuss, review and feedback regarding volunteer survey from UXR team and next steps (how can product help?)

[2022-01-26 00:20] jenchuu commented on #124
@sdimran @sharadgaurav7 Don't see a feature label that fits. Can we create one for Research?

[2022-01-26 00:21] jenchuu commented on #122
@sdimran @sharadgaurav7 Should we create a new p-feature for Log in page? Or do you want this under Landing page?

[2022-01-26 04:03] stephaniestahlberg commented on #125
The current onboarding survey is [here](https://docs.google.com/forms/d/e/1FAIpQLScXnJSyCXgO_RCAuCyOkG4sqGILpAepTlJ0HOaK4H_ccEVmNw/viewform).

@ExperimentsInHonesty Here is the proposed updated onboarding survey. Questions to be removed are crossed out, and new questions are in bold. To see the answer options for the questions we are proposing to add, please see [this](https://docs.google.com/form

[2022-01-26 05:12] sdimran commented on #36
@Aveline-art when we met with Bonnie over the weekend to finalize all the info for this task she had mentioned you were interested in taking this on. if this is still the case, it is ready to go and you can assign this to yourself and see the associated task on the HfLA website team board. please let me know if you have any questions

[2022-01-26 05:32] sdimran commented on #122
Hi @jenchuu we can feature this as "feature: CMS" as the login screen is our entry point into that. landing page initial will be static and MVP will include the dynamic functionalities we are working on so we will keep the milestone as MVP. let me know if there are any questions.

additionally if possible lets keep the issue assigned to 1 person at a time

[2022-01-26 06:02] sdimran commented on #124
Hi @jenchuu I've created the "feature: User Research" label that we can use for this issue as well as other Research issues. I've labeled it here already.

@graceerya can we add more detail to the scope of this issue and expand on the action items. I see the action items is based on user survey results, is this a dependency on one of the research teams items? if so can we include that in the depen

[2022-01-26 06:08] sdimran commented on #127
Hi @Dendorable, trying to understand the scope of this issue: is it related to or an expansion of #12  ? if possible please revise the issue with the following format ;

Dependency:

Overview:

Action Items:

Resource:

[2022-01-26 06:26] sdimran commented on #125
@stephaniestahlberg just a few comments from my end :

when we ask in the survey for Q6 .  the last entry to valuate in terms of importance is - Project size and importance. what are we referring too when we say importance? I think this would be difficult for a potential volunteer who just attended onboarding to answer as all projects are very important. please let me know if I am thinking on a ta

[2022-01-26 16:58] Aveline-art commented on #36
@sdimran Thanks for getting back to me on this! I noticed that hackforla/website#2287 did not list technologies. Are we leaving that field empty for now? Also, the hero image does not have an alt text. Should I come up with one on my own or will the PM team handle it?

[2022-01-26 17:21] sdimran commented on #36
@Aveline-art I saw in the issue itself there was no action item for alt hero image text or technologies but looking at the project.md template I do see the fields.

for alt hero image text lets use a similar format to the logo alt text : 'Civic tech jobs hero image, for HfLA website projects page'. if you have any other suggestions or wording please let me know

for technologies lets include the s

[2022-01-26 17:25] stephaniestahlberg commented on #125
Thanks @sdimran. I went ahead and made these changes and created a new version of the survey in Google Forms [here](https://docs.google.com/forms/d/e/1FAIpQLSf-FyHf_0l98YT_RtE8vTnbvXuoUg0slYE2eGfybdyo_WL4kg/viewform).

[2022-01-26 17:48] Aveline-art commented on #36
@sdimran Below are screenshots of how the project card and page would appear once uploaded into the website. Let me know if they meet expectations :smile: ! For some of the images, especially the larger ones, you may need to scroll down to view the project.

[Project card desktop](https://user-images.githubusercontent.com/62368440/151217250-282ad5f8-74cc-4e8f-b491-efa1ae7477d5.png)
[Project card m

[2022-01-26 18:38] sdimran commented on #36
@Aveline-art  i think these look great! just a question and note:

Question: Regarding the project team profile pictures, are these automatically pulled and updated from github? if someone was to change theirs tomorrow would the site auto update or is this an ongoing maintenance item for us to update.

note: with the upcoming additions to the team we will likely have to update the roster in the co

[2022-01-26 19:23] jenchuu commented on #122
[Login page V2](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=1%3A15)

Please see three DESKTOP log in page options for feedback:
1. Split screen w/ Helping doodle illustration
2. Split screen w/ Hero illustration
3. Full screen w/ elements from Hero illustration
![V2 Log in page](https://user-images.githubusercontent.com/88695763/151231368-d142346d-8594-444e-9121-2c2ff

[2022-01-26 19:53] jenchuu commented on #77
[V7 Qualifier page](https://www.figma.com/file/G5bOqhud6azbxyR9El9Ygp/Civic-Tech-Jobs?node-id=1%3A9)

DESKTOP qualifier page:
- Disclaimer box in tan (to go with hero illustration from landing page) at top with tertiary button "attend onboarding"
- Changed button state to disabled when weekly availability scheduler hasn't been filled out
- Changed button copy to "View available roles" for Question

[2022-01-26 20:01] jenchuu commented on #110
@graceerya and I edited the disclaimer a bit more to fit on the qualifier page and search page.

Are we approved to move forward with the below? @sdimran @sharadgaurav7 @Dendorable @patula006

For the qualifier page disclaimer:
You must be logged in to see full descriptions of available opportunities. Currently, you may view a list of openings according to your interests and availability. Please a

[2022-01-26 20:06] jenchuu commented on #80
@sdimran @sharadgaurav7

Can you confirm the nav bar items and names? Did we decide that "Projects" will lead to search page for project roles OR are we renaming it?
I'd like to ensure our IA and create a sitemap once we have the nav bar items confirmed so we ensure we have all the pages we need to design for.

[2022-01-26 20:12] jenchuu commented on #76
@sharadgaurav7 @sdimran. Is this flow approved as starting point for the MVP?

@Aveline-art Is it possible to change WHERE the "Join us" CTA on home page and CoP cards lead to when a user is LOGGED in? Aka can users be directed to FULL search page?
(These "Join us" CTAs lead to qualifier page when NOT logged in)

![CTJ Task and User Flow@2x](https://user-images.githubusercontent.com/88695763/15123

[2022-01-26 21:03] Aveline-art commented on #76
@jenchuu That should be very possible!

[2022-01-26 21:16] patula006 commented on #110
That wording sounds good to me - thanks, Jen.

[2022-01-26 21:35] Aveline-art commented on #36
@sdimran Yes, the images are pulled automatically from our profiles, and retrieved when a user visits the website. Therefore, it is always the latest one.

[2022-01-26 21:49] stephaniestahlberg commented on #122
I don't see any usability issues with any of them, and since they are a login page for return users, I don't think we should A/B/C test them. Aesthetically, my preference is for versions 1 or 2 for desktop, and version 3 for mobile.

[2022-01-26 22:15] sharadgaurav7 commented on #36
@sdimran @Aveline-art These look great. Thanks

[2022-01-26 22:19] sdimran commented on #36
@Aveline-art you are good to continue with this with both of our sign off -- please let us know when it is live. we can review and then consider this done. Thanks!

[2022-01-27 02:19] sdimran commented on #110
@jenchuu -- I am ok with the working as well.

@sharadgaurav7 please review and advise.

[2022-01-27 02:25] sdimran commented on #129
@Aveline-art  i think we can consider this a good first issue for the new developers to take on, let me know if you agree. if so -- once they have been added to the repo one of them can take this on

[2022-01-27 03:08] Aveline-art commented on #129
This might be a bit rough for a new developer since it involves security, and that might require a team discussion on how security flaw feedback is collected.

[2022-01-27 04:59] Aveline-art commented on #78
Jan 26, 2022

- Ops team is behind on arranging a meeting due to internal issues. As of now, there is no meeting planned and we are unsure when it will happen.

[2022-01-27 05:38] Aveline-art opened #132 "Propose multi-page architecture"
### Overview
As a developer, we need to update our architecture to meet the needs of the product we want to deliver. For this issue we will research and gather information on leveraging React/Django to create a multi-page product that is CTJ.

### Action Items

- [x] Gather stakeholder and team thoughts on how urls should work
- [x] Decide on how to create multi-page architecture
- [x] Update the

[2022-01-27 19:40] stephaniestahlberg commented on #46
In addition to the number of users in the categories that @sdimran mentioned above, track the share of users in these categories. So that we know if both the number and share are increasing.

Other ideas for metrics, so we can compare the performance of the current process to the new CTJ website:
- Number and share of new volunteers who attended onboarding but never joined a project
- Time it take

[2022-01-27 19:42] sdimran commented on #78
thank you for the updates @Aveline-art !

[2022-01-27 19:51] stephaniestahlberg commented on #46
Some ideas for metrics for CMS:

- Amount of time it takes to post a new role with the old and new processes (I don't expect we have existing data on this. Would need to collect via usability testing so we can observe and time PMs posting a new role).
- Amount of time it takes to fill a role (could we possibly have a github log of when roles are posted and taken down? Acknowledging that posts may

[2022-01-28 01:19] sharadgaurav7 commented on #110
@jenchuu , I really think the blurb is too long, and takes a lot of space making it very busy for the end user. What if we shortened it and wrote something in lines of" To view full volunteer descriptions please attend an onboarding session". When the user attends the onboarding session they would learn how to come back and log in.
Let's discuss this in our meeting tomorrow 01/28/22

[2022-01-28 01:29] sharadgaurav7 commented on #77
@jenchuu ,
@sdimran, and I had a discussion on the calendar view. We both like the Google Calendar look alike - the one on the right. The only question would be, will the user be able to press and hold to select multiple hours and while doing so will the screen be able to  move up or down (so the user can select hours not in the current view).
We can discuss this tomorrow as well 01/28/22

[2022-01-28 01:43] sharadgaurav7 commented on #76
Team,
Since the first time users' details will not be captured without their login credentials being activated, they will have to login and go through the qualifier page again after they receive their login credentials (following the Onboarding session). The only way the website can remember previous inputs will be if we drop some cookies (this will not be permanent).

@Aveline-art , can you pleas

[2022-01-28 02:22] Aveline-art commented on #76
@sharadgaurav7 A couple of points:

- Is there a specific reason why users are allowed access to the qualifier page without logging in?
- On a side note, in case there happens to be a specific reason, could we encourage (optional) user login through some warning text? Ex: "We encourage you to sign up so that we can save your input from this page! This will...[benefit to the user]."
- Cookies/local

[2022-01-28 20:48] Aveline-art commented on #99
Questions:

1. To Prettier or not to Prettier

[2022-01-30 05:33] Aveline-art commented on #39
### Agenda for February 1, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] To Prettier or not to Prettier?
- [ ] Eslint and stylelint configurations
- [ ] Should we add typescript to our stack? Is it needed? Is it useful?

[2022-01-31 05:39] Aveline-art commented on #36
Hi! Our project is now live at [this link](https://www.hackforla.org/projects/civic-tech-jobs). It lacks our meeting times however, which I think is done [here](https://github.com/hackforla/VRMS/issues/new?assignees=&labels=1+week+change+request&template=add-edit-team-meeting-time.md&title=Meeting+time+change+request+for+%5BProject+Name%5D).

[2022-02-01 02:58] Dendorable commented on #110
If you need it super short:  Attend onboarding for volunteer details.

[2022-02-01 22:41] jenchuu opened #135 "CTJ: UI/UX Meeting Weekly Agenda"
### Dependency

_No response_

### Overview

Template for our meetings from now on:

[DATE] Agenda and Notes

### Prework
- [ ] Add prework here

### Roll Call

#### Recurring items: Happens on the UX/UI meeting
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/design-systems/projects/1#column-15133576)

 - [ ] Accountability and Support Check.
    -

[2022-02-01 22:48] jenchuu opened #136 "review any issues that are in the new issue approval column](https://github.com/hackforla/CivicTechJobs/projects/1#column-10928272)"

[2022-02-01 23:11] jenchuu commented on #135
## 2/01 Agenda and Notes

### Prework
- [ ] Create and post [UXD open role card on UI/UX GitHub](https://github.com/hackforla/UI-UX/projects/3#card-77034347)

### Roll Call

#### Recurring items
 - [ ] Review [Issues in progress](https://github.com/hackforla/CivicTechJobs/projects/1#column-10928272)

 - [ ] Accountability and Support Check
    - [ ] Update from Patty and Helene https://github.com/

[2022-02-02 00:11] sdimran commented on #16
02/01/22

Participants:

Agenda:

- [ ] introduce new Dev
- [ ] update on UX designer search (do we need to review the posting?)
- [ ] Dev update on Landing page initial
- [ ] Updates for Volunteer survey
- [ ] Discussion around the Dashboard (any questions?)
- [ ] Go through new issue approval column
- [ ] open discussion

Action items:

[2022-02-02 02:49] NickTSA commented on #126
Updated:
Standard units of 8px increments
Gap sizes from 0-5 * 8px

_Also test for compatibility with Browser (safari does not support grid gaps)_

[2022-02-02 03:09] #114 closed

[2022-02-02 04:09] Aveline-art commented on #99
After discussion with the team:

1. fallback font will be the arial family
2. Textlint will be used for our md files.
3. Prettier will be our standard formatter for all code that it supports

[2022-02-02 04:09] #99 closed

[2022-02-02 04:19] Aveline-art commented on #39
### Agenda for February 9, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Revisit adding typescript to our stack

[2022-02-02 18:26] Aveline-art opened #137 "Change our existing fallback font"
### Overview
As a developer, we need to make sure that our website is presentable to users. For this issue, we will change our fallback font to one that matches our existing Roboto the best.

### Action Items

- [x] Locate areas of our css codebase that uses `font-family` for styling.
- [x] Remove all fonts other than Roboto
- [x] Then, next to Roboto add these new fallback fonts: Tahoma, Verdana,

[2022-02-02 18:43] jenchuu commented on #137
@Aveline-art
Let's use Tahoma as the fallback font for Roboto web font that we are using for our website.

Please see details below and confirm ok!
(https://meowni.ca/font-style-matcher/
)
![Tahoma fallback font vs Roboto web font](https://user-images.githubusercontent.com/88695763/152217449-737c3d54-f45d-4f61-a2c9-44dbda2f0428.png)

[2022-02-03 01:24] stephaniestahlberg commented on #125
@ExperimentsInHonesty [survey](https://docs.google.com/forms/d/e/1FAIpQLSf-FyHf_0l98YT_RtE8vTnbvXuoUg0slYE2eGfybdyo_WL4kg/viewform) ready for your review.

[2022-02-03 19:00] Aveline-art opened #138 "Accessibility: Update Close Button component"
### Overview
As a developer, we need to make sure that our components are accessible as much as humanly possible. For this issue we will update our <CloseButton /> component for accessibility.

### Action Items

- [x] Wrap the CloseButton with <button> html tags
- [x] For the `<img>` tag, add an appropriate alt text (which might be blank, if it is purely decorative)
- [ ] Perform other tasks as ne

[2022-02-03 19:14] Aveline-art commented on #60
@jenchuu I have a couple of clarification questions.

1. The [horizontal svg ](https://github.com/hackforla/CivicTechJobs/blob/main/frontend/src/assets/images/svgs/logo-horizontal.svg) contains some amount of empty space between the logo and the image's edge. This makes it impossible to center the image correctly. Can we resize this image?
2. The mockup for the landing page mobile does not current

[2022-02-04 15:46] Dendorable commented on #127
C&C Analysis of Volunteer Sites
https://docs.google.com/spreadsheets/d/1kqpuEH628RX-pR3crixUmZFxOzLghokd4yfOJkhsndY/edit?usp=sharing

[2022-02-04 19:06] sharadgaurav7 opened #139 "CMS Wireframe"
### Overview

As a product manager or team lead we need to have a platform to post, edit, or remove open volunteer roles within the team. This system will be the backend that feeds the search results on the civivtechjobs.org.

### Action Items

- [x] Create CMS Wireframe in Figma
- [x] Discuss wireframe with the UX research team

### Resources/Instructions

[CMS Wireframe](https://www.figma.com/fi

[2022-02-04 20:32] patula006 opened #140 "UX Researcher agenda 2-4-22"
•	Merge Bonnie’s volunteer survey with our survey
Proposed updated onboarding survey once Bonnie is back from medical leave: https://docs.google.com/forms/d/e/1FAIpQLSf-FyHf_0l98YT_RtE8vTnbvXuoUg0slYE2eGfybdyo_WL4kg/viewform

Current onboarding survey: https://docs.google.com/forms/d/e/1FAIpQLScXnJSyCXgO_RCAuCyOkG4sqGILpAepTlJ0HOaK4H_ccEVmNw/viewform

•	Validate user flow (Github #76 – to be updat

[2022-02-04 21:06] Aveline-art commented on #64
@arghmatey Hi Sarah! Can I have a progress update on this issue? The dev team is ready to move on from the landing page, so we want to complete it asap. I will recycle this issue if I do not hear back from you by Tuesday.

[2022-02-04 21:23] Aveline-art commented on #132
Questions for all teams:

1. Should we have one url per page? Would each project/posting have its own page/url?
2. Should a user be able to send a direct link to a posting to "share" this opportunity on social media?

Questions for development team:

- Django views as pages, or react router as pages? At a glance:
  - Django pros: does not require additional dependencies | cons: requires considerab

[2022-02-05 00:50] ExperimentsInHonesty commented on #35
Home Unite US is done https://github.com/hackforla/HomeUniteUs/issues/342

[2022-02-05 05:16] jenchuu commented on #77
@sharadgaurav7 @sdimran
@Aveline-art Are we OK to press and hold calendar and auto-drag with screen scrolling down on a mobile web page?

@graceerya and I made the copy shorter for the disclaimer on mobile qualifier pages. This is hi-fi version:

<img width="617" alt="Qualifier page mobile V9" src="https://user-images.githubusercontent.com/88695763/152629587-b0ebb0c7-633a-46bd-8497-af4b04abd1c3.pn

[2022-02-05 07:33] jenchuu commented on #76
Per discussion with @Aveline-art and @graceerya below is the revised task and user flow.
We would love to go over this task/user flow and the prototype flow we created with you tomorrow evening! @sdimran @sharadgaurav7

![CTJ Task and User Flow@2x (1)](https://user-images.githubusercontent.com/88695763/152633078-71f3503a-1568-4680-af3c-fa9e1b74d6ed.png)

[2022-02-05 07:39] jenchuu commented on #60
@Aveline-art
1. I've edited the horizontal svg to make it easier to center - I'll comment you where it is in Figma. or how would you like me to send it to you?
2. How soon do you need the hamburger menu? We were prioritizing the other pages to design in the flow as we are still not 100% on the nav bar menu items.

[2022-02-05 18:54] Aveline-art commented on #60
Hi @jenchuu !

If the svg is in the design system page, I can find it on my own. Is that where you store all the assets?

For the burger menu, I don't really need it at all. We can open a new issue once the design team has it read, and I can leave it as is for now.

[2022-02-05 19:02] Aveline-art commented on #77
@jenchuu The motion of holding and dragging is usually reserved for scrolling through a webpage, so I am a bit wary of whether this would work, from a UX perspective. I can't say I know enough to have a definitive opinion, however, so I am open to creating this component then testing it on our actual mobile devices.

[2022-02-06 00:12] #60 closed

[2022-02-06 01:37] sdimran commented on #137
This is good to begin work on - Thanks!

[2022-02-06 01:39] sdimran commented on #73
Hi @Aveline-art, this is good to work on -- i saw the dependency is cleared so will move this into the prioritized backlog, Thanks!

[2022-02-06 03:11] Aveline-art commented on #73
I think I can lower the size, although I set it at 13+ as a precaution, to prevent an inexperienced developer from working on it.

[2022-02-06 17:31] sdimran commented on #136
@jenchuu  not sure what this issue is but if it was created by accident can we close it?

[2022-02-06 17:32] sdimran commented on #51
Date: 02/06/22

- [ ]  Did you have to update the 0/0 links above? if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Yes, i added the following features and updated the feature link : good first issue,  feature: user research, ready for milestone

Audit

- [ ]  size, ending at (0/0)
- [ ]  fea

[2022-02-06 17:34] sdimran commented on #101
## [Date] Agenda  and notes

### Prework
- [ ] issue for audit #51

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Sharad](https://github.com/hackforla/CivicTechJobs/issues/assig

[2022-02-06 22:16] sdimran commented on #140
Hi Patty, I think this is great to have a UX Researcher agenda for your team meetings 👍🏽 . can you transition this into a similar format of our all team meetings? this way we can keep a track of all discussion points and action items each week in the comments. ticket for reference  : https://github.com/hackforla/CivicTechJobs/issues/16

if you need any help getting that format please let me know,

[2022-02-07 00:54] patula006 commented on #140
I did have a separate agenda that was really more of a placeholder (and I was going to delete it) but I don't see it anymore so I don't know if you are referring to that or this format which I got from Jen. Please let me know. Thanks!

[2022-02-07 03:01] stephaniestahlberg commented on #132
@Aveline-art it does seem like a good idea for users to be able to send a direct link to a posting, so they can easily share the posting.

[2022-02-07 19:42] #112 closed

[2022-02-07 23:12] #12 closed

[2022-02-08 01:28] sdimran commented on #76
@graceerya  you can include the notes and feedback from bonnie regarding the proposed flow here. can we also include a link to the figma in the resources to indicate where the protoypes presented are?

Thanks!

[2022-02-08 03:11] sharadgaurav7 opened #144 "User Flow - Usability Test"
### Dependency
- [x] #76
- [x] #160

### Overview

Based on the requirements gathered, the team has created UX design for the user flow that will assist a potential volunteer find their desired opportunity at various projects at HackforLa. We need to test this user flow and make iterations before developing the actual webpages.

### Action Items

- [x] Review the current user flow with the team
-

[2022-02-08 03:22] sharadgaurav7 opened #145 "User Test/Research CMS Wireframe"
### Dependency

- [x] #12
- [x] #139

### Overview

Based on the requirements, product team has created a wireframe of the potential CMS system that will help product managers, and team leads to post/edit/remove volunteer opportunities within their project. We need to collect more data on other features, and user flow that this CMS needs to have.

### Action Items

- [x] Review the wireframe creat

[2022-02-08 17:41] jenchuu commented on #135
## Feb 08, 2022 Agenda and Notes

### Prework
- [x] Create and post [UXD open role card on UI/UX GitHub](https://github.com/hackforla/UI-UX/projects/3#card-77034347) to recruit 2 UXDs

### Roll Call
#### Recurring items
 - [ ] Review [Issues in progress](https://github.com/hackforla/CivicTechJobs/projects/1#column-10928272)
 - [ ] Accountability and Support Check
    - [ ] Update from Grace on mee

[2022-02-08 21:33] Aveline-art commented on #64
Recycled issue back to backlog

[2022-02-08 22:25] sdimran commented on #16
02/08/22

Participants:

Agenda:

- [ ] Introduce new joiners
- [ ] Developer landing page updates
- [ ] UX review of the prototype
- [ ] UXR general updates and review of the first page of our "new volunteer user flow" [Research Plan](https://docs.google.com/document/d/1RHWj2SVebM_SAvOFzx9pPy19JoCG-zzqtdqu2Bu5qA4/edit#)
- [ ] Open discussion (questions and reviews)

General notes:

Action items:

[2022-02-08 22:34] sdimran commented on #125
Unnassigned Bonnie so we can work on the format as per @sharadgaurav7 feedback from sundays meeting

[2022-02-08 22:43] sdimran commented on #122
Hi @jenchuu  i think we have made a decision on the login page based on the prototype feedback. this issue is in links questions and review are we good to move it to done or are there additional questions outstanding?

[2022-02-08 22:45] sdimran commented on #80
Hi @sharadgaurav7 have we come to a final decision on this issue? i would like to have it solidified so that UX can finalize and hand it off to Dev

[2022-02-09 01:08] jenchuu commented on #122
@sdimran Hi we need to put back into work in progress since we need to change the log in illustration due to Bonnie's comment.

[2022-02-09 01:23] Aveline-art commented on #78
The ops team has gotten back to me with some minimum requirements for deployment:

- [ ] production settings are in place
- [ ] the docker container runs when using production settings

[2022-02-09 02:07] sdimran commented on #132
@sharadgaurav7  something for us to discuss further and give feedback to Ava for

[2022-02-09 02:52] janzenmolina opened #146 "New Issue Practice (Onboarding)"
### Dependency

- [ ] [](https://github.com/hackforla/CivicTechJobs/issues/144)

### Overview

The quick brown fox

### Action Items

- [ ] This thing
- [ ] That thing

### Resources/Instructions

[Resources](https://github.com/hackforla/CivicTechJobs/wiki/Resources)

[2022-02-09 03:43] Aveline-art opened #147 "Add prettier as a pre-commit hook"
### Dependency

_No response_

### Overview

As a developer, we want to make sure the process of developing is easy for us, so that we can deliver high-quality work at a quickened pace. For this issue we will install prettier as a pre-commit hook.

### Action Items

- [ ] Configure the repo such that prettier runs on commit.

### Resources/Instructions

[Resources](https://github.com/hackforla/Civ

[2022-02-10 06:10] Aveline-art commented on #132
@sdimran To give some context on urls:

Urls provide gateways to access a page or a page's state. To clarify the difference between a page and page's state, let's use GitHub as an example.

- The url for this issue is: `https://github.com/hackforla/CivicTechJobs/issues/132`
- The url for a comment on this issue is: `https://github.com/hackforla/CivicTechJobs/issues/132#issuecomment-1031023605`

No

[2022-02-11 20:40] Aveline-art opened #151 "Add sign-in through 3rd party apps"
### Dependency

- [ ] This will be a post MVP1 task (will depend on MVP launch)

### Overview

As a developer we need to meet stakeholder needs. For this issue, we will add sign-in through 3rd party applications to our product.

### Action Items

- [ ] Compile the necessary settings and modifications we would need to enable sign-in through these 3rd party websites
  - [ ] GitHub
  - [ ] Google

##

[2022-02-11 20:44] Aveline-art commented on #151
Questions for the team:

1. I am not sure this issue has a high enough scope to adversely affect other developer issues. On the other hand, websites can change their authorization policy at the drop of the a hat (for example, GitHub only allows PAT tokens for API access as of last year). Therefore, it is my opinion that this issue should only be done as we near MVP.

[2022-02-11 22:37] sdimran commented on #36
Thanks Ava -- I missed this comment. i will submit that request

[2022-02-12 00:33] sharadgaurav7 opened #152 "Create a CTJ Communications guide"
### Overview

We need to create a Communication (style) Guide for Document Creation so that the documents that come out of our projects have a consistent look and feel. Coordinate with HfLA org leadership to maintain brand consistency both in our project and with other projects in the portfolio.

### Action Items

- [x] Gather examples from other projects at Hackforla
- [x] Gather Banner Images, a

[2022-02-12 00:35] Aveline-art commented on #36
@sdimran Is this issue done? Can I close it?

[2022-02-12 01:35] sdimran commented on #101
[02/06/22] Agenda and notes

Prework
 issue for audit https://github.com/hackforla/CivicTechJobs/issues/51

Roll Call

Recurring items: Happens on the PM Sunday meeting

 Accountability and Support Check

- [ ] Review assignments for each PM

 [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
 [Sharad](https://github.com/hackforla/CivicTechJobs/issues/assign

[2022-02-13 00:54] sdimran commented on #36
yup we can close it -- i have created an issue on the VRMS board to have the team meetings added.

[2022-02-13 00:54] #36 closed

[2022-02-13 16:18] Aveline-art commented on #39
### Agenda for February 15, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Weekly check-in
  - [ ] What have I worked on this week?
  - [ ] What am I working on now?
  - [ ] What blockers do I have?
  - [ ] What do I plan to work on in the future?
- [ ]

[2022-02-13 17:27] sdimran commented on #38
- [ ] day Tuesday
- [ ] start_time
  - [ ] AM
  - [ ] PM
- [ ] duration_in_min : 60
- [ ] name_of_meeting: UI/UX Meeting
- [ ] who_must_attend
  - [ ] pm
  - [ ] all_leads
  - [ ] design_lead
  - [ ] research_lead
  - [ ] frontend lead
  - [ ] data_science_lead
  - [ ] design
  - [ ] research
  - [ ] frontend
  - [ ] backend
  - [ ] data_science
  - [ ] other: please explain
- [ ] who_should_atten

[2022-02-13 18:52] sdimran commented on #16
02/15/22

Participants:

Agenda:
discuss the job description typography and see if anyone would like to be a part of the group to spearhead this.

discuss github wiki documentation for developers
discuss Idea of holding a retrospective to reflect on how the project has been going so far (start, stop, continue)

General notes:

Action items:

[2022-02-13 19:05] sdimran commented on #51
Date: 2/13/22
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at (0/4)
   - [ ] features, ending at (0/0)
   - [ ] role, ending

[2022-02-13 20:06] ExperimentsInHonesty commented on #125
![image](https://user-images.githubusercontent.com/37763229/153772781-d752c549-01d0-44b2-9f44-b61727c0a0dc.png)

[2022-02-13 20:59] stephaniestahlberg commented on #125
Comment from Bonnie on the banner: the image is hard to see and understand on mobile. We should select a simpler image.
My comment on this: perhaps the CTJ logo would suffice? Moving that to the center.

@stephaniestahlberg to edit the survey based on the discussion with Bonnie today. Bonnie can review again at next Sunday's meeting.

[2022-02-13 23:02] sdimran commented on #152
@janzenmolina

Feedback for Banner image :

- Look and feel is great
- really like the logo on the left and HfLA logo on right
- as discussed with bonnie today her feedback was that the hero image in the banner due to the scaling looks a little busy (smaller components also look even smaller like the laptops and all). can we try out a few versions of the image from the same style? I know we used a

[2022-02-14 05:27] stephaniestahlberg commented on #125
The survey has been updated based on today's discussion with Bonnie. Please see [here](https://docs.google.com/forms/d/e/1FAIpQLSdTM20e-XBD3_fmTPlYfkBKT7cv7aKdO1b2yx_OCrbHLCvLog/viewform).

Pending items to discuss at the next team meeting:
* Review the question on collaboration tools to check if any are missing. Any tools used for data analysis?
* Question on what is important when selecting a pr

[2022-02-16 01:58] jenchuu commented on #135
## Feb 15, 2022 Agenda and Notes

### Prework

### Roll Call
#### Recurring items
 - [ ] Review [Issues in progress](https://github.com/hackforla/CivicTechJobs/projects/1#column-10928272)
 - [ ] Accountability and Support Check
    - [ ]
#### New Items
- [ ] Designate note taker for today's meeting
- [ ] Janzen to create issue or link to existing issue for Google form banner.. Ask PMs and UXRs
- [

[2022-02-16 02:41] slavdefense commented on #65
I need help on xyz. Here are some screenshots. Here is a link to my repositories branch for you take a look.
![Line 152](https://user-images.githubusercontent.com/77471354/154186059-76d106f7-2609-4b87-9e60-c9162c12b69a.png)

[2022-02-16 03:04] Aveline-art commented on #39
### Post-meeting notes, monthAsText dd, yyyy

<details>
<summary>Click for notes</summary>
<br>

insertNotesHere

<br>
</details>

[2022-02-16 03:45] Aveline-art opened #159 "Set up Backend Infrastructure"
### Overview

As a developer we need to have a backend to store our app critical data. For this issue we will set up the backend infrastructure.

### Action Items

- [x] In accordance to Django and DRF best practices, create our backend architecture
  - [x] As part of this, also incorporate swagger as part of our backend UI
- [x] Edit wiki to add information on our architecture
- [x] This issue ca

[2022-02-16 18:51] jenchuu opened #160 "New User Flow Prototype for usability test (UX)"
### Overview

As a UX Designer we to test the New User Flow prototype to gain necessary data and insights to inform our design decisions and iterations, thereby improving users' experience.

###  Details
 For this issue, we will create a limited New User Flow prototype in Figma and handoff to the UX Researchers to start testing.

**Desktop and mobile flow

### Action Items

- [x] Finish each page

[2022-02-16 18:52] jenchuu commented on #160
@sdimran @sharadgaurav7 Does this fall under Architecture ? Or do we need a new feature for prototypes?

[2022-02-16 18:58] jenchuu opened #161 "Onboarded User Flow for usability test (UX)"
### Overview

As a UX Designer we to test the Onboarded User Flow prototype to gain necessary data and insights to inform our design decisions and iterations, thereby improving users' experience. For this issue, we will create a limited Onboarded User Flow prototype in Figma and handoff to the UX Researchers to start testing.

**Desktop flow

### Action Items

- [x] Finish each page revisions
- [x

[2022-02-16 21:34] jenchuu commented on #77
@Aveline-art
Can we store user's qualifier info data via cookies? I remember we brought it up several times before but not sure if we confirmed how that would work.. especially if we are changing the button on each project role card on the search results page to: Attend onboarding

[2022-02-16 21:40] jenchuu commented on #60
@Aveline-art yes assets are in Figma. I also believe Ingrid and Cherri saved copies of the assets in the Google drive.

[2022-02-16 21:50] #136 closed

[2022-02-16 21:54] Aveline-art commented on #77
User data is guaranteed to be stored in cookies as long as:

1. the data had been entered
2. the user had not left our website (note, **website** not **url**)\*
3. the user did not clear cookies

You might want to tag steps to your userflow to indicate "no data entered", "data stored as cookies", or "data stored in server", based on the above criteria.

For reference: for user data to be stored pe

[2022-02-17 01:37] sharadgaurav7 commented on #77
@jenchuu , we would not want to save the inout data on qualifiers page using cookies. In addition to what Ava mentioned, If the user chooses to use a different browser, or a computer they will not be able to see their previous inputs. Cookies are browser specific.

[2022-02-17 04:10] stephaniestahlberg commented on #140
02/15/22

Participants: @stephaniestahlberg @patula006 @Dendorable

Agenda:
- [ ] Survey updates
- [ ] CMS wireframe updates
- [ ] Usability testing planning
- [ ] Stephanie to share CTJ account details for Zoom and Calendly

Notes:
* Survey has been updated as per Bonnie's feedback and will be reviewed again this Sunday
* Researchers have reviewed the CMS wireframes and prepared feedback for Shar

[2022-02-18 18:22] janzenmolina opened #162 "Google Form Banner"
### Dependency
N/A

### Overview

As a designer, we need to ensure that the banner on our Google Form surveys conveys the concept of what Civic Tech Jobs is to users while being clearly visible on all platforms.

### Action Items

- [x] Revise banner for visibility on mobile/small screen sizes
- [x] Present banner to team
- [x] Revise based on team feedback
- [x] Decide on final design for banner

[2022-02-18 18:57] Aveline-art opened #163 "Provide Landing Page Image as Single SVG"
### Dependency

- [x] #73

### Overview
As a a developer we would like to have a single whole image to work with rather than puzzle pieces so that images are simpler to replace. For this issue we will create a single SVG for the landing page.

### Action Items

#### Designers

- [x] Add to the Figma assets the full background image from the landing page
- [x] Return the issue back into new issue a

[2022-02-19 20:12] Aveline-art commented on #39
### Agenda for monthAsText dd, yyyy

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Weekly check-in
  - [ ] What have I worked on this week?
  - [ ] What am I working on now?
  - [ ] What blockers do I have?
  - [ ] What do I plan to work on in the future?
- [ ] Check that the team have 2fa, see this [link](https://docs.google.com/presentation/d/1CVxhSjUbElQx83ZCrWBTBiz7qW

[2022-02-19 22:11] stephaniestahlberg commented on #125
Hi @ExperimentsInHonesty the survey is ready for your review - I made the changes we discussed last Sunday. It also includes the new CTJ banner. It would be great to include it in the slides/instructions for the next onboarding session on 2/21. Let me know if there are any proposed changes and I can make them before the onboarding.

[2022-02-20 19:57] sdimran commented on #132
we will be using the method: redacted version of shared link -- they will need to go through the qualifier page and go through the normal process

[2022-02-21 17:19] jenchuu opened #164 "How to join page (UX)"
### Overview

As a UX Designer, we need to help new potential volunteers understand the steps of how to join Civic Tech Jobs.
We will create an informative How to join page with illustrations and potentially a FAQ section at the bottom for new potential volunteers.

### Action Items

- [x] Ideate via wireframes
- [x] Discuss ideations among designers
- [x] Select and annotate designs
- [x] Present

[2022-02-21 17:20] jenchuu commented on #164
@sdimran @sharadgaurav7 Can we create new P-feature: How to join page? or should we put under P-feature: Navigation ?

[2022-02-22 17:09] jenchuu commented on #135
## Feb 22, 2022 Agenda and Notes

### Prework

### Roll Call
#### Recurring items
 - [ ] Review [Issues in progress](https://github.com/hackforla/CivicTechJobs/projects/1#column-10928272)
 - [ ] Accountability and Support Check
    - [ ]
#### New Items
- [ ] Designate note taker for today's meeting
- [ ] Edit prototype and handoff to UXRs to begin testing

#### Task items from Team meeting to revi

[2022-02-23 00:28] sdimran commented on #140
2/2/22

 Agenda and Notes

Prework
NA

Roll Call
Stephanie, Helene, Patty

Agenda

New volunteer survey status

Validate user flow (Github https://github.com/hackforla/CivicTechJobs/issues/76 – to be updated next week) – the PMs asked that this be our priority; the latest is that folks can login to save their screener info so that it doesn’t have to be re-entered later – but is this ideal? Discuss

[2022-02-23 00:32] sdimran commented on #16
02/22/22

Participants:

Agenda:

- [ ] Developer Updates
- [ ] UI/UX Updates
- [ ] Research Updates
- [ ] Discuss the job description typography and see if anyone would like to be a part of the group to spearhead this.

General notes:

Action items:

[2022-02-23 00:36] sdimran commented on #146
I think we can close this issue @janzenmolina

[2022-02-23 00:41] sdimran commented on #164
We can create a new feature for the how to join page

[2022-02-23 01:35] jenchuu commented on #122
**Log in pages:**
<img width="1606" alt="Log in page (desktop and mobile)" src="https://user-images.githubusercontent.com/88695763/155248164-3ae38c7e-ba57-4495-a87f-afd5cd0ebf6f.png">

**Sign up pages:**
<img width="1652" alt="Sign up page (desktop)" src="https://user-images.githubusercontent.com/88695763/155248186-8b5ad784-c2f8-41ae-aeeb-48471cfc0584.png">

<img width="1562" alt="Sign up page (mo

[2022-02-23 01:52] #146 closed

[2022-02-23 02:02] patula006 commented on #41
Here is the recruitment message that the UX researchers wrote for Bonnie to review. Bonnie also requested that she meet with the UXRs next Wednesday 2/2 at noon PST. We are waiting the calendar invite for that. We need Bonnie to review this message.
**Note**: the message will include a lot of emojis!

**Recruiting message for Slack channel:**
Hi there, new volunteers! Ready to get a taste for Hack

[2022-02-23 07:51] graceerya commented on #164
These are the designs for the How to Join page as finalized by the design team:

**Desktop:**

- Explored a dark blue background but decided to continue with tan hero image
- Added tooltip next to Step 1 that defines CoP

**Mobile:**

- Kept general design of hero image but removed dots for more space and centered all content
- Also includes tooltip for Step 1 to define CoP
- Line runs through all

[2022-02-23 19:00] Aveline-art commented on #121
Closed because completed!

[2022-02-23 19:06] Aveline-art opened #165 "MKDocs migration"
### Overview
As a developer we need to provide high quality documentation to the team. For this issue we will move from the GitHub wiki to MKDocs as the interface is a lot more friendlier and feature-intensive.

### Action Items

#### For org admin

- [x] Create an new repository called CivicTechJobs-Documentation
- [x] Add the team to this repository
- [x] Swap role label to backend and place iss

[2022-02-23 20:03] eva32lee commented on #24
We iterated upon our design based on feedback we received in a previous team meeting as well as preliminary user testing conducted with @janzenmolina.

In order to clarify that

we combined technologies and languages into a more general "skills" headline, and added a tooltip informing prospective volunteers that skills aren't required, but can be beneficial to know beforehand

<img width="890" alt

[2022-02-23 22:47] janzenmolina commented on #162
I created the initial banner design given the following criteria:

[2022-02-23 23:02] janzenmolina commented on #162
Feedback from Bonnie after 2/13/22 meeting:

- Look and feel is great
- really like the logo on the left and HfLA logo on right
- the hero image in the banner due to the scaling looks a little busy (smaller components also look even smaller like the laptops and all)

[2022-02-23 23:17] janzenmolina commented on #162
Using the feedback, I initially suggested replacing the people in the hero illustration with a magnifying glass as that would convey the "survey" aspect of the form while making it easier to depict in a vector image, even at smaller sizes. However, per advice from @jenchuu , the banner design is meant to convey the purpose of Civic Tech Jobs itself rather than the surveying method, in which case t

[2022-02-25 17:38] Aveline-art opened #167 "Expand title and paragraph classes to tags"
### Dependency

_No response_

### Overview

As a developer we need to ensure that our website uses SEO by using the correct HTML tags for the job. For this issue we will customize our <h#> tags with the appropriate title mixin, so that they can be used in place of the title classes and ensure SEO.

### Action Items

- [x] In our typography basics, customize the <h#> tags with our title mixin. To

[2022-03-01 01:46] sharadgaurav7 commented on #16
03/01

Participants

Agenda:

- [ ] Job description taxonomy, team volunteer
- [ ] UI/UX Updates
- [ ] Research updates
- [ ] CMS Wireframe

General Notes:

[2022-03-01 04:08] stephaniestahlberg commented on #46
What are our success indicators, which show that CTJ works better than the old process? We cannot use many of the more traditional indicators, such as time spent on task, task success rate, back button clicks, error rate, etc., derived from usability tests and/or website analytics, because these are not tracked for the current process that volunteers go through to join HfLA and projects. But we ca

[2022-03-02 01:19] jenchuu commented on #135
## Mar 01, 2022 Agenda and Notes

### Prework

- [ ] Finish prototype

### Roll Call
#### Recurring items
 - [ ] Review [Issues in progress](https://github.com/hackforla/CivicTechJobs/projects/1#column-10928272)
 - [ ] Accountability and Support Check
    - [ ]
#### New Items
- [ ] Designate note taker for today's meeting
- [ ] Finish making hamburger mobile menu

#### Task items from Team meeting

[2022-03-02 02:58] #127 closed

[2022-03-02 03:02] patula006 commented on #145
3/1/22 Discussed Sharod updating the CMS Figma design:

- Include timezone (probably best to use PST)
- Label "Dashboard" on the left side and "enter roles" on the right [this last part is not exact - I do not recall what Sharod mentioned calling the right side of the page]
- add project cards as per Stephanie's comment
- notes can be found [here](https://docs.google.com/document/d/15ZAPbbp3yq1nbW

[2022-03-02 05:34] stephaniestahlberg commented on #140
03/01/22

Participants: @stephaniestahlberg @patula006

Agenda:

- [ ] Discuss plan for CMS research and assign tasks
- [ ] Make a list of items to be discussed with Bonnie tomorrow
- [ ] Usability testing planning

Notes:

* Patty will lead the CMS script for testing. Stephanie will add questions to be used for metrics.
* Items to be discussed with Bonnie are: Slack recruiting message for new vol

[2022-03-03 00:54] stephaniestahlberg commented on #144
The recruiting message for Slack has been finalized with Bonnie. The message will go out on 3/8 (sent by Bonnie on the new joiner Slack channel), shortly after Monday's onboarding meeting, so we can recruit from the next batch of new volunteers that have not attended onboarding yet. If people don't sign up, our backup plan is to try to recruit directly from Meetup (among people who have signed for

[2022-03-03 00:59] stephaniestahlberg commented on #125
@ExperimentsInHonesty The new volunteer survey has been finalized after another review with Bonnie. Pending items (for Bonnie) are to: set up the new survey with HfLA's data dashboard, and include the survey link in the onboarding slides.

[2022-03-03 08:46] graceerya opened #168 "Progress Bar Component (Design System)"
### Overview

As designers, we need to create components of the progress bar used in our designs (ie. Qualifier Page) to insert into the design system and share with the dev team.

### Action Items

- [x] Create components/variants
- [x] Review/finalize variants

### Resources/Instructions

[Figma Tutorial: Variants](https://www.youtube.com/watch?v=y29Xwt9dET0&t=193s)
[CTJ Design System Figma Page

[2022-03-03 19:30] jenchuu commented on #80
@sdimran @sharadgaurav7 Sharad mentioned comments about possibly needing two log in buttons? Where might the comments regarding this idea be?

[2022-03-03 21:00] stephaniestahlberg commented on #80
Instead of having two logins, how about after the user logins, there is an option to browse roles or post a role? That seems more intuitive. Especially compared to a CMS button that most people won't know what it means.

The option to post a role might be restricted to certain roles/accounts, right? I don't know how exactly that would work, but if I understand correctly, we don't want anyone with

[2022-03-04 00:56] jenchuu commented on #80
Thanks for explaining @sharadgaurav7
The designers and I agree with @stephaniestahlberg

I thought we had agreed we would have ONE log in for both volunteers and teams - with the backend being able to recognize the user type. Once a team lead is logged in, there would be a dropdown menu with CMS type options.

[2022-03-04 01:00] sharadgaurav7 commented on #80
@stephaniestahlberg , @jenchuu  we have argued for and against each of these options. Based on our discussions, we strongly believe  using a separate login will reduce the number of steps and reduce confusion.

I will recommend moving ahead with the two logins, and let the data prove or unprove the hypothesis.

[2022-03-04 02:24] slavdefense opened #169 "New Footer Image"
### Dependency

_No response_

### Overview

As a developer, we need images that are easier to center so that they can be easy to format and replace. To this issue we will make edits to the images used on our footer.

### Action Items

- [ ] Find the images specified in resources in the footer for the landing page.
- [ ] Trim extra space from the image.

### Resources/Instructions

[Resources](htt

[2022-03-04 08:24] eva32lee opened #170 "Disclaimer Banner Component (Design System)"
### Overview

As designers, we need to create components of the disclaimer bar used in our designs (i.e. Qualifier Page, Search Page) to insert into the design system and share with the developer team.

### Action Items

- [x] Create floating disclaimer banner for desktop (Qualifier page)
- [x] Create fixed disclaimer banner for desktop (Search page)
- [x] Create floating disclaimer banner for mob

[2022-03-04 22:48] #65 closed

[2022-03-06 18:24] sdimran commented on #51
Date: 03/06/22
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] added 2 labels to the feature link (Dependancy, P Feature: How to join)
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ]

[2022-03-06 18:25] sdimran commented on #101
[02/13/22] Agenda and notes

Prework

- [ ]  issue for audit https://github.com/hackforla/CivicTechJobs/issues/51

Roll Call:

Recurring items: Happens on the PM Sunday meeting

Accountability and Support Check

- [ ]  Review assignments for each PM
- [ ]  [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
- [ ]  [Sharad](https://github.com/hackforla/CivicTec

[2022-03-06 20:46] ExperimentsInHonesty commented on #125
Edit the [slide ](https://docs.google.com/presentation/d/1bueC40PkklLSJVPttiFeYJvcB69PgJx8pxZK5G7gzzo/edit#slide=id.g1148b651ead_0_2
)with the link to the survey in the onboarding deck to explain why or something that will encourage them to do it.

[2022-03-06 21:06] ExperimentsInHonesty commented on #16
## 2022-03-08 Meeting Agenda

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column]
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Team member
       - [ ] [Grace](https://github.com/hackforla/CivicTechJobs/issues/assigned/graceerya)
       - [ ] Jen
       - [ ] Stephanie
       - [ ] Patty
       - [ ] Helene
       - [ ] Janzen

[2022-03-06 21:10] ExperimentsInHonesty commented on #168
@graceerya This issue is in the prioritized backlog, and it has you assigned to it.  If you are not working on it currently, please remove your assignment or move it to the prioritized backlog.  You may only have one issue assigned to you at a time.

You currently are assigned to waaaaay too many issues
https://github.com/hackforla/CivicTechJobs/issues/assigned/graceerya

I realize that that is a

[2022-03-06 21:11] ExperimentsInHonesty commented on #160
@graceerya and @jenchuu  This issue is in the prioritized backlog, and it has you assigned to it.  If you are not working on it currently, please remove your assignment or move it to the prioritized backlog.  You may only have one issue assigned to you at a time.

You currently are assigned to waaaaay too many issues
https://github.com/hackforla/CivicTechJobs/issues/assigned/graceerya
https://gith

[2022-03-07 04:06] sdimran commented on #125
@ExperimentsInHonesty i cant seem to give @stephaniestahlberg edit access to the slide deck -- might be because i am also on view only access. I think Stephanie has requested edit access to the link (stephaniegz@gmail.com). can you approve from your end?

[2022-03-07 06:27] stephaniestahlberg commented on #125
@ExperimentsInHonesty I added a quick explanation of the survey's purpose onto slide 29.

[2022-03-07 06:27] #125 closed

[2022-03-07 06:32] stephaniestahlberg commented on #140
03/08/22

Participants: @stephaniestahlberg @patula006 @Dendorable

Agenda:

- [ ] "New volunteer" usability testing schedule based on participant sign-ups
- [ ] Discuss and finalize CMS research script
- [ ] Make a recruiting plan for the CMS research

Notes:

[2022-03-07 20:59] eva32lee commented on #24
We made changes to the mobile version mirroring those of desktop, including:

- combining languages and technologies into a more general "skills" section
- adding a tooltip to indicate that skills are not required but preferred

<img width="947" alt="Screen Shot 2022-03-07 at 12 57 10 PM" src="https://user-images.githubusercontent.com/76968000/157116881-3c470700-2f51-42aa-bbf8-0b601a514038.png">

[2022-03-08 00:49] sharadgaurav7 commented on #76
@jenchuu , I think this issue is complete. Can you please close it.

There's another issue ( #144 )that has dependency on this one, for the issue #144 to be active, this one has to be completed.

[2022-03-08 00:57] sharadgaurav7 commented on #52
@jenchuu , will you please check off all the completed action items on the issue, and assign @stephaniestahlberg for the usability search part

[2022-03-08 01:13] Aveline-art commented on #39
### Agenda for March 08, 2022

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Weekly check-in
  - [ ] What have I worked on this week?
  - [ ] What am I working on now?
  - [ ] What blockers do I have?
  - [ ] What do I plan to work on in the future?
- [ ] First issue introspective
  - [ ] How did it feel to work on a difficult issue?
  - [ ] How can we work together to im

[2022-03-09 00:00] janzenmolina commented on #162
Closing as #125 has also been closed

[2022-03-09 00:00] #162 closed

[2022-03-09 00:09] jenchuu commented on #76
Yes done. Moved to Review column.

[2022-03-09 00:11] jenchuu commented on #160
@ExperimentsInHonesty
We are working on it. Just finished editing the mobile and desktop flows for UXRs to use during the usability tests. I'll move to Review column.

[2022-03-09 00:15] jenchuu commented on #160
New user flow (desktop)
<img width="1093" alt="New user flow (desktop)" src="https://user-images.githubusercontent.com/88695763/157347631-fad4fc4a-9bde-4168-9d8c-55043f7dd837.png">

New user flow (mobile)
<img width="1094" alt="New user flow (mobile)" src="https://user-images.githubusercontent.com/88695763/157347760-584af613-07e5-4eb5-a4e2-3ad3e83d1783.png">

[2022-03-09 00:19] jenchuu commented on #24
@eva32lee  Please add updated final designs with the changed copy banner for both desktop and mobile designs.

[2022-03-09 00:24] jenchuu commented on #52
This was not the issue we were using to log the search page design. Please see https://github.com/hackforla/CivicTechJobs/issues/24

[2022-03-09 00:37] jenchuu commented on #80
@sharadgaurav7 OK, we have changed the nav bar items in desktop and mobile to reflect this:

Desktop
<img width="1085" alt="CTJ nav bar items (desktop)" src="https://user-images.githubusercontent.com/88695763/157349889-1328776e-54ba-43ce-966e-c0a8f7323a5a.png">

Mobile
<img width="465" alt="CTJ hamburger menu items (mobile)" src="https://user-images.githubusercontent.com/88695763/157349906-9a176b9

[2022-03-09 01:02] jenchuu commented on #135
## Mar 08, 2022 Agenda and Notes

### Prework

- [ ] Edit and finish prototype for usability testing

### Roll Call
#### Recurring items
 - [ ] Review [Issues in progress](https://github.com/hackforla/CivicTechJobs/projects/1#column-10928272)
 - [ ] Accountability and Support Check
    - [ ] @eva32lee Component - disclaimer banner
    - [ ] @graceerya Component - progress bar
    - [ ] @janzenmoli

[2022-03-09 01:22] ExperimentsInHonesty commented on #168
@graceerya
Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate

[2022-03-09 01:33] sharadgaurav7 opened #171 "Analyze new volunteer survey results"
### Overview
As a researcher, we need to analyze, summarize and present the new volunteer survey results so they can inform UX tools such as user personas, and we can make data-informed decisions about CTJ. In the survey, new volunteers report what they are looking to gain from the HfLA experience and what they are looking for in a project, and those responses can inform our decision on how to pri

[2022-03-09 01:34] janzenmolina opened #172 "Sticky Bar Component (Design System)"
### Overview

As designers, we need to create components of the sticky bar used in our design for the qualifier page to share with the research and developer teams, where the approved versions will be added to the design system. For reference, sticky is defined as being fixed in position on the page regardless of the user's scroll position.

### Action Items

- [x] Create sticky bar component with

[2022-03-09 01:35] jenchuu opened #173 "Component"

[2022-03-09 01:35] sharadgaurav7 commented on #171
@stephaniestahlberg , can you please edit and complete this issue

[2022-03-09 01:58] #52 closed

[2022-03-09 02:04] sharadgaurav7 commented on #45
@jenchuu , can you please edit this issue as needed

[2022-03-09 02:34] #73 closed

[2022-03-09 04:29] Aveline-art opened #175 "Split Cards into Multiple Components"
### Overview

As a developer we need to keep our codebase clean by keeping a one file per component rule. For this issue we will separate out our cards into different files so that they are easier to find.

### Action Items

- [ ] Find the components in the specified file below.
- [ ] Split the components into different files, both js and scss, named after the components
- [ ] Make sure that the w

[2022-03-09 04:30] eva32lee commented on #77
We have updated the copy on the disclaimer banner in order to more concisely and accurately inform users of the onboarding session required to join a project.

In particular, the "learn more" text leads users to the "How to Join" page (as opposed to the Meetup) so that users are encouraged to understand why onboarding is required to see full details of each project.

<img width="880" alt="Screen S

[2022-03-09 04:31] Aveline-art opened #176 "test"
### Dependency

test

### Overview

test

### Action Items

- [ ] Item 1
- [ ] Item 2

### Resources/Instructions

[Resources](https://github.com/hackforla/CivicTechJobs/wiki/Resources)

[2022-03-10 03:12] Aveline-art commented on #165
Organization tasks was completed as of March.9.2022. Link to docs repo is [here](https://github.com/hackforla/CivicTechJobs-Documentation).

[2022-03-12 16:42] sharadgaurav7 commented on #139
Discussed with @patula006. Handed this wireframe to the UXR team for research

[2022-03-12 16:42] #139 closed

[2022-03-12 16:45] sharadgaurav7 commented on #145
@patula006 , have moved your research plan to the shared drive. Adding the file under resources on the issue description.
https://docs.google.com/document/d/1OiLjlT1huexBZL7vcqNBqTbQCDULf_zN4AYWkWEv_0k/edit

[2022-03-12 16:52] sharadgaurav7 commented on #76
@jenchuu , please make sure a copy of this is on the shared drive. Closing this issue, thank you for the works here!

[2022-03-12 16:53] #76 closed

[2022-03-12 16:53] sdimran commented on #117
@Aveline-art do we need to have the community profile? we mainly use our wiki for this kind of information

[2022-03-12 16:55] sharadgaurav7 commented on #160
@stephaniestahlberg , please confirm if you're able to access this prototype and it is complete. If yes, please close this issue or let us know.

[2022-03-12 16:57] sharadgaurav7 commented on #164
@ExperimentsInHonesty, we wanted you to take a look at this concept and let us know if you approve.

[2022-03-12 16:59] sharadgaurav7 commented on #164
@ExperimentsInHonesty, we wanted you to take a look at this concept and let us know if you approve.

[2022-03-12 17:00] sharadgaurav7 commented on #80
@ExperimentsInHonesty , we need you to review this and provide your feedback. Will add this to our agenda item for the meeting on 3/13/22

[2022-03-12 17:02] sharadgaurav7 commented on #164
@ExperimentsInHonesty , we need you to review this concept and provide you approval.

[2022-03-12 17:06] sharadgaurav7 commented on #122
@ExperimentsInHonesty , please review and provide feedback.

[2022-03-12 17:06] sdimran commented on #170
@eva32lee do we have any details about which components will be created for this under action items? if possible please break it down by those so we can better see the work effort required for this. Thank you!

[2022-03-12 17:08] sharadgaurav7 commented on #122
@sdimran, and I approve. Closing the issue.
@jenchuu , @graceerya  we need a separate issue for CMS login screens.

[2022-03-12 17:08] #122 closed

[2022-03-12 17:10] sharadgaurav7 commented on #132
@Aveline-art , is this issue being worked on? Are there any additional questions for the product team? If not, should we move this issue to Done?

[2022-03-12 17:11] sharadgaurav7 commented on #171
@stephaniestahlberg , can you please add the details to this issue.

[2022-03-12 17:12] sdimran commented on #172
@janzenmolina  do we still need this issue? i recall you mentioning during the team meeting it may not be required

[2022-03-12 17:14] sdimran commented on #173
@jenchuu was this created by accident?

[2022-03-12 17:20] sharadgaurav7 commented on #163
@Aveline-art , the dependency with this issue is cleared. Moving this to prioritized backlog, and changing the role to UX Design.

[2022-03-12 17:25] sharadgaurav7 commented on #136
@Aveline-art , are you able to delete this issue?

[2022-03-12 17:25] sharadgaurav7 commented on #51
Date:
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at (1/4)
   - [ ] features, ending at (0/0)
   - [ ] role, ending at (0/1)

[2022-03-12 17:28] sharadgaurav7 commented on #101
## [03/13/22 Agenda  and notes

### Prework
- [ ] issue for audit #51

### Roll Call

#### Recurring items: Happens on the PM Sunday meeting
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/CivicTechJobs/issues/assigned/ExperimentsInHonesty)
       - [ ] [Sharad](https://github.com/hackforla/CivicTechJobs/issues/as

[2022-03-12 17:49] Aveline-art commented on #136
We can, but I do also want to note that it is also possible to recycle issues by giving them a fresh title and body.

[2022-03-12 17:51] Aveline-art commented on #132
This issue is currently under review by development via pull request. It should stay in the backlog until the pull request is ready for merging.

[2022-03-12 17:57] Aveline-art commented on #117
@sdimran I would say it is something that is nice to have. One immediate advantage is that it standardizes our repo so freelance contributors have an easier way to navigate around our repository. I think it might also has search implications by making our repository easier to find.

[2022-03-13 01:17] stephaniestahlberg commented on #171
One question in the survey was edited to create a new response option:
"How important are each of these criteria to you when selecting a project to volunteer for?"
-> added option "Project offers a potential mentor for me" based on one submitted response that had said "Available mentorship" in the Other category.

I also removed the onboarding date question because Google Forms allowed respondents

[2022-03-13 01:33] stephaniestahlberg commented on #46
As we conduct Phase 1 of the CMS research and speak with PMs and Leads, we will ask them to identify the main pain points with the current Hack for LA process for posting roles and recruiting team members. These responses will help us create metrics to compare the current process with the new CTJ process. Each system's performance according to these metrics will be measured by surveys: for the cur

[2022-03-13 01:41] stephaniestahlberg opened #179 "Identify CTJ metrics based on CMS user research"
### Dependency

- [x] #145

### Overview

As a researcher, we need to use user research to help us define metrics for evaluating CTJ. We will discuss with PMs and Leads the problems and challenges they face with the current process for posting roles and recruiting at HfLA, and use these responses to define metrics that we can use to compare the old and new systems.

### Action Items

- [x] Discuss

[2022-03-13 01:53] stephaniestahlberg opened #180 "Design a survey for PMs and Leads for CTJ metrics"
### Dependency

- [x] #179

### Overview

As a researcher, we need to create a survey for volunteers who have experience with posting on the Github open roles board (who will mostly but not only be PMs and Leads) so they can evaluate the process for posting roles and recruiting at Hack for LA. These survey responses will generate scores on the CMS metrics we have defined.

### Action Items

- [x]

[2022-03-13 04:10] stephaniestahlberg commented on #179
What are some of the problems and challenges that people have had with the current process for posting and filling roles at Hack for LA? From the perspective of those posting and recruiting. Please share what you know, and that can help guide our discussion with PMs and Leads in the upcoming CMS research.

One problem I have heard from Bonnie:
* Teams get contacted by many people who are not onboa

[2022-03-13 04:17] stephaniestahlberg commented on #180
The survey will be sent out at least twice: once to evaluate the old system we currently have in place, and once in the future to evaluate the new system with CTJ once users have had a chance to experience the live MVP and can evaluate it accordingly. The same survey questions will be used so we can compare responses and ratings for the two systems. This Github issue covers only the first time the